In [1]:
import pandas as pd

# YJ 데이터

In [2]:
def total(total_place_csv,total_place2_csv ):
    total_place = pd.read_csv(total_place_csv) # 주요시설
    total_place2 = pd.read_csv(total_place2_csv) # 음식점 
    total_place = total_place.append(total_place2)
    total_place.drop('Unnamed: 0' , axis=1, inplace=True)
    total_place.reset_index(inplace=True)
    total_place.drop('index', axis=1 , inplace=True)
    return total_place

In [23]:
yj_total_place = pd.read_csv('yj_main_dish_place/total_place.csv')

In [24]:
yj_total_place.head() # 영준 제 1 테이블

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall,10000
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall,10001
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall,10002
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall,10003
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall,10004

In [63]:
yj_total_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17604 entries, 0 to 17603
Data columns (total 6 columns):
Unnamed: 0                 17604 non-null int64
facility_available_name    17604 non-null object
facility_is_available      17604 non-null object
place_name                 17604 non-null object
place_id                   17604 non-null int64
facility_id                17604 non-null int64
dtypes: int64(3), object(3)
memory usage: 825.3+ KB

In [3]:
yj_total_place_facility_available = pd.read_csv('yj_main_dish_place/total_place_facility_available.csv')

In [4]:
yj_total_place_facility_detail_info = pd.read_csv('yj_main_dish_place/total_place_facility_detail_info.csv')

In [5]:
yj_total_place_facility_available.head() # 영준 제 2 테이블

,Unnamed: 0,facility_available_name,facility_is_available,place_name,place_id,facility_id
0,0,주출입구 접근로,이용불편,A아트홀(구.신연아트홀),0,100000
1,1,주출입구 높이차이 제거,이용가능,A아트홀(구.신연아트홀),0,100001
2,2,주출입구 접근로,이용가능,BBC씨어터,1,100002
3,3,장애인 전용 주차구역,이용가능,BBC씨어터,1,100003
4,4,주출입구 높이차이 제거,이용가능,BBC씨어터,1,100004

In [6]:
yj_total_place_facility_detail_info.head() # 영준 제 3 테이블

   Unnamed: 0 facility_detail_info facility_available_name  facility_id
0           0                  평탄함                주출입구 접근로       100000
1           1                 단차없음                주출입구 접근로       100000
2           2      기울기 1/18~1/12이하                주출입구 접근로       100000
3           3              보/차도 구분                주출입구 접근로       100000
4           4              상세정보 없음            주출입구 높이차이 제거       100001

# HJ 데이터

In [8]:
hj_place = pd.read_csv('place.csv') # HJ1번테이블

In [9]:
hj_place.head()

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
0,0,20000,37.562726,127.032570,(구)왕십리클리닉빌딩,bank,서울특별시 성동구 왕십리로 333,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
1,1,20001,37.573937,126.983187,(재)대한불교계종유지재단,shopping/mart,서울특별시 종로구 우정국로 56,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
2,2,20002,37.485282,126.931355,(주)관전인베스트먼트,tourist hotel,서울특별시 관악구 신림로64길29 (신림동),"객실 및 침실,계단 또는 승강설비,대변기,복도,세면대,소변기,일반사항,장애인전용주차..."
3,3,20003,37.490768,126.982048,(주)대광메디텍,shopping/mart,서울특별시 동작구 동작대로35길 5,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4,4,20004,37.544932,126.910696,(주)동아일보사,bank,서울특별시 마포구 토정로 1,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."

In [10]:
hj_place_facility_available = pd.read_csv('facility_available.csv')  # HJ 2번테이블

In [11]:
hj_place_facility_available.head()

,Unnamed: 0,facility_id,facillity_available_name,facility_is_available,place_name,place_id
0,0,200000,계단 또는 승강설비,None,(구)왕십리클리닉빌딩,20000
1,1,200001,대변기,None,(구)왕십리클리닉빌딩,20000
2,2,200002,장애인전용주차구역,None,(구)왕십리클리닉빌딩,20000
3,3,200003,주출입구 높이차이 제거,None,(구)왕십리클리닉빌딩,20000
4,4,200004,주출입구 접근로,None,(구)왕십리클리닉빌딩,20000

# JM 데이터

In [16]:
jm_seoul_toilets = pd.read_csv('seoul_toilets.csv')

In [17]:
jm_seoul_toilets_facility  = pd.read_csv('seoul_toilets_facility.csv')

In [19]:
jm_seoul_toilets.head() # 정민 1 번테이블

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,남대문시장 화장실,서울특별시 중구 남창동 51-2,37.559433,126.976225,toilet/open,30000
1,1,광희동 화장실,서울특별시 중구 광희동1가 202-1,37.564371,127.006306,toilet/open,30001
2,2,신당 1호 화장실,서울특별시 중구 신당동 236-542,37.563819,127.013347,toilet/open,30002
3,3,신당 2호 화장실,서울특별시 중구 신당동 298-74,37.561325,127.013778,toilet/open,30003
4,4,청구역 화장실,서울특별시 중구 신당동 297-17,37.561317,127.013783,toilet/open,30004

In [18]:
jm_seoul_toilets_facility.head() #정민 2번테이블

   Unnamed: 0 facility_available_name place_name  place_id  facility_id
0           0                 남성용-소변기  남대문시장 화장실     30000       300000
1           1             남성용-장애인용대변기  남대문시장 화장실     30000       300001
2           2                 여성용-대변기  남대문시장 화장실     30000       300002
3           3             여성용-장애인용대변기  남대문시장 화장실     30000       300003
4           4                 남성용-대변기    광희동 화장실     30001       300004

In [20]:
jm_facility = pd.read_csv('facility_cleansed.csv')

In [25]:
jm_facility.head()  # 정민 1번 테이블

,Unnamed: 0,Unnamed: 0.1,category,place_name,place_address,lat,lon,place_id
0,0,0,daycare,영락,중구 수표로 33 (저동2가 69),37.563202,126.989182,40000
1,1,1,daycare,역삼주간보호센터,강남구 테헤란로8길 36 (역삼동 827-61) 강남문화원 2층,37.496507,127.032048,40001
2,2,2,wellfare,성민장애인복지관,노원구 노원로32길 30-3 (상계동 321-9),37.655624,127.069340,40002
3,3,3,wellfare,강서뇌성마비복지관,강서구 방화대로45길 69 (방화동 452-5),37.574198,126.812585,40003
4,4,4,daycare,모랫말꿈터,영등포구 도영로 37 (도림2동 205-24),37.510186,126.897488,40004

# JT 데이터

In [105]:
jt_subway_place = pd.read_csv('Place_subway_juntaek.csv')

In [106]:
jt_subway_facility = pd.read_csv('Facility_subway_juntaek.csv')

In [107]:
jt_subway_place.head()

   Unnamed: 0 place_name  place_id                lat          lon category
0           0       가락시장         0         37.4923175   127.118104   subway
1           1    가산디지털단지         1           37.48089  126.8825735   subway
2           2         간석         2          37.464689   126.693408   subway
3           3         강남         3  37.49794199999999   127.027621   subway
4           4       강남구청         4          37.517473  127.0411685   subway

In [108]:
jt_subway_facility.head()

,Unnamed: 0,place_name,place_id,facility_available_name,facility_id,facility_is_available
0,0,가락시장,0,화장실,900000,이용가능
1,1,가락시장,0,엘리베이터,900001,이용가능
2,2,가락시장,0,휠체어리프트,900002,이용가능
3,3,가산디지털단지,1,에스켈레이터,900003,이용가능
4,4,가산디지털단지,1,화장실,900004,이용가능

# PLACE 합  #1번 테이블

In [78]:
hj_place.drop('evalInfo',axis=1,inplace=True) # evalinfo Drop

KeyError: "labels ['evalInfo'] not contained in axis"

In [115]:
hj_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10389 entries, 0 to 10388
Data columns (total 7 columns):
Unnamed: 0       10389 non-null int64
place_id         10389 non-null int64
lat              10389 non-null float64
lon              10389 non-null float64
place_name       10389 non-null object
category         10389 non-null object
place_address    10389 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 568.2+ KB

In [116]:
yj_total_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5146 entries, 0 to 5269
Data columns (total 7 columns):
Unnamed: 0       5146 non-null int64
place_name       5146 non-null object
place_address    5146 non-null object
lat              5146 non-null float64
lon              5146 non-null float64
category         5146 non-null object
place_id         5146 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 321.6+ KB

In [117]:
yj_total_place.dropna(subset={'lat','lon'},inplace=True) # 왜그런지 모르겠지만 영준이 데이터에 위도경도 null 이있엇음.

In [118]:
yj_total_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5146 entries, 0 to 5269
Data columns (total 7 columns):
Unnamed: 0       5146 non-null int64
place_name       5146 non-null object
place_address    5146 non-null object
lat              5146 non-null float64
lon              5146 non-null float64
category         5146 non-null object
place_id         5146 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 321.6+ KB

In [119]:
zzang_place =  yj_total_place.append(hj_place,sort=False)

In [120]:
zzang_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15535 entries, 0 to 10388
Data columns (total 7 columns):
Unnamed: 0       15535 non-null int64
place_name       15535 non-null object
place_address    15535 non-null object
lat              15535 non-null float64
lon              15535 non-null float64
category         15535 non-null object
place_id         15535 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 970.9+ KB

In [121]:
jm_seoul_toilets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 7 columns):
Unnamed: 0       1117 non-null int64
place_name       1117 non-null object
place_address    1117 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
category         1117 non-null object
place_id         1117 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 61.2+ KB

In [122]:
zzang_place = zzang_place.append(jm_seoul_toilets,sort=False)

In [76]:
zzang_place.h

,Unnamed: 0,category,lat,lon,place_address,place_id,place_name
0,0,movie/concerthall,37.583269,127.002443,서울특별시 종로구 동숭동 1-37,10000,A아트홀(구.신연아트홀)
1,1,movie/concerthall,37.523930,127.025143,서울특별시 강남구 신사동 568-2,10001,BBC씨어터
2,2,movie/concerthall,37.568835,126.988123,서울특별시 종로구 관철동 33-1,10002,BREAK OUT 전용극장
3,3,movie/concerthall,37.549100,126.922860,서울특별시 마포구 와우산로 51,10003,BYRDS(버즈)
4,4,movie/concerthall,37.554833,126.923213,서울특별시 마포구 어울마당로 114,10004,Between the Bars

In [123]:
zzang_place.info() # 이상하게 갯수가 줄었네 ?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16652 entries, 0 to 1116
Data columns (total 7 columns):
Unnamed: 0       16652 non-null int64
place_name       16652 non-null object
place_address    16652 non-null object
lat              16652 non-null float64
lon              16652 non-null float64
category         16652 non-null object
place_id         16652 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.0+ MB

In [77]:
zzang_place.tail()

,Unnamed: 0,category,lat,lon,place_address,place_id,place_name
1112,24934,toilet/open,37.566074,127.047049,서울특별시 성동구 성수동2가 302-25,31112,성수근린공원 화장실
1113,24941,toilet/open,37.556445,127.019518,서울특별시 성동구 금호동1가 산37-7,31113,독서당공원 화장실
1114,24943,toilet/open,37.553588,127.041916,서울특별시 성동구 도선동 35-2,31114,왕십리문화공원 화장실
1115,24945,toilet/open,37.566104,127.045757,서울특별시 성동구 행당동 157-4,31115,한양대 앞 화장실
1116,24946,toilet/open,37.561760,127.035263,서울특별시 성동구 행당동 128-417,31116,행당어린이공원 화장실

In [124]:
jm_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 8 columns):
Unnamed: 0       260 non-null int64
Unnamed: 0.1     260 non-null int64
category         260 non-null object
place_name       260 non-null object
place_address    260 non-null object
lat              260 non-null float64
lon              260 non-null float64
place_id         260 non-null int64
dtypes: float64(2), int64(3), object(3)
memory usage: 16.3+ KB

In [125]:
zzang_place = zzang_place.append(jm_facility,sort=True)

In [126]:
zzang_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16912 entries, 0 to 259
Data columns (total 8 columns):
Unnamed: 0       16912 non-null int64
Unnamed: 0.1     260 non-null float64
category         16912 non-null object
lat              16912 non-null float64
lon              16912 non-null float64
place_address    16912 non-null object
place_id         16912 non-null int64
place_name       16912 non-null object
dtypes: float64(3), int64(2), object(3)
memory usage: 1.2+ MB

In [127]:
#지금까지, hj,jm,yj place  다넣음.
# subway 추가 할것

In [128]:
jt_subway_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 6 columns):
Unnamed: 0    324 non-null int64
place_name    324 non-null object
place_id      324 non-null int64
lat           324 non-null object
lon           324 non-null object
category      324 non-null object
dtypes: int64(2), object(4)
memory usage: 15.3+ KB

In [129]:
zzang_place = zzang_place.append(jt_subway_place,sort=False)

In [131]:
zzang_place.info() # subway 테이블에는 place_address 가 없다.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17236 entries, 0 to 323
Data columns (total 8 columns):
Unnamed: 0       17236 non-null int64
Unnamed: 0.1     260 non-null float64
category         17236 non-null object
lat              17236 non-null object
lon              17236 non-null object
place_address    16912 non-null object
place_id         17236 non-null int64
place_name       17236 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.2+ MB

In [133]:
zzang_place.isna().sum() # subway 테이블에는 place_address 가 없다.

Unnamed: 0           0
Unnamed: 0.1     16976
category             0
lat                  0
lon                  0
place_address      324
place_id             0
place_name           0
dtype: int64

In [134]:
zzang_place.head()

,Unnamed: 0,Unnamed: 0.1,category,lat,lon,place_address,place_id,place_name
0,0,NaN,movie/concerthall,37.5833,127.002,서울특별시 종로구 동숭동 1-37,10000,A아트홀(구.신연아트홀)
1,1,NaN,movie/concerthall,37.5239,127.025,서울특별시 강남구 신사동 568-2,10001,BBC씨어터
2,2,NaN,movie/concerthall,37.5688,126.988,서울특별시 종로구 관철동 33-1,10002,BREAK OUT 전용극장
3,3,NaN,movie/concerthall,37.5491,126.923,서울특별시 마포구 와우산로 51,10003,BYRDS(버즈)
4,4,NaN,movie/concerthall,37.5548,126.923,서울특별시 마포구 어울마당로 114,10004,Between the Bars

In [138]:
zzang_place.reset_index(inplace=True)

In [139]:
zzang_place.head()

,index,Unnamed: 0,Unnamed: 0.1,category,lat,lon,place_address,place_id,place_name
0,0,0,NaN,movie/concerthall,37.5833,127.002,서울특별시 종로구 동숭동 1-37,10000,A아트홀(구.신연아트홀)
1,1,1,NaN,movie/concerthall,37.5239,127.025,서울특별시 강남구 신사동 568-2,10001,BBC씨어터
2,2,2,NaN,movie/concerthall,37.5688,126.988,서울특별시 종로구 관철동 33-1,10002,BREAK OUT 전용극장
3,3,3,NaN,movie/concerthall,37.5491,126.923,서울특별시 마포구 와우산로 51,10003,BYRDS(버즈)
4,4,4,NaN,movie/concerthall,37.5548,126.923,서울특별시 마포구 어울마당로 114,10004,Between the Bars

In [140]:
zzang_place.drop(columns={'Unnamed: 0','Unnamed: 0.1','index'})

,category,lat,lon,place_address,place_id,place_name
0,movie/concerthall,37.5833,127.002,서울특별시 종로구 동숭동 1-37,10000,A아트홀(구.신연아트홀)
1,movie/concerthall,37.5239,127.025,서울특별시 강남구 신사동 568-2,10001,BBC씨어터
2,movie/concerthall,37.5688,126.988,서울특별시 종로구 관철동 33-1,10002,BREAK OUT 전용극장
3,movie/concerthall,37.5491,126.923,서울특별시 마포구 와우산로 51,10003,BYRDS(버즈)
4,movie/concerthall,37.5548,126.923,서울특별시 마포구 어울마당로 114,10004,Between the Bars
5,movie/concerthall,37.5016,127.026,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층,10005,CGV 강남
6,movie/concerthall,37.5634,126.983,서울특별시 중구 명동2가 83-5 눈스퀘어 8층,10006,CGV 명동
7,movie/concerthall,37.57,126.899,서울특별시 마포구 월드컵로 240,10007,CGV 상암
8,movie/concerthall,37.4787,127.121,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층,10008,CGV 송파
9,movie/concerthall,37.5285,127.125,서울특별시 강동구 성내로 48,10009,CGV강변
10,movie/concerthall,37.5012,126.883,서울특별시 구로구 구로중앙로 152,10010,CGV구로
11,movie/concerthall,37.5558,127.078,서울특별시 광진구 능동로 289,10011,CGV군자
12,movie/concerthall,37.5707,126.973,서울특별시 종로구 새문안로 75,10012,CGV대학로
13,movie/concerthall,37.5266,126.874,서울특별시 양천구 목동동로 257,10013,CGV목동
14,movie/concerthall,37.6097,126.929,서울특별시 은평구 불광로 20,10014,CGV불광
15,movie/concerthall,37.5565,126.94,서울특별시 서대문구 신촌로 129,10015,CGV신촌아트레온
16,movie/concerthall,37.5171,126.903,서울특별시 영등포구 영등포동 4가 442번지 타임스퀘어내 CGV팝아트홀 7층,10016,CGV신한카드아트홀(구 CGV팝아트홀)
17,movie/concerthall,37.5244,127.029,서울특별시 강남구 압구정로30길 45,10017,CGV압구정
18,movie/concerthall,37.5293,126.925,서울특별시 영등포구 여의공원로 101,10018,CGV영등포
19,movie/concerthall,37.5252,127.052,서울특별시 강남구 청담동 125-16,10019,CLUB ANSWER
20,movie/concerthall,37.4996,127.026,서울특별시 서초구 서초4동 1306-8번지 대동빌딩 B1,10020,CLUB mASS
21,movie/concerthall,37.5015,127.037,서울특별시 강남구 역삼1동 679-1 GS타워 25층,10021,GS타워 소극장
22,movie/concerthall,37.5043,127.004,서울특별시 서초구 반포동 19-3 메리어트호텔,10022,JW 메리어트호텔 그랜드볼룸
23,movie/concerthall,37.502,127.037,서울특별시 강남구 논현로 508,10023,LG아트센터
24,movie/concerthall,37.4992,127.03,서울특별시 강남구 테헤란로 117,10024,LIG아트홀
25,movie/concerthall,37.4992,127.03,서울특별시 강남구 역삼동 649-11 LIG타워 LIG아트홀,10025,LIG아트홀(강남)
26,movie/concerthall,37.5239,127.04,서울특별시 강남구 청담동 86번지 I 빌딩 3층,10026,OTM청담아트홀 (구KS청담홀)
27,movie/concerthall,37.5252,127.052,서울특별시 강남구 청담동 125-16,10027,Question Hall
28,movie/concerthall,37.5163,127.021,서울특별시 강남구 논현동 1-3 렉스타워 지하 1층,10028,강남 동양아트홀
29,movie/concerthall,37.5682,126.97,서울특별시 중구 정동 22번지 경향신문사 건물 1층,10029,강북 정동 난타 전용관
...,...,...,...,...,...,...
17206,subway,37.5591145,127.0131005,NaN,294,청구
17207,subway,37.51912,127.051937,NaN,295,청담
17208,subway,37.581381,127.048958,NaN,296,청량리
17209,subway,37.486491,126.981876,NaN,297,총신대입구
17210,subway,37.48665099999999,126.982164,NaN,298,총신대입구(이수)
17211,subway,37.5609739,126.9935287,NaN,299,충무로
17212,subway,37.560055,126.963672,NaN,300,충정로
17213,subway,37.6179085,127.0750345,NaN,301,태릉입구
17214,subway,37.394346,126.96388,NaN,302,평촌
17215,subway,36.991145,127.084981,NaN,303,평택
17216,subway,37.63595,127.068213,NaN,304,하계
17217,subway,37.5135304,127.0315341,NaN,305,학동
17218,subway,37.496683,127.070549,NaN,306,학여울
17219,subway,37.539518,127.001736,NaN,307,한강진
17220,subway,37.309685,126.853656,NaN,308,한대앞
17221,subway,37.588374,127.005907,NaN,309,한성대입구
17222,subway,37.5556003,127.0436832,NaN,310,한양대
17223,subway,37.5495753,126.9139908,NaN,311,합정
17224,subway,37.557402,127.029637,NaN,312,행당
17225,subway,37.58208,127.001892,NaN,313,혜화
17226,subway,37.557527,126.9244669,NaN,314,홍대입구
17227,subway,37.588792,126.944094,NaN,315,홍제
17228,subway,37.54157800000001,126.840436,NaN,316,화곡
17229,subway,37.620513,127.084244,NaN,317,화랑대
17230,subway,37.28399,126.989581,NaN,318,화서
17231,subway,37.63459,126.832645,NaN,319,화정
17232,subway,37.58975600000001,127.057977,NaN,320,회기
17233,subway,37.724522,127.0472035,NaN,321,회룡
17234,subway,37.5596339,126.9797158,NaN,322,회현
17235,subway,37.539289,126.961339,NaN,323,효창공원앞

# FACILITY 합  #2번 테이블

In [60]:
yj_total_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17604 entries, 0 to 17603
Data columns (total 6 columns):
Unnamed: 0                 17604 non-null int64
facility_available_name    17604 non-null object
facility_is_available      17604 non-null object
place_name                 17604 non-null object
place_id                   17604 non-null int64
facility_id                17604 non-null int64
dtypes: int64(3), object(3)
memory usage: 825.3+ KB

In [61]:
hj_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90403 entries, 0 to 90402
Data columns (total 6 columns):
Unnamed: 0                  90403 non-null int64
facility_id                 90403 non-null int64
facillity_available_name    90403 non-null object
facility_is_available       90403 non-null object
place_name                  90403 non-null object
place_id                    90403 non-null int64
dtypes: int64(3), object(3)
memory usage: 4.1+ MB

In [62]:
zzang_facility = yj_total_place_facility_available.append(hj_place_facility_available)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

# FACILITY 합  #3번 테이블 (YJ온리)