In [1]:
import pandas as pd

# YJ 데이터

In [2]:
def total(total_place_csv,total_place2_csv ):
    total_place = pd.read_csv(total_place_csv) # 주요시설
    total_place2 = pd.read_csv(total_place2_csv) # 음식점 
    total_place = total_place.append(total_place2)
    total_place.drop('Unnamed: 0' , axis=1, inplace=True)
    total_place.reset_index(inplace=True)
    total_place.drop('index', axis=1 , inplace=True)
    return total_place

In [3]:
yj_total_place = pd.read_csv('yj_main_dish_place/total_place.csv')

In [4]:
yj_total_place.head() # 영준 제 1 테이블

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall,10000
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall,10001
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall,10002
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall,10003
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall,10004

In [88]:
yj_total_place_facility_available = pd.read_csv('yj_main_dish_place/total_place_facility_available.csv')

In [89]:
yj_total_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17604 entries, 0 to 17603
Data columns (total 6 columns):
Unnamed: 0                 17604 non-null int64
facility_available_name    17604 non-null object
facility_is_available      17604 non-null object
place_name                 17604 non-null object
place_id                   17604 non-null int64
facility_id                17604 non-null int64
dtypes: int64(3), object(3)
memory usage: 825.3+ KB

In [90]:
yj_total_place_facility_detail_info = pd.read_csv('yj_main_dish_place/total_place_facility_detail_info.csv')

In [91]:
yj_total_place_facility_available.head() # 영준 제 2 테이블

,Unnamed: 0,facility_available_name,facility_is_available,place_name,place_id,facility_id
0,0,주출입구 접근로,이용불편,A아트홀(구.신연아트홀),10000,100000
1,1,주출입구 높이차이 제거,이용가능,A아트홀(구.신연아트홀),10000,100001
2,2,주출입구 접근로,이용가능,BBC씨어터,10001,100002
3,3,장애인 전용 주차구역,이용가능,BBC씨어터,10001,100003
4,4,주출입구 높이차이 제거,이용가능,BBC씨어터,10001,100004

In [9]:
yj_total_place_facility_detail_info.head() # 영준 제 3 테이블

   Unnamed: 0 facility_detail_info facility_available_name  facility_id
0           0                  평탄함                주출입구 접근로       100000
1           1                 단차없음                주출입구 접근로       100000
2           2      기울기 1/18~1/12이하                주출입구 접근로       100000
3           3              보/차도 구분                주출입구 접근로       100000
4           4              상세정보 없음            주출입구 높이차이 제거       100001

# HJ 데이터

In [10]:
hj_place = pd.read_csv('place.csv') # HJ1번테이블

In [11]:
hj_place.head()

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
0,0,20000,37.562726,127.032570,(구)왕십리클리닉빌딩,bank,서울특별시 성동구 왕십리로 333,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
1,1,20001,37.573937,126.983187,(재)대한불교계종유지재단,shopping/mart,서울특별시 종로구 우정국로 56,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
2,2,20002,37.485282,126.931355,(주)관전인베스트먼트,tourist hotel,서울특별시 관악구 신림로64길29 (신림동),"객실 및 침실,계단 또는 승강설비,대변기,복도,세면대,소변기,일반사항,장애인전용주차..."
3,3,20003,37.490768,126.982048,(주)대광메디텍,shopping/mart,서울특별시 동작구 동작대로35길 5,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4,4,20004,37.544932,126.910696,(주)동아일보사,bank,서울특별시 마포구 토정로 1,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."

In [92]:
hj_place_facility_available = pd.read_csv('facility_available.csv')  # HJ 2번테이블

In [93]:
hj_place_facility_available.head()

,Unnamed: 0,facility_id,facillity_available_name,facility_is_available,place_name,place_id
0,0,200000,계단 또는 승강설비,None,(구)왕십리클리닉빌딩,20000
1,1,200001,대변기,None,(구)왕십리클리닉빌딩,20000
2,2,200002,장애인전용주차구역,None,(구)왕십리클리닉빌딩,20000
3,3,200003,주출입구 높이차이 제거,None,(구)왕십리클리닉빌딩,20000
4,4,200004,주출입구 접근로,None,(구)왕십리클리닉빌딩,20000

In [94]:
hj_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90403 entries, 0 to 90402
Data columns (total 6 columns):
Unnamed: 0                  90403 non-null int64
facility_id                 90403 non-null int64
facillity_available_name    90403 non-null object
facility_is_available       90403 non-null object
place_name                  90403 non-null object
place_id                    90403 non-null int64
dtypes: int64(3), object(3)
memory usage: 4.1+ MB

In [14]:
hj_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10389 entries, 0 to 10388
Data columns (total 8 columns):
Unnamed: 0       10389 non-null int64
place_id         10389 non-null int64
lat              10389 non-null float64
lon              10389 non-null float64
place_name       10389 non-null object
category         10389 non-null object
place_address    10389 non-null object
evalInfo         10389 non-null object
dtypes: float64(2), int64(2), object(4)
memory usage: 649.4+ KB

In [15]:
hj_place[hj_place.duplicated(subset={'lat','lon'},keep=False)].sort_values('lat')

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
9810,9810,29810,37.434986,126.903433,한일모텍,shopping/mart,서울특별시 금천구 시흥대로 3-15,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
5863,5863,25863,37.434986,126.903433,시티렉스(CT-LEX),concert hall,서울특별시 금천구 시흥대로 3,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,관람석 및 열람석,대변기,매표소..."
10045,10045,30045,37.434986,126.903433,호산나교회,church,서울특별시 금천구 시흥대로13길 25,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
3799,3799,23799,37.434986,126.903433,보벨르웨딩홀,meeting hall,서울특별시 금천구 시흥대로 13,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
4461,4461,24461,37.434986,126.903433,샤론어린이집,daycare center,서울특별시 금천구 시흥대로3길 48-3,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
6201,6201,26201,37.434986,126.903433,실버캐슬노인요양원,welfare/senior,서울특별시 금천구 시흥대로13길 14,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
1514,1514,21514,37.434986,126.903433,금천전화국,bank,서울특별시 금천구 시흥대로 13,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
2913,2913,22913,37.434986,126.903433,로뎀복지요양원,welfare/senior,서울특별시 금천구 시흥대로5길 24,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
7227,7227,27227,37.434986,126.903433,올슈퍼,shopping/mart,서울특별시 금천구 시흥대로3길 45,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4433,4433,24433,37.438549,126.902226,새움병원,hospital,서울특별시 금천구 시흥대로 44,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
8014,8014,28014,37.438549,126.902226,자연유아원,daycare center,서울특별시 금천구 시흥대로44길 3,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
2451,2451,22451,37.447878,126.903696,독산본동다목적광장,public parking,서울특별시 금천구 시흥대로154길 56,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로"
1236,1236,21236,37.447878,126.903696,구립독산본동어린이집,daycare center,서울특별시 금천구 시흥대로154길 7,"대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)..."
5086,5086,25086,37.448505,126.903705,섬김의집,daycare center,서울특별시 금천구 독산로4가길 31,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
1719,1719,21719,37.448505,126.903705,남문교회,daycare center,서울특별시 금천구 독산로4가길 2,"대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)..."
10372,10372,30372,37.448736,126.904568,희원노인요양원,welfare/senior,서울특별시 금천구 독산로 14,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
8772,8772,28772,37.448736,126.904568,청다담마트,shopping/mart,서울특별시 금천구 독산로 14,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
3689,3689,23689,37.448736,126.904568,백운매트로엔,bank,서울특별시 금천구 독산로 14,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
3400,3400,23400,37.448915,126.898723,문일중학교,junior high school,서울특별시 금천구 시흥대로47길 45,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
3399,3399,23399,37.448915,126.898723,문일고등학교,high school,서울특별시 금천구 시흥대로47길 45,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
2663,2663,22663,37.451628,126.910884,동일여자고등학교,high school,서울특별시 금천구 탑골로14길 45,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
2664,2664,22664,37.451628,126.910884,동일여자전산디자인고등학교,high school,서울특별시 금천구 탑골로14길 45,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
4077,4077,24077,37.452708,126.900648,산들파크빌5,bank,서울특별시 금천구 시흥대로57길 1-37,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
4076,4076,24076,37.452708,126.900648,산들파크빌3,bank,서울특별시 금천구 시흥대로57길 1-37,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
4079,4079,24079,37.452708,126.900648,산들파크빌7,bank,서울특별시 금천구 시흥대로57길 1-31,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
4074,4074,24074,37.452708,126.900648,산들파크빌1,bank,서울특별시 금천구 시흥대로57길 1-43,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
4075,4075,24075,37.452708,126.900648,산들파크빌2,bank,서울특별시 금천구 시흥대로57길 1-41,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10118,10118,30118,37.455422,126.900689,홈플러스테스테스코㈜시흥점,shopping,서울특별시 금천구 시흥대로 241,"계단 또는 승강설비,대변기,비치용품,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
1605,1605,21605,37.455422,126.900689,김홍일내과,hospital,서울특별시 금천구 시흥대로 242,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
1508,1508,21508,37.457065,126.896035,금천구종합상사(보건소),government office building,서울특별시 금천구 시흥대로73길 70,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,매표소, 판매기, 음료대..."
...,...,...,...,...,...,...,...,...
2407,2407,22407,37.657485,127.058854,도봉운전면허시험장,government office building,서울특별시 노원구 동일로 1449,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,매표소, 판매기, 음료대..."
4280,4280,24280,37.657951,127.076379,삿갓봉근린공원,city park,서울특별시 노원구 한글비석로 346,"경보 및 피난설비,대변기,주출입구 접근로"
1849,1849,21849,37.657951,127.076379,노원어린이도서관,library,서울특별시 노원구 한글비석로 346,"계단 또는 승강설비,관람석 및 열람석,대변기,비치용품,세면대,소변기,일반사항,장애인..."
8421,8421,28421,37.658778,127.078443,중계4동주민센터,community service center,서울특별시 노원구 덕릉로82길 54,"경보 및 피난설비,계단 또는 승강설비,대변기,매표소, 판매기, 음료대,비치용품,일반..."
3433,3433,23433,37.658778,127.078443,미래산업고등학교,high school,서울특별시 노원구 덕릉로82길 54,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
4289,4289,24289,37.658813,127.068519,상계2동주민센터,government office building,서울특별시 노원구 상계로23길 17,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,매표소, 판매기, 음료대..."
4291,4291,24291,37.658813,127.068519,상계2동치안센터,police station,서울특별시 노원구 상계로23길 17,"경보 및 피난설비,계단 또는 승강설비,대변기,매표소, 판매기, 음료대,장애인전용주차..."
1854,1854,21854,37.661100,127.065008,노원정보도서관,library,서울특별시 노원구 노원로34길 43,"계단 또는 승강설비,관람석 및 열람석,대변기,비치용품,세면대,소변기,일반사항,장애인..."
6531,6531,26531,37.661100,127.065008,양지유치원,kindergarten,서울특별시 노원구 노원로34길 45,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
8123,8123,28123,37.661289,127.080798,재현중학교,junior high school,서울특별시 노원구 덕릉로82길 64,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
8122,8122,28122,37.661289,127.080798,재현고등학교,high school,서울특별시 노원구 덕릉로82길 64,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
6658,6658,26658,37.661619,127.042523,에이치큐브병원,hospital,서울특별시 도봉구 도봉로 644,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
5723,5723,25723,37.661619,127.042523,"시그마팰리스(2,3층 의원)",hospital,서울특별시 도봉구 도봉로 641,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
2376,2376,22376,37.661749,127.050357,도깨비시장공영주차장,public parking,서울특별시 도봉구 방학로14길 51,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로"
9919,9919,29919,37.661749,127.050357,행복실버요양원,welfare/senior,서울특별시 도봉구 방학로 15,"계단 또는 승강설비,대변기,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거..."
5458,5458,25458,37.662979,127.069366,솔로몬어린이집,daycare center,서울특별시 노원구 한글비석로 434,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
4295,4295,24295,37.662979,127.069366,상계5동주민센터,community service center,서울특별시 노원구 한글비석로 434,"경보 및 피난설비,계단 또는 승강설비,대변기,매표소, 판매기, 음료대,비치용품,일반..."
9520,9520,29520,37.664823,127.065442,학원,education/job,서울특별시 노원구 한글비석로 474,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
9517,9517,29517,37.664823,127.065442,학원,education/job,서울특별시 노원구 한글비석로 474,"계단 또는 승강설비,대변기,복도,소변기,일반사항,장애인전용주차구역,주출입구 높이차이..."
8836,8836,28836,37.665253,127.062532,청원고등학교,high school,서울특별시 노원구 한글비석로 506,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
8839,8839,28839,37.665253,127.062532,청원초등학교,elementary school,서울특별시 노원구 한글비석로 506,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
8838,8838,28838,37.665253,127.062532,청원중학교,junior high school,서울특별시 노원구 한글비석로 506,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
8837,8837,28837,37.665253,127.062532,청원여자고등학교,high school,서울특별시 노원구 한글비석로 506,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
4282,4282,24282,37.667150,127.053706,상경중학교(체육관),gym,서울특별시 노원구 동일로227길 61,"소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4281,4281,24281,37.667150,127.053706,상경중학교,junior high school,서울특별시 노원구 동일로227길 61,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
1440,1440,21440,37.674626,127.058178,근린생활시설(봉평산골메밀촌),restaurant,서울특별시 노원구 동일로242길 54,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
1439,1439,21439,37.674626,127.058178,근린생활시설(벽창우생고기전문점),restaurant,서울특별시 노원구 동일로242길 54,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
6872,6872,26872,37.680483,127.056931,영기노인전문요양원,welfare/senior,서울특별시 노원구 동일로248길 30,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
2090,2090,22090,37.680483,127.056931,"대린원, 홍파양로원,쉼터요양원",welfare/senior,서울특별시 노원구 동일로248길 34,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
6874,6874,26874,37.680483,127.056931,영기노인전문요양원(지하1층 지상5층 마동),welfare/senior,서울특별시 노원구 동일로248길 34,"계단 또는 승강설비,대변기,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거..."

In [17]:
hj_place.head()

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
0,0,20000,37.562726,127.032570,(구)왕십리클리닉빌딩,bank,서울특별시 성동구 왕십리로 333,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
1,1,20001,37.573937,126.983187,(재)대한불교계종유지재단,shopping/mart,서울특별시 종로구 우정국로 56,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
2,2,20002,37.485282,126.931355,(주)관전인베스트먼트,tourist hotel,서울특별시 관악구 신림로64길29 (신림동),"객실 및 침실,계단 또는 승강설비,대변기,복도,세면대,소변기,일반사항,장애인전용주차..."
3,3,20003,37.490768,126.982048,(주)대광메디텍,shopping/mart,서울특별시 동작구 동작대로35길 5,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4,4,20004,37.544932,126.910696,(주)동아일보사,bank,서울특별시 마포구 토정로 1,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."

In [16]:
hj_place.tail()

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
10384,10384,30384,37.504637,127.042199,힐 헤븐,hospital,서울특별시 강남구 언주로 514,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10385,10385,30385,37.511869,127.017672,힘멜에듀센터,daycare center,서울특별시 서초구 신반포로43길 42,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10386,10386,30386,37.604771,126.923857,힘찬병원,hospital,서울특별시 은평구 서오릉로 45,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
10387,10387,30387,37.559192,126.840671,힘찬병원,hospital,서울특별시 강서구 강서로56길 38,"객실 및 침실,경보 및 피난설비,대변기,세면대,소변기,유도 및 안내 설비,일반사항,..."
10388,10388,30388,37.463629,127.034580,伯林빌딩,bank,서울특별시 서초구 매헌로 31-3,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."

In [18]:
hj_place = hj_place.iloc[0:10000,:]

In [19]:
hj_place.tail()

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
9995,9995,29995,37.539234,127.129112,현대 프라자,shopping,서울특별시 강동구 진황도로 18,"계단 또는 승강설비,대변기,비치용품,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
9996,9996,29996,37.520084,126.860301,현대프라자(의원),hospital,서울특별시 양천구 중앙로32길 61,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
9997,9997,29997,37.500344,127.033999,현대 해상,bank,서울특별시 강남구 테헤란로 137,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
9998,9998,29998,37.527492,126.896576,현대해상강서사옥,bank,서울특별시 영등포구 당산로 141,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
9999,9999,29999,37.539072,127.125618,현대홈쇼핑,broadcasting station,서울특별시 강동구 올림픽로70길 34,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."

In [20]:
hj_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
Unnamed: 0       10000 non-null int64
place_id         10000 non-null int64
lat              10000 non-null float64
lon              10000 non-null float64
place_name       10000 non-null object
category         10000 non-null object
place_address    10000 non-null object
evalInfo         10000 non-null object
dtypes: float64(2), int64(2), object(4)
memory usage: 625.1+ KB

# JM 데이터

In [21]:
jm_seoul_toilets = pd.read_csv('seoul_toilets.csv')

In [22]:
jm_seoul_toilets_facility  = pd.read_csv('seoul_toilets_facility.csv')

In [23]:
jm_seoul_toilets.head() # 정민 1 번테이블

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,남대문시장 화장실,서울특별시 중구 남창동 51-2,37.559433,126.976225,toilet/open,30000
1,1,광희동 화장실,서울특별시 중구 광희동1가 202-1,37.564371,127.006306,toilet/open,30001
2,2,신당 1호 화장실,서울특별시 중구 신당동 236-542,37.563819,127.013347,toilet/open,30002
3,3,신당 2호 화장실,서울특별시 중구 신당동 298-74,37.561325,127.013778,toilet/open,30003
4,4,청구역 화장실,서울특별시 중구 신당동 297-17,37.561317,127.013783,toilet/open,30004

In [24]:
jm_seoul_toilets_facility.head() #정민 2번테이블

   Unnamed: 0 facility_available_name place_name  place_id  facility_id
0           0                 남성용-소변기  남대문시장 화장실     30000       300000
1           1             남성용-장애인용대변기  남대문시장 화장실     30000       300001
2           2                 여성용-대변기  남대문시장 화장실     30000       300002
3           3             여성용-장애인용대변기  남대문시장 화장실     30000       300003
4           4                 남성용-대변기    광희동 화장실     30001       300004

In [25]:
jm_facility = pd.read_csv('facility_cleansed.csv')

In [26]:
jm_facility.head()  # 정민 1번 테이블

,Unnamed: 0,Unnamed: 0.1,category,place_name,place_address,lat,lon,place_id
0,0,0,daycare,영락,중구 수표로 33 (저동2가 69),37.563202,126.989182,40000
1,1,1,daycare,역삼주간보호센터,강남구 테헤란로8길 36 (역삼동 827-61) 강남문화원 2층,37.496507,127.032048,40001
2,2,2,wellfare,성민장애인복지관,노원구 노원로32길 30-3 (상계동 321-9),37.655624,127.069340,40002
3,3,3,wellfare,강서뇌성마비복지관,강서구 방화대로45길 69 (방화동 452-5),37.574198,126.812585,40003
4,4,4,daycare,모랫말꿈터,영등포구 도영로 37 (도림2동 205-24),37.510186,126.897488,40004

# JT 데이터

In [27]:
jt_subway_place = pd.read_csv('Place_subway_juntaek.csv')

In [28]:
jt_subway_facility = pd.read_csv('Facility_subway_juntaek.csv')

In [29]:
jt_subway_place.head()

   Unnamed: 0 place_name  place_id                lat          lon category
0           0       가락시장         0         37.4923175   127.118104   subway
1           1    가산디지털단지         1           37.48089  126.8825735   subway
2           2         간석         2          37.464689   126.693408   subway
3           3         강남         3  37.49794199999999   127.027621   subway
4           4       강남구청         4          37.517473  127.0411685   subway

In [31]:
jt_subway_place[jt_subway_place.lat.str.contains('[ㄱ-ㅎ가-힣ㅏ-ㅢ]')]

     Unnamed: 0 place_name  place_id  lat  lon category
80           80        동대문        80  동대문  동대문   subway
131         131        봉화산       131  봉화산  봉화산   subway
165         165         성산       165   성산   성산   subway

In [32]:
jt_subway_place.drop([80],inplace=True)
jt_subway_place.drop([131],inplace=True)
jt_subway_place.drop([165],inplace=True)

In [33]:
jt_subway_place[jt_subway_place.lat.str.contains('[ㄱ-ㅎ가-힣ㅏ-ㅢ]')]

Empty DataFrame
Columns: [Unnamed: 0, place_name, place_id, lat, lon, category]
Index: []

In [34]:
jt_subway_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 0 to 323
Data columns (total 6 columns):
Unnamed: 0    321 non-null int64
place_name    321 non-null object
place_id      321 non-null int64
lat           321 non-null object
lon           321 non-null object
category      321 non-null object
dtypes: int64(2), object(4)
memory usage: 17.6+ KB

In [35]:
jt_subway_place.lat =jt_subway_place.lat.astype('float64')
jt_subway_place.lon =jt_subway_place.lon.astype('float64') # 타입

In [36]:
jt_subway_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 0 to 323
Data columns (total 6 columns):
Unnamed: 0    321 non-null int64
place_name    321 non-null object
place_id      321 non-null int64
lat           321 non-null float64
lon           321 non-null float64
category      321 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 17.6+ KB

In [37]:
jt_subway_facility.head()

,Unnamed: 0,place_name,place_id,facility_available_name,facility_id,facility_is_available
0,0,가락시장,0,화장실,900000,이용가능
1,1,가락시장,0,엘리베이터,900001,이용가능
2,2,가락시장,0,휠체어리프트,900002,이용가능
3,3,가산디지털단지,1,에스켈레이터,900003,이용가능
4,4,가산디지털단지,1,화장실,900004,이용가능

# PLACE 합  #1번 테이블

In [38]:
hj_place.drop('evalInfo',axis=1,inplace=True) # evalinfo Drop

In [39]:
hj_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
Unnamed: 0       10000 non-null int64
place_id         10000 non-null int64
lat              10000 non-null float64
lon              10000 non-null float64
place_name       10000 non-null object
category         10000 non-null object
place_address    10000 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 547.0+ KB

In [40]:
yj_total_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5270 entries, 0 to 5269
Data columns (total 7 columns):
Unnamed: 0       5270 non-null int64
place_name       5270 non-null object
place_address    5270 non-null object
lat              5146 non-null float64
lon              5146 non-null float64
category         5270 non-null object
place_id         5270 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 288.3+ KB

In [41]:
yj_total_place.dropna(subset={'lat','lon'},inplace=True) # 왜그런지 모르겠지만 영준이 데이터에 위도경도 null 이있엇음.

In [42]:
yj_total_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5146 entries, 0 to 5269
Data columns (total 7 columns):
Unnamed: 0       5146 non-null int64
place_name       5146 non-null object
place_address    5146 non-null object
lat              5146 non-null float64
lon              5146 non-null float64
category         5146 non-null object
place_id         5146 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 321.6+ KB

In [43]:
zzang_place =  yj_total_place.append(hj_place,sort=False)

In [44]:
zzang_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15146 entries, 0 to 9999
Data columns (total 7 columns):
Unnamed: 0       15146 non-null int64
place_name       15146 non-null object
place_address    15146 non-null object
lat              15146 non-null float64
lon              15146 non-null float64
category         15146 non-null object
place_id         15146 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 946.6+ KB

In [45]:
jm_seoul_toilets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 7 columns):
Unnamed: 0       1117 non-null int64
place_name       1117 non-null object
place_address    1117 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
category         1117 non-null object
place_id         1117 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 61.2+ KB

In [46]:
zzang_place = zzang_place.append(jm_seoul_toilets,sort=False)

In [47]:
zzang_place.head()

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall,10000
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall,10001
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall,10002
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall,10003
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall,10004

In [48]:
zzang_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16263 entries, 0 to 1116
Data columns (total 7 columns):
Unnamed: 0       16263 non-null int64
place_name       16263 non-null object
place_address    16263 non-null object
lat              16263 non-null float64
lon              16263 non-null float64
category         16263 non-null object
place_id         16263 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1016.4+ KB

In [49]:
zzang_place.tail()

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
1112,24934,성수근린공원 화장실,서울특별시 성동구 성수동2가 302-25,37.566074,127.047049,toilet/open,31112
1113,24941,독서당공원 화장실,서울특별시 성동구 금호동1가 산37-7,37.556445,127.019518,toilet/open,31113
1114,24943,왕십리문화공원 화장실,서울특별시 성동구 도선동 35-2,37.553588,127.041916,toilet/open,31114
1115,24945,한양대 앞 화장실,서울특별시 성동구 행당동 157-4,37.566104,127.045757,toilet/open,31115
1116,24946,행당어린이공원 화장실,서울특별시 성동구 행당동 128-417,37.561760,127.035263,toilet/open,31116

In [50]:
jm_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 8 columns):
Unnamed: 0       260 non-null int64
Unnamed: 0.1     260 non-null int64
category         260 non-null object
place_name       260 non-null object
place_address    260 non-null object
lat              260 non-null float64
lon              260 non-null float64
place_id         260 non-null int64
dtypes: float64(2), int64(3), object(3)
memory usage: 16.3+ KB

In [51]:
zzang_place = zzang_place.append(jm_facility,sort=True)

In [52]:
zzang_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16523 entries, 0 to 259
Data columns (total 8 columns):
Unnamed: 0       16523 non-null int64
Unnamed: 0.1     260 non-null float64
category         16523 non-null object
lat              16523 non-null float64
lon              16523 non-null float64
place_address    16523 non-null object
place_id         16523 non-null int64
place_name       16523 non-null object
dtypes: float64(3), int64(2), object(3)
memory usage: 1.1+ MB

In [53]:
#지금까지, hj,jm,yj place  다넣음.
# subway 추가 할것

In [54]:
jt_subway_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 0 to 323
Data columns (total 6 columns):
Unnamed: 0    321 non-null int64
place_name    321 non-null object
place_id      321 non-null int64
lat           321 non-null float64
lon           321 non-null float64
category      321 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 17.6+ KB

In [55]:
zzang_place = zzang_place.append(jt_subway_place,sort=False)

In [56]:
zzang_place.info() # subway 테이블에는 place_address 가 없다.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16844 entries, 0 to 323
Data columns (total 8 columns):
Unnamed: 0       16844 non-null int64
Unnamed: 0.1     260 non-null float64
category         16844 non-null object
lat              16844 non-null float64
lon              16844 non-null float64
place_address    16523 non-null object
place_id         16844 non-null int64
place_name       16844 non-null object
dtypes: float64(3), int64(2), object(3)
memory usage: 1.2+ MB

In [57]:
zzang_place.isna().sum() # subway 테이블에는 place_address 가 없다.

Unnamed: 0           0
Unnamed: 0.1     16584
category             0
lat                  0
lon                  0
place_address      321
place_id             0
place_name           0
dtype: int64

In [58]:
zzang_place.head()

,Unnamed: 0,Unnamed: 0.1,category,lat,lon,place_address,place_id,place_name
0,0,NaN,movie/concerthall,37.583269,127.002443,서울특별시 종로구 동숭동 1-37,10000,A아트홀(구.신연아트홀)
1,1,NaN,movie/concerthall,37.523930,127.025143,서울특별시 강남구 신사동 568-2,10001,BBC씨어터
2,2,NaN,movie/concerthall,37.568835,126.988123,서울특별시 종로구 관철동 33-1,10002,BREAK OUT 전용극장
3,3,NaN,movie/concerthall,37.549100,126.922860,서울특별시 마포구 와우산로 51,10003,BYRDS(버즈)
4,4,NaN,movie/concerthall,37.554833,126.923213,서울특별시 마포구 어울마당로 114,10004,Between the Bars

In [59]:
zzang_place.reset_index(inplace=True)

In [60]:
zzang_place.head()

,index,Unnamed: 0,Unnamed: 0.1,category,lat,lon,place_address,place_id,place_name
0,0,0,NaN,movie/concerthall,37.583269,127.002443,서울특별시 종로구 동숭동 1-37,10000,A아트홀(구.신연아트홀)
1,1,1,NaN,movie/concerthall,37.523930,127.025143,서울특별시 강남구 신사동 568-2,10001,BBC씨어터
2,2,2,NaN,movie/concerthall,37.568835,126.988123,서울특별시 종로구 관철동 33-1,10002,BREAK OUT 전용극장
3,3,3,NaN,movie/concerthall,37.549100,126.922860,서울특별시 마포구 와우산로 51,10003,BYRDS(버즈)
4,4,4,NaN,movie/concerthall,37.554833,126.923213,서울특별시 마포구 어울마당로 114,10004,Between the Bars

In [61]:
zzang_place.drop(columns={'Unnamed: 0','Unnamed: 0.1','index'},inplace=True)

In [62]:
zzang_place.tail()

      category        lat         lon place_address  place_id place_name
16839   subway  37.634590  126.832645           NaN       319         화정
16840   subway  37.589756  127.057977           NaN       320         회기
16841   subway  37.724522  127.047203           NaN       321         회룡
16842   subway  37.559634  126.979716           NaN       322         회현
16843   subway  37.539289  126.961339           NaN       323      효창공원앞

In [63]:
zzang_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16844 entries, 0 to 16843
Data columns (total 6 columns):
category         16844 non-null object
lat              16844 non-null float64
lon              16844 non-null float64
place_address    16523 non-null object
place_id         16844 non-null int64
place_name       16844 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 789.6+ KB

In [64]:
zzang_place.to_csv('ZZANG_PLACE.csv')

In [65]:
zzang_place.category.unique()

array(['movie/concerthall', 'shopping/mart', 'publicparking',
       'publictoilet', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'western_food', 'chinese_food', 'japanese_food', 'other_food',
       'tourist hotel', 'education/job', 'restaurant', 'shopping',
       'apartment subsidiary facility', 'exhibition center', 'factory',
       'broadcasting station', 'concert hall', 'movie', 'public parking',
       'hotel', 'convenience store/bakery', 'stadium', 'university',
       'telecommunication office', 'government office building', 'church',
       'daycare center', 'massage parlor', 'general hospital',
       'kindergarten', 'meeting hall', 'welfare/senior',
       'elementary school', 'welfare/etc', 'community service center',
       'high school', 'junior high school', 'police station',
       'post office', 'city park', 'training facility/urban',
       'toilet/public', 'welfare/disabled', 'gym', 'library',
       'health center', 'outdoor theater', 'funeral hall',
       'welfare/child', 'training facility/rural', 'driving academy',
       'national health insurance corporation',
       'national pension service', 'community child center',
       'special-education school', 'nature park', 'shelter',
       'public library', 'college', 'workers welfare service',
       'disabled employment agency', 'toilet/open', 'toilet/small',
       'daycare', 'wellfare', 'sports/rehab', 'signinterpret',
       'hospital/rehab', 'subway'], dtype=object)

In [66]:
zzang_place.groupby('category').sum().plot()

In [ ]:
# 구별로 , 시설

# FACILITY 합  #2번 테이블

In [95]:
yj_total_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17604 entries, 0 to 17603
Data columns (total 6 columns):
Unnamed: 0                 17604 non-null int64
facility_available_name    17604 non-null object
facility_is_available      17604 non-null object
place_name                 17604 non-null object
place_id                   17604 non-null int64
facility_id                17604 non-null int64
dtypes: int64(3), object(3)
memory usage: 825.3+ KB

In [96]:
yj_total_place_facility_available.facility_available_name.unique()

array(['주출입구 접근로', '주출입구 높이차이 제거', '장애인 전용 주차구역', '장애인용 승강기', '장애인용 관람석',
       '장애인용 화장실'], dtype=object)

In [97]:
hj_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90403 entries, 0 to 90402
Data columns (total 6 columns):
Unnamed: 0                  90403 non-null int64
facility_id                 90403 non-null int64
facillity_available_name    90403 non-null object
facility_is_available       90403 non-null object
place_name                  90403 non-null object
place_id                    90403 non-null int64
dtypes: int64(3), object(3)
memory usage: 4.1+ MB

In [98]:
hj_place_facility_available.facillity_available_name.unique()

array(['계단 또는 승강설비', '대변기', '장애인전용주차구역', '주출입구 높이차이 제거', '주출입구 접근로',
       '출입구(문)', '해당시설 층수', '객실 및 침실', '복도', '세면대', '소변기', '일반사항', '비치용품',
       '경보 및 피난설비', '유도 및 안내 설비', '점자블록', '관람석 및 열람석', '매표소', ' 판매기',
       ' 음료대', '접수대 및 작업대', '샤워실 및 탈의실', '욕실', '없음'], dtype=object)

In [100]:
hj_place_facility_available[hj_place_facility_available.facillity_available_name=='없음']

,Unnamed: 0,facility_id,facillity_available_name,facility_is_available,place_name,place_id
49336,49336,249336,없음,None,송순곤외 1인,25490

In [103]:
hj_place_facility_available.iloc[49336]

Unnamed: 0                    49336
facility_id                  249336
facillity_available_name         없음
facility_is_available          None
place_name                  송순곤외 1인
place_id                      25490
Name: 49336, dtype: object

In [104]:
hj_place_facility_available.drop(index=49336, inplace =True)

In [105]:
hj_place_facility_available.iloc[49336]

Unnamed: 0                      49337
facility_id                    249337
facillity_available_name    장애인전용주차구역
facility_is_available            None
place_name                       송암교회
place_id                        25491
Name: 49337, dtype: object

In [106]:
hj_place_facility_available[hj_place_facility_available.facillity_available_name=='없음']

Empty DataFrame
Columns: [Unnamed: 0, facility_id, facillity_available_name, facility_is_available, place_name, place_id]
Index: []

In [108]:
hj_place_facility_available.reset_index(inplace=True)

In [110]:
hj_place_facility_available.head()

,index,Unnamed: 0,facility_id,facillity_available_name,facility_is_available,place_name,place_id
0,0,0,200000,계단 또는 승강설비,None,(구)왕십리클리닉빌딩,20000
1,1,1,200001,대변기,None,(구)왕십리클리닉빌딩,20000
2,2,2,200002,장애인전용주차구역,None,(구)왕십리클리닉빌딩,20000
3,3,3,200003,주출입구 높이차이 제거,None,(구)왕십리클리닉빌딩,20000
4,4,4,200004,주출입구 접근로,None,(구)왕십리클리닉빌딩,20000

In [111]:
hj_place_facility_available.info() # 1개가 빠졌으니까

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90402 entries, 0 to 90401
Data columns (total 7 columns):
index                       90402 non-null int64
Unnamed: 0                  90402 non-null int64
facility_id                 90402 non-null int64
facillity_available_name    90402 non-null object
facility_is_available       90402 non-null object
place_name                  90402 non-null object
place_id                    90402 non-null int64
dtypes: int64(4), object(3)
memory usage: 4.8+ MB

In [112]:
hj_place_facility_available.rename({'facillity_available_name':'facility_available_name'},axis=1,inplace=True)

In [113]:
hj_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90402 entries, 0 to 90401
Data columns (total 7 columns):
index                      90402 non-null int64
Unnamed: 0                 90402 non-null int64
facility_id                90402 non-null int64
facility_available_name    90402 non-null object
facility_is_available      90402 non-null object
place_name                 90402 non-null object
place_id                   90402 non-null int64
dtypes: int64(4), object(3)
memory usage: 4.8+ MB

In [114]:
yj_total_place_facility_available.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17604 entries, 0 to 17603
Data columns (total 6 columns):
Unnamed: 0                 17604 non-null int64
facility_available_name    17604 non-null object
facility_is_available      17604 non-null object
place_name                 17604 non-null object
place_id                   17604 non-null int64
facility_id                17604 non-null int64
dtypes: int64(3), object(3)
memory usage: 825.3+ KB

In [115]:
zzang_facility = yj_total_place_facility_available.append(hj_place_facility_available,sort=False)

In [116]:
zzang_facility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108006 entries, 0 to 90401
Data columns (total 7 columns):
Unnamed: 0                 108006 non-null int64
facility_available_name    108006 non-null object
facility_is_available      108006 non-null object
place_name                 108006 non-null object
place_id                   108006 non-null int64
facility_id                108006 non-null int64
index                      90402 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 6.6+ MB

In [117]:
jt_subway_facility.facility_available_name.unique()

array(['화장실', '엘리베이터', '휠체어리프트', '에스켈레이터', '수평보행기', '계단핸드레일'],
      dtype=object)

In [118]:
#휠체어(절단장애,음료대,판매기,매표소) , 시각장애인(점자블록),청각장애인(수화),

In [119]:
jm_seoul_toilets_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4245 entries, 0 to 4244
Data columns (total 5 columns):
Unnamed: 0                 4245 non-null int64
facility_available_name    4245 non-null object
place_name                 4245 non-null object
place_id                   4245 non-null int64
facility_id                4245 non-null int64
dtypes: int64(3), object(2)
memory usage: 165.9+ KB

In [120]:
zzang_facility = zzang_facility.append(jm_seoul_toilets_facility,sort=False)

In [121]:
zzang_facility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112251 entries, 0 to 4244
Data columns (total 7 columns):
Unnamed: 0                 112251 non-null int64
facility_available_name    112251 non-null object
facility_is_available      108006 non-null object
place_name                 112251 non-null object
place_id                   112251 non-null int64
facility_id                112251 non-null int64
index                      90402 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 6.9+ MB

In [122]:
jt_subway_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 6 columns):
Unnamed: 0                 674 non-null int64
place_name                 674 non-null object
place_id                   674 non-null int64
facility_available_name    674 non-null object
facility_id                674 non-null int64
facility_is_available      674 non-null object
dtypes: int64(3), object(3)
memory usage: 31.7+ KB

In [123]:
zzang_facility = zzang_facility.append(jt_subway_facility,sort=False)

In [124]:
zzang_facility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112925 entries, 0 to 673
Data columns (total 7 columns):
Unnamed: 0                 112925 non-null int64
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
index                      90402 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 6.9+ MB

In [125]:
zzang_facility.drop('index' , axis=1, inplace=True)

In [126]:
zzang_facility.info() # is_available ( 화장실 데이터에는 없었으므로 na 처리됨 )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112925 entries, 0 to 673
Data columns (total 6 columns):
Unnamed: 0                 112925 non-null int64
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
dtypes: int64(3), object(3)
memory usage: 6.0+ MB

In [127]:
zzang_facility.drop('Unnamed: 0' , axis=1, inplace=True)

In [128]:
zzang_facility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112925 entries, 0 to 673
Data columns (total 5 columns):
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
dtypes: int64(2), object(3)
memory usage: 5.2+ MB

In [129]:
zzang_facility.reset_index(inplace=True)

In [130]:
zzang_facility.head()

,index,facility_available_name,facility_is_available,place_name,place_id,facility_id
0,0,주출입구 접근로,이용불편,A아트홀(구.신연아트홀),10000,100000
1,1,주출입구 높이차이 제거,이용가능,A아트홀(구.신연아트홀),10000,100001
2,2,주출입구 접근로,이용가능,BBC씨어터,10001,100002
3,3,장애인 전용 주차구역,이용가능,BBC씨어터,10001,100003
4,4,주출입구 높이차이 제거,이용가능,BBC씨어터,10001,100004

In [131]:
zzang_facility.drop('index' , axis=1, inplace=True)

In [132]:
zzang_facility.head()

,facility_available_name,facility_is_available,place_name,place_id,facility_id
0,주출입구 접근로,이용불편,A아트홀(구.신연아트홀),10000,100000
1,주출입구 높이차이 제거,이용가능,A아트홀(구.신연아트홀),10000,100001
2,주출입구 접근로,이용가능,BBC씨어터,10001,100002
3,장애인 전용 주차구역,이용가능,BBC씨어터,10001,100003
4,주출입구 높이차이 제거,이용가능,BBC씨어터,10001,100004

In [133]:
zzang_facility.tail()

,facility_available_name,facility_is_available,place_name,place_id,facility_id
112920,화장실,이용가능,회현,322,900669
112921,화장실,이용가능,효창공원앞,323,900670
112922,엘리베이터,이용가능,효창공원앞,323,900671
112923,에스켈레이터,이용가능,효창공원앞,323,900672
112924,휠체어리프트,이용가능,효창공원앞,323,900673

In [134]:
zzang_facility.to_csv('ZZANG_FACILITY.csv')

# FACILITY 합  #3번 테이블 (YJ온리)

In [135]:
yj_total_place_facility_detail_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83653 entries, 0 to 83652
Data columns (total 4 columns):
Unnamed: 0                 83653 non-null int64
facility_detail_info       83653 non-null object
facility_available_name    83653 non-null object
facility_id                83653 non-null int64
dtypes: int64(2), object(2)
memory usage: 2.6+ MB

In [136]:
yj_total_place_facility_detail_info.tail()

       Unnamed: 0 facility_detail_info facility_available_name  facility_id
83648       83648              상세정보 없음                주출입구 접근로       117601
83649       83649               총주차대수8             장애인 전용 주차구역       117602
83650       83650            전용주차대수  1             장애인 전용 주차구역       117602
83651       83651        경사로 1/12초과 설치            주출입구 높이차이 제거       117603
83652       83652          유효폭 1.2m 이상            주출입구 높이차이 제거       117603

In [137]:
yj_total_place_facility_detail_info.drop('Unnamed: 0' , axis=1, inplace=True)

In [138]:
yj_total_place_facility_detail_info.head()

  facility_detail_info facility_available_name  facility_id
0                  평탄함                주출입구 접근로       100000
1                 단차없음                주출입구 접근로       100000
2      기울기 1/18~1/12이하                주출입구 접근로       100000
3              보/차도 구분                주출입구 접근로       100000
4              상세정보 없음            주출입구 높이차이 제거       100001