In [1]:
import pandas as pd

# YJ 데이터

In [2]:
def total(total_place_csv,total_place2_csv ):
    total_place = pd.read_csv(total_place_csv) # 주요시설
    total_place2 = pd.read_csv(total_place2_csv) # 음식점 
    total_place = total_place.append(total_place2)
    total_place.drop('Unnamed: 0' , axis=1, inplace=True)
    total_place.reset_index(inplace=True)
    total_place.drop('index', axis=1 , inplace=True)
    return total_place

In [23]:
yj_total_place = pd.read_csv('yj_main_dish_place/total_place.csv')

In [24]:
yj_total_place.head() # 영준 제 1 테이블

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall,10000
1,1,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall,10001
2,2,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall,10002
3,3,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall,10003
4,4,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall,10004

In [3]:
yj_total_place_facility_available = pd.read_csv('yj_main_dish_place/total_place_facility_available.csv')

In [4]:
yj_total_place_facility_detail_info = pd.read_csv('yj_main_dish_place/total_place_facility_detail_info.csv')

In [5]:
yj_total_place_facility_available.head() # 영준 제 2 테이블

,Unnamed: 0,facility_available_name,facility_is_available,place_name,place_id,facility_id
0,0,주출입구 접근로,이용불편,A아트홀(구.신연아트홀),0,100000
1,1,주출입구 높이차이 제거,이용가능,A아트홀(구.신연아트홀),0,100001
2,2,주출입구 접근로,이용가능,BBC씨어터,1,100002
3,3,장애인 전용 주차구역,이용가능,BBC씨어터,1,100003
4,4,주출입구 높이차이 제거,이용가능,BBC씨어터,1,100004

In [6]:
yj_total_place_facility_detail_info.head() # 영준 제 3 테이블

   Unnamed: 0 facility_detail_info facility_available_name  facility_id
0           0                  평탄함                주출입구 접근로       100000
1           1                 단차없음                주출입구 접근로       100000
2           2      기울기 1/18~1/12이하                주출입구 접근로       100000
3           3              보/차도 구분                주출입구 접근로       100000
4           4              상세정보 없음            주출입구 높이차이 제거       100001

# HJ 데이터

In [8]:
hj_place = pd.read_csv('place.csv') # HJ1번테이블

In [9]:
hj_place.head()

,Unnamed: 0,place_id,lat,lon,place_name,category,place_address,evalInfo
0,0,20000,37.562726,127.032570,(구)왕십리클리닉빌딩,bank,서울특별시 성동구 왕십리로 333,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
1,1,20001,37.573937,126.983187,(재)대한불교계종유지재단,shopping/mart,서울특별시 종로구 우정국로 56,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
2,2,20002,37.485282,126.931355,(주)관전인베스트먼트,tourist hotel,서울특별시 관악구 신림로64길29 (신림동),"객실 및 침실,계단 또는 승강설비,대변기,복도,세면대,소변기,일반사항,장애인전용주차..."
3,3,20003,37.490768,126.982048,(주)대광메디텍,shopping/mart,서울특별시 동작구 동작대로35길 5,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4,4,20004,37.544932,126.910696,(주)동아일보사,bank,서울특별시 마포구 토정로 1,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."

In [10]:
hj_place_facility_available = pd.read_csv('facility_available.csv')  # HJ 2번테이블

In [11]:
hj_place_facility_available.head()

,Unnamed: 0,facility_id,facillity_available_name,facility_is_available,place_name,place_id
0,0,200000,계단 또는 승강설비,None,(구)왕십리클리닉빌딩,20000
1,1,200001,대변기,None,(구)왕십리클리닉빌딩,20000
2,2,200002,장애인전용주차구역,None,(구)왕십리클리닉빌딩,20000
3,3,200003,주출입구 높이차이 제거,None,(구)왕십리클리닉빌딩,20000
4,4,200004,주출입구 접근로,None,(구)왕십리클리닉빌딩,20000

# JM 데이터

In [16]:
jm_seoul_toilets = pd.read_csv('seoul_toilets.csv')

In [17]:
jm_seoul_toilets_facility  = pd.read_csv('seoul_toilets_facility.csv')

In [19]:
jm_seoul_toilets.head() # 정민 1 번테이블

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
0,0,남대문시장 화장실,서울특별시 중구 남창동 51-2,37.559433,126.976225,toilet/open,30000
1,1,광희동 화장실,서울특별시 중구 광희동1가 202-1,37.564371,127.006306,toilet/open,30001
2,2,신당 1호 화장실,서울특별시 중구 신당동 236-542,37.563819,127.013347,toilet/open,30002
3,3,신당 2호 화장실,서울특별시 중구 신당동 298-74,37.561325,127.013778,toilet/open,30003
4,4,청구역 화장실,서울특별시 중구 신당동 297-17,37.561317,127.013783,toilet/open,30004

In [18]:
jm_seoul_toilets_facility.head() #정민 2번테이블

   Unnamed: 0 facility_available_name place_name  place_id  facility_id
0           0                 남성용-소변기  남대문시장 화장실     30000       300000
1           1             남성용-장애인용대변기  남대문시장 화장실     30000       300001
2           2                 여성용-대변기  남대문시장 화장실     30000       300002
3           3             여성용-장애인용대변기  남대문시장 화장실     30000       300003
4           4                 남성용-대변기    광희동 화장실     30001       300004

In [20]:
jm_facility = pd.read_csv('facility_cleansed.csv')

In [25]:
jm_facility.head()  # 정민 1번 테이블

,Unnamed: 0,Unnamed: 0.1,category,place_name,place_address,lat,lon,place_id
0,0,0,daycare,영락,중구 수표로 33 (저동2가 69),37.563202,126.989182,40000
1,1,1,daycare,역삼주간보호센터,강남구 테헤란로8길 36 (역삼동 827-61) 강남문화원 2층,37.496507,127.032048,40001
2,2,2,wellfare,성민장애인복지관,노원구 노원로32길 30-3 (상계동 321-9),37.655624,127.069340,40002
3,3,3,wellfare,강서뇌성마비복지관,강서구 방화대로45길 69 (방화동 452-5),37.574198,126.812585,40003
4,4,4,daycare,모랫말꿈터,영등포구 도영로 37 (도림2동 205-24),37.510186,126.897488,40004

# JT 데이터

In [ ]:
jt_subway = pd.read_csv('')