In [1]:
import pandas as pd
import sqlite3 as sql
from sqlalchemy import create_engine
from pandas import Series, DataFrame

In [9]:
df = pd.read_csv('fresh-master/toilets.csv', encoding='euc-kr')

In [11]:
t1 = df[df['소재지지번주소'].isin(['서울특별시'])]

In [48]:
t1 = t[t['소재지지번주소'].str.contains('서울특별시')]

In [42]:
t1 = t[t['소재지지번주소'].isin(['서울특별시'])]

In [52]:
t1.to_csv("toilet1.csv", encoding="euc-kr")

In [13]:
df = pd.read_csv('toilet1.csv', encoding='euc-kr')

In [55]:
df1 = df[['화장실명','소재지지번주소', '위도', '경도', '구분']]

In [56]:
df1.head()

    화장실명               소재지지번주소         위도          경도     구분
0  남대문시장     서울특별시 중구 남창동 51-2  37.559433  126.976225  공중화장실
1    광희동  서울특별시 중구 광희동1가 202-1  37.564371  127.006306  공중화장실
2  신당 1호  서울특별시 중구 신당동 236-542  37.563819  127.013347  공중화장실
3  신당 2호   서울특별시 중구 신당동 298-74  37.561325  127.013778  공중화장실
4    청구역   서울특별시 중구 신당동 297-17  37.561317  127.013783  공중화장실

In [57]:
df1=df1.rename(columns = {'화장실명':'place_name', '소재지지번주소':'place_address', '위도':'lat', '경도':'lon', '구분':'category'})

In [60]:
df2 = df[['남녀공용화장실여부', '화장실명']]

In [63]:
df2.head()

  남녀공용화장실여부   화장실명
0         N  남대문시장
1         N    광희동
2         Y  신당 1호
3         N  신당 2호
4         N    청구역

In [62]:
conn = sql.connect('toilet.db')
cur = conn.cursor()

In [65]:
cur.execute("DROP TABLE toilet_available")
cur.executescript(
    """
    CREATE TABLE toilet_detail(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    man_bowl INTEGER,
    man_urinal INTEGER,
    man_disabled_bowl INTEGER,
    man_disabled_urinal INTEGER,
    man_child_bowl INTEGER,
    man_child_urinal INTEGER,
    woman INTEGER,
    woman_disabled INTEGER,
    woman_child INTEGER,
    open_time TEXT
    );
    """
)

In [7]:
df2 = pd.read_csv("seoul_toilets.csv")

In [18]:
df2.sample()

,Unnamed: 0,place_name,place_address,lat,lon,category,place_id
326,4564,시흥1동 주민센터 화장실,서울특별시 금천구 시흥동 886-6,37.45354,126.894493,toilet/open,10657

In [17]:
df.sample()

,Unnamed: 0,구분,화장실명,소재지도로명주소,소재지지번주소,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,...,여성용-대변기수,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,위도,경도,데이터기준일자
476,477,개방화장실,개화주유소,서울특별시 강서구 양천로 57,서울특별시 강서구 방화1동 488-1,N,1,1,0,0,...,1,0,0,서울특별시 강서구청,02-2600-4073,24시간,NaN,37.553124,126.874381,2018.1.8

In [31]:
df.columns

Index(['Unnamed: 0', '구분', '화장실명', '소재지도로명주소', '소재지지번주소', '남녀공용화장실여부',
       '남성용-대변기수', '남성용-소변기수', '남성용-장애인용대변기수', '남성용-장애인용소변기수', '남성용-어린이용대변기수',
       '남성용-어린이용소변기수', '여성용-대변기수', '여성용-장애인용대변기수', '여성용-어린이용대변기수', '관리기관명',
       '전화번호', '개방시간', '설치년도', '위도', '경도', '데이터기준일자'],
      dtype='object')

In [32]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df.drop(columns=["데이터기준일자", "설치년도", '전화번호',"관리기관명","소재지도로명주소"], axis=1, inplace=True)

In [37]:
df.drop(columns=["Unnamed: 0"], axis=1, inplace=True)

In [39]:
df.reset_index(inplace=True)

In [2]:
# df.reset_index()

In [3]:
# df

In [50]:
# test =df.loc["구분", "화장실명","소재지지번주소","개방시간","위도","경도"]
# df2 = pd.DataFrame(df,  columns=['a', 'b', 'c', 'd', 'e'])
test = df.loc[:,["구분", "화장실명","소재지지번주소","개방시간","위도","경도"]]

In [51]:
test

,구분,화장실명,소재지지번주소,개방시간,위도,경도
0,공중화장실,남대문시장,서울특별시 중구 남창동 51-2,연중무휴,37.559433,126.976225
1,공중화장실,광희동,서울특별시 중구 광희동1가 202-1,연중무휴,37.564371,127.006306
2,공중화장실,신당 1호,서울특별시 중구 신당동 236-542,연중무휴,37.563819,127.013347
3,공중화장실,신당 2호,서울특별시 중구 신당동 298-74,연중무휴,37.561325,127.013778
4,공중화장실,청구역,서울특별시 중구 신당동 297-17,연중무휴,37.561317,127.013783
5,공중화장실,황학동,서울특별시 중구 황학동 755,연중무휴,37.567540,127.018139
6,공중화장실,구로4동 경로당,서울특별시 구로구 구로동 745-74,연중무휴,37.487057,126.886241
7,공중화장실,거리공원 등기소앞,서울특별시 구로구 구로동 50,연중무휴,37.501131,126.890341
8,공중화장실,삭새어린이공원,서울특별시 구로구 궁동 238-3,연중무휴,37.496343,126.824444
9,공중화장실,거리공원 해병대앞,서울특별시 구로구 구로동 50,연중무휴,37.501131,126.890341
10,공중화장실,개웅어린이공원,서울특별시 구로구 개봉동 340-8,연중무휴,37.490107,126.853004
11,공중화장실,고척근린공원,서울특별시 구로구 고척동 산9-14,연중무휴,37.505376,126.853067
12,공중화장실,궁동생태공원,서울특별시 구로구 궁동 42-2,연중무휴,37.501289,126.829383
13,공중화장실,구로리어린이공원,서울특별시 구로구 구로동 139-82,연중무휴,37.490433,126.891616
14,공중화장실,화원어린이공원,서울특별시 구로구 구로동 478-1,연중무휴,37.497937,126.880489
15,공중화장실,애경어린이공원,서울특별시 구로구 구로동 501-22,(평일)09:00~17:00+(주말)09:00~17:00+(공휴일)09:00~17:00,37.500312,126.884438
16,공중화장실,성산빌라 앞,서울특별시 구로구 구로동 801-27,연중무휴,37.485187,126.887311
17,공중화장실,동산빌라앞,서울특별시 구로구 구로동 792-28,연중무휴,37.485938,126.888578
18,공중화장실,계남근린공원입구,서울특별시 구로구 고척동 226-7,연중무휴,37.507601,126.854501
19,공중화장실,고척근린공원 소공원,서울특별시 구로구 고척동 164-12,연중무휴,37.503009,126.852811
20,공중화장실,잦절약수터 입구,서울특별시 구로구 개봉동 46-2,연중무휴,37.502194,126.839656
21,공중화장실,개웅산공원,서울특별시 구로구 개봉동 산60-5,연중무휴,37.485145,126.847953
22,공중화장실,목감교,서울특별시 구로구 개봉동 372-1,연중무휴,37.491017,126.863285
23,공중화장실,광명교,서울특별시 구로구 천왕동 51-1,연중무휴,37.480733,126.846005
24,공중화장실,남구로역 공중화장실,서울특별시 구로구 구로동 803-5,(평일)04:00~20:00+(주말)04:00~20:00+(공휴일)04:00~20:00,37.485671,126.886622
25,공중화장실,구일역제방앞,서울특별시 구로구 구로동 642-76,연중무휴,37.495033,126.871029
26,공중화장실,고척교입구,서울특별시 구로구 구로동 621-9,연중무휴,37.501465,126.872376
27,공중화장실,족구장제방앞,서울특별시 구로구 구로동 621-9,연중무휴,37.501465,126.872376
28,공중화장실,인라인스케이트장제방,서울특별시 구로구 구로동 635-19,연중무휴,37.499117,126.872294
29,공중화장실,c구장(축구장)제방위,서울특별시 구로구 구로동 271-86,연중무휴,37.511845,126.878172
...,...,...,...,...,...,...
1165,공중화장실,도구머리공원,서울특별시 서초구 방배동 산75-4,연중무휴,37.479596,126.989915
1166,공중화장실,간이화장실,서울특별시 서초구 반포동 115-4,연중무휴,37.508194,126.995634
1167,공중화장실,방배배수지 체육공원,서울특별시 서초구 방배동 599,연중무휴,37.472727,126.992462
1168,공중화장실,양재천수영장,서울특별시 서초구 양재동 126-1,연중무휴,37.473464,127.035751
1169,공중화장실,양재천(영동2교둑마루),서울특별시 서초구 양재동 261-23,연중무휴,37.476623,127.041509
1170,공중화장실,양재천무인자동화장실(교총삼거리둑마루),서울특별시 서초구 우면동 143-6,연중무휴,37.468269,127.028713
1171,공중화장실,살곶이 진입,서울특별시 성동구 사근동 102-28,연중무휴,37.549540,127.034969
1172,공중화장실,살곶이 진출,서울특별시 성동구 사근동 102-28,연중무휴,37.553132,127.028349
1173,공중화장실,살곶이인라인,서울특별시 성동구 사근동 104,연중무휴,37.553132,127.028349
1174,공중화장실,궁터장,서울특별시 성동구 행당동 81-4,연중무휴,37.546100,127.010581
1175,공중화장실,새말빗물펌프장,서울특별시 성동구 송정동 93-22,연중무휴,37.553132,127.028349
1176,공중화장실,송정농구장,서울특별시 성동구 송정동 73-24,연중무휴,37.567202,127.041067
1177,공중화장실,송정제방,서울특별시 성동구 송정동 75-20,연중무휴,37.569826,127.044108
1178,공중화장실,상원 앞,서울특별시 성동구 성수동1가 2-20,연중무휴,37.549916,127.028741
1179,공중화장실,자전거체험장,서울특별시 성동구 마장동 811,연중무휴,37.553973,127.046326
1180,공중화장실,응봉산 팔각정,서울특별시 성동구 금호4가 1539,연중무휴,37.548457,127.031930
1181,공중화장실,응봉자전거대여소,서울특별시 성동구 응봉동 3-11,연중무휴,37.548505,127.030867
1182,공중화장실,매봉산지하수 옆,서울특별시 성동구 옥수동 산5-164,연중무휴,37.544808,127.052405
1183,공중화장실,응봉교 아래,서울특별시 성동구 응봉동 244-2,연중무휴,37.551270,127.037219
1184,공중화장실,응봉체육공원,서울특별시 성동구 응봉동 9-4,연중무휴,37.557597,127.037251
1185,공중화장실,무학봉,서울특별시 성동구 하왕십리동 890-334,연중무휴,37.544849,127.020611
1186,공중화장실,중랑물재생센터,서울특별시 성동구 송정동 73-37,연중무휴,37.567892,127.039399
1187,공중화장실,성삼공원,서울특별시 성동구 성수동2가 273-11,연중무휴,37.561611,127.026948
1188,공중화장실,성수근린공원,서울특별시 성동구 성수동2가 302-25,연중무휴,37.566074,127.047049
1189,공중화장실,자동차매매,서울특별시 성동구 용답동 234-1,연중무휴,37.553973,127.046326
1190,공중화장실,독서당공원,서울특별시 성동구 금호동1가 산37-7,연중무휴,37.556445,127.019518
1191,공중화장실,왕십리문화공원,서울특별시 성동구 도선동 35-2,연중무휴,37.553588,127.041916
1192,공중화장실,한양대 앞,서울특별시 성동구 행당동 157-4,연중무휴,37.566104,127.045757
1193,공중화장실,행당어린이공원,서울특별시 성동구 행당동 128-417,연중무휴,37.561760,127.035263
1194,공중화장실,마장축산물평면주차장,서울특별시 마장동 525,(평일)09:00~17:00+(주말)09:00~17:00+(공휴일)09:00~17:00,37.571378,127.040233

In [25]:
df3 = df[[]]

In [29]:
conn = sql.connect('toilets.db')
cur = conn.cursor()

In [ ]:
cur.executescript("""
    CREATE TABLE 
""")

In [28]:
cur.executescript("""
    CREATE TABLE toilet_facility_available(
        facility_id TEXT(7) NOT NULL PRIMARY KEY UNIQUE,
        facility_available_name TEXT,
        facility_is_available TEXT(4),
        place_name TEXT,
        place_id INTEGER,
        
    )
""")

OperationalError: no such table: toilet_available

In [30]:
conn = sql.connect('total.db')
cur = conn.cursor()

In [4]:
# cur.executescript("""
#     CREATE TABLE place(
#         id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
#         facility_available_name TEXT,
#         facility_is_available TEXT(4),
#         place_name TEXT,
#         place_id INTEGER,
        
#     );
# """)

In [10]:
df = pd.read_csv("yj_hj_jm.csv")

In [11]:
df.sample()

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
3163,3601,13601,지혜로운사임당어린이집,서울특별시 강동구 성안로3길 65,37.526808,127.12622,education/Childcare

In [12]:
df = df[df.category != 'UC0U03']

In [13]:
df.category.unique()

array(['movie/concerthall', 'shopping/mart', 'publicparking',
       'publictoilet', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'western_food', 'chinese_food', 'japanese_food', 'other_food',
       'UC0K02', 'UC0A01', 'UC0L02', 'UC0A14', 'UC0B01', 'UC0F02',
       'UC0G08', 'UC0E01', 'UC0U02', 'UC0C04', 'UC0C01', 'UC0C02',
       'UC0N01', 'UC0L01', 'UC0B02', 'UC0G07', 'UC0O02', 'UC0A02',
       'UC0V01', 'UC0H01', 'UC0O01', 'UC0K01', 'UC0B03', 'UC0G02',
       'UC0M01', 'UC0H03', 'UC0H05', 'UC0A03', 'UC0T01', 'UC0H04',
       'UC0F01', 'UC0A06', 'UC0C03', 'UC0I02', 'UC0H02', 'UC0D01',
       'UC0J02', 'UC0G05', 'UC0A05', 'UC0A04', 'UC0G09', 'UC0T02',
       'UC0A13', 'UC0K03', 'UC0A09', 'UC0G04', 'UC0N02', 'UC0G03',
       'UC0G01', 'UC0I01', 'UC0A07', 'UC0J01', 'UC0G06', 'toilet/open',
       'toilet/small', 'wellfare', 'daycare', 'sports/rehab',
       'signinterpret', 'hospital/rehab', 'education/job'], dtype=object)

In [14]:
df['category'] = df['category'].replace({'wellfare':'welfare', 'publictoilet':'toilet/public', 
                 'UC0A01':'shopping/mart', 'UC0A02':'beauty/hair', 'UC0A03':'community service center', 'UC0A04':'police station', 
                'UC0A05':'post office', 'UC0A06':'health center', 'UC0A07':'public library', 'UC0A08':'national health insurance corporation', 'UC0A09':'national pension service', 
                 'UC0A10':'disabled employment agency', 'UC0A11':'workers welfare service', 'UC0A12':'shelter', 'UC0A13':'toilet/public', 'UC0A14':'hospital', 
                 'UC0A15':'community child center', 'UC0B01':'restaurant', 'UC0B02':'convenience store/bakery', 'UC0B03':'massage parlor', 'UC0C01':'concert hall', 
                'UC0C02':'movie', 'UC0C03':'meeting hall', 'UC0C04':'exhibition center', 'UC0C05':'zoo/garden', 'UC0D01':'church', 
                 'UC0H01':'daycare center', 'UC0H02':'welfare/child', 'UC0H03':'welfare/senior', 'UC0H04':'welfare/disabled', 'UC0H05':'welfare/etc', 
                 'UC0I01':'training facility/urban', 'UC0I02':'training facility/rural', 'UC0J01':'gym', 'UC0J02':'stadium', 'UC0K01':'government office building', 
                 'UC0K03':'national health insurance corporation', 'UC0K04':'national pension service', 'UC0K05':'disabled employment agency', 'UC0K06':'welfare service', 'UC0O01':'broadcasting station', 
                 'UC0G01':'special-education school', 'UC0G02':'kindergarten', 'UC0G03':'elementary school', 'UC0G04':'junior high school', 'UC0G05':'high school', 
                 'UC0G06':'college', 'UC0G07':'university', 'UC0G08':'education/job', 'UC0G09':'library', 'UC0K02':'bank', 
                 'UC0F01':'general hospital', 'UC0F02':'hospital', 'UC0F03':'isolation hospital', 'UC0E01':'shopping', 'UC0L01':'hotel', 
                 'UC0L02':'tourist hotel', 'UC0M01':'factory', 'UC0N01':'public parking', 'UC0N02':'driving academy', 'UC0O02':'telecommunication office', 
                 'UC0P01':'prison', 'UC0Q01':'crematory facilities', 'UC0Q02':'charnel house', 'UC0R01':'outdoor theater', 'UC0R02':'service area', 
                 'UC0S01':'funeral hall', 'UC0T01':'city park', 'UC0T02':'nature park', 'UC0U02':'apartment subsidiary facility'})

In [15]:
df.sample()

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
1005,1134,11134,둔촌1동 주민센터,서울특별시 강동구 양재대로84길 31,37.523492,127.136729,publicinstitution

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.columns.unique()

Index(['Unnamed: 0', 'place_id', 'place_name', 'place_address', 'lat', 'lon',
       'category'],
      dtype='object')

In [11]:
df.category.unique()

array(['movie/concerthall', 'shopping/mart', 'publicparking',
       'toilet/public', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'western_food', 'chinese_food', 'japanese_food', 'other_food',
       'tourist hotel', 'restaurant', 'education/job', 'shopping',
       'apartment subsidiary facility', 'exhibition center',
       'concert hall', 'movie', 'public parking', 'hotel',
       'convenience store/bakery', 'university',
       'telecommunication office', 'UC0V01', 'daycare center',
       'broadcasting station', 'government office building',
       'massage parlor', 'kindergarten', 'factory', 'welfare/senior',
       'welfare/etc', 'community service center', 'city park',
       'welfare/disabled', 'general hospital', 'health center',
       'meeting hall', 'training facility/rural', 'welfare/child',
       'church', 'stadium', 'high school', 'post office',
       'police station', 'library', 'nature park',
       'national health insurance corporation',
       'national pension service', 'junior high school',
       'driving academy', 'elementary school', 'special-education school',
       'training facility/urban', 'public library', 'gym', 'college',
       'toilet/open', 'toilet/small', 'welfare', 'daycare',
       'sports/rehab', 'signinterpret', 'hospital/rehab'], dtype=object)

In [18]:
df = df[df.category != 'UC0V01']

In [19]:
df.category.unique()

array(['movie/concerthall', 'shopping/mart', 'publicparking',
       'toilet/public', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'western_food', 'chinese_food', 'japanese_food', 'other_food',
       'tourist hotel', 'restaurant', 'education/job', 'shopping',
       'apartment subsidiary facility', 'exhibition center',
       'concert hall', 'movie', 'public parking', 'hotel',
       'convenience store/bakery', 'university',
       'telecommunication office', 'daycare center',
       'broadcasting station', 'government office building',
       'massage parlor', 'kindergarten', 'factory', 'welfare/senior',
       'welfare/etc', 'community service center', 'city park',
       'welfare/disabled', 'general hospital', 'health center',
       'meeting hall', 'training facility/rural', 'welfare/child',
       'church', 'stadium', 'high school', 'post office',
       'police station', 'library', 'nature park',
       'national health insurance corporation',
       'national pension service', 'junior high school',
       'driving academy', 'elementary school', 'special-education school',
       'training facility/urban', 'public library', 'gym', 'college',
       'toilet/open', 'toilet/small', 'welfare', 'daycare',
       'sports/rehab', 'signinterpret', 'hospital/rehab'], dtype=object)

In [20]:
df.reset_index()

,index,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
0,0,0,10000,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37,37.583269,127.002443,movie/concerthall
1,1,1,10001,BBC씨어터,서울특별시 강남구 신사동 568-2,37.523930,127.025143,movie/concerthall
2,2,2,10002,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1,37.568835,126.988123,movie/concerthall
3,3,3,10003,BYRDS(버즈),서울특별시 마포구 와우산로 51,37.549100,126.922860,movie/concerthall
4,4,4,10004,Between the Bars,서울특별시 마포구 어울마당로 114,37.554833,126.923213,movie/concerthall
5,5,5,10005,CGV 강남,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층,37.501621,127.026391,movie/concerthall
6,6,6,10006,CGV 명동,서울특별시 중구 명동2가 83-5 눈스퀘어 8층,37.563424,126.982920,movie/concerthall
7,7,7,10007,CGV 상암,서울특별시 마포구 월드컵로 240,37.569951,126.899029,movie/concerthall
8,8,8,10008,CGV 송파,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층,37.478738,127.121117,movie/concerthall
9,9,9,10009,CGV강변,서울특별시 강동구 성내로 48,37.528452,127.125378,movie/concerthall
10,10,10,10010,CGV구로,서울특별시 구로구 구로중앙로 152,37.501177,126.882847,movie/concerthall
11,11,11,10011,CGV군자,서울특별시 광진구 능동로 289,37.555810,127.078365,movie/concerthall
12,12,12,10012,CGV대학로,서울특별시 종로구 새문안로 75,37.570651,126.972992,movie/concerthall
13,13,13,10013,CGV목동,서울특별시 양천구 목동동로 257,37.526592,126.874452,movie/concerthall
14,14,14,10014,CGV불광,서울특별시 은평구 불광로 20,37.609740,126.928968,movie/concerthall
15,15,15,10015,CGV신촌아트레온,서울특별시 서대문구 신촌로 129,37.556540,126.940294,movie/concerthall
16,16,16,10016,CGV신한카드아트홀(구 CGV팝아트홀),서울특별시 영등포구 영등포동 4가 442번지 타임스퀘어내 CGV팝아트홀 7층,37.517052,126.903333,movie/concerthall
17,17,17,10017,CGV압구정,서울특별시 강남구 압구정로30길 45,37.524366,127.029416,movie/concerthall
18,18,18,10018,CGV영등포,서울특별시 영등포구 여의공원로 101,37.529261,126.924906,movie/concerthall
19,19,19,10019,CLUB ANSWER,서울특별시 강남구 청담동 125-16,37.525151,127.052000,movie/concerthall
20,20,20,10020,CLUB mASS,서울특별시 서초구 서초4동 1306-8번지 대동빌딩 B1,37.499552,127.026308,movie/concerthall
21,21,21,10021,GS타워 소극장,서울특별시 강남구 역삼1동 679-1 GS타워 25층,37.501549,127.037318,movie/concerthall
22,22,22,10022,JW 메리어트호텔 그랜드볼룸,서울특별시 서초구 반포동 19-3 메리어트호텔,37.504322,127.003538,movie/concerthall
23,23,23,10023,LG아트센터,서울특별시 강남구 논현로 508,37.501992,127.037352,movie/concerthall
24,24,24,10024,LIG아트홀,서울특별시 강남구 테헤란로 117,37.499205,127.030267,movie/concerthall
25,25,25,10025,LIG아트홀(강남),서울특별시 강남구 역삼동 649-11 LIG타워 LIG아트홀,37.499200,127.030284,movie/concerthall
26,26,26,10026,OTM청담아트홀 (구KS청담홀),서울특별시 강남구 청담동 86번지 I 빌딩 3층,37.523893,127.039645,movie/concerthall
27,27,28,10028,강남 동양아트홀,서울특별시 강남구 논현동 1-3 렉스타워 지하 1층,37.516262,127.020648,movie/concerthall
28,28,29,10029,강북 정동 난타 전용관,서울특별시 중구 정동 22번지 경향신문사 건물 1층,37.568163,126.969971,movie/concerthall
29,29,30,10030,건국대학교 국제회의장,서울특별시 광진구 능동로 120 (화양동),37.543888,127.075955,movie/concerthall
...,...,...,...,...,...,...,...,...
11018,11037,284,40292,양천장애인복지관,서울특별시 양천구 목동동로 159 양천장애인복지관,37.519900,126.869881,welfare
11019,11038,285,40293,사랑의복지관,서울특별시 서초구 강남대로65길 19 사랑의복지관,37.499834,127.023994,welfare
11020,11039,286,40294,방이장애인복지관,서울특별시 송파구 오금로11길 68 방이장애인복지관,37.514663,127.114202,welfare
11021,11040,287,40295,인성장애인복지관,서울특별시 송파구 마천로61길 26 인성장애인복지관,37.493905,127.155198,welfare
11022,11041,288,40296,밀알그린보호작업장,강남구 밤고개로1길 34 밀알그린보호작업장,37.488783,127.103615,education/job
11023,11042,289,40297,신아보호작업장,송파구 양산로8길 17 (거여동) 신아보호작업장,37.491440,127.145507,education/job
11024,11043,290,40298,임마누엘 보호작업시설,송파구 양산로10길 26 (거여동) 임마누엘 보호작업시설,37.491475,127.146676,education/job
11025,11044,293,40301,구립송파구 장애인보호작업장,송파구 양산로 5 3층 (거여동) 구립송파구 장애인보호작업장,37.489769,127.142672,education/job
11026,11045,294,40302,연화직업재활원,송파구 가락로 86 (석촌동) 5층 연화직업재활원,37.500461,127.105889,education/job
11027,11046,295,40303,송파위더스,송파구 성내천로 333-4 (마천동) 송파위더스,37.491384,127.157453,education/job
11028,11047,296,40304,효명장애인 보호작업시설,"송파구 올림픽로 269, 832호 (신천동, 롯데캐슬프라자) 효명장애인 보호작업시설",37.514418,127.100649,education/job
11029,11048,297,40305,행복보호작업장,송파구 성내천로 271 (마천동) 행복보호작업장,37.496327,127.154468,education/job
11030,11049,298,40306,굿윌스토어(♠),송파구 마천로 226 (마천동) 굿윌스토어(♠),37.500233,127.142934,education/job
11031,11050,299,40307,함재보호작업장,송파구 새말로10길 19 (문정동) 함재보호작업장,37.481135,127.127737,education/job
11032,11051,300,40308,두손장애인보호작업장,송파구 송이로 31길 4-15(문정동) 두손장애인보호작업장,37.487967,127.132597,education/job
11033,11052,301,40309,라온클린패밀리,강동구 고덕로 295-45 라온클린패밀리,37.557735,127.158586,education/job
11034,11053,303,40311,성지보호작업장,강동구 동남로 85길 15 성지보호작업장,37.561246,127.155895,education/job
11035,11054,304,40312,강동구 장애인보호작업장,강동구 고덕로 100-5 강동구 장애인보호작업장,37.554311,127.136570,education/job
11036,11055,305,40313,아이티어빌리티센터,강동구 명일로 230 삼보프리빌 301호 아이티어빌리티센터,37.539149,127.146813,education/job
11037,11056,307,40315,푸른보호작업장,강동구 상암로3길 86 푸른보호작업장,37.554317,127.128149,education/job
11038,11057,309,40317,동안우리복지센터,강동구 풍성로 146 동안우리복지센터,37.530999,127.128193,education/job
11039,11058,310,40318,파란마음복지센터,강동구 진황도로 100 하이브 3층 파란마음복지센터,37.535421,127.137407,education/job
11040,11059,311,40319,선한복지센터,"강동구 양재대로91길 62 (성내동, 동아아파트상가4층) 선한복지센터",37.528758,127.132657,education/job
11041,11060,312,40320,소망드림복지센터,강동구 암사동512-4 2층 소망드림복지센터,37.549899,127.126549,education/job
11042,11061,316,40324,마포장애인종합복지관,"마포구 월드컵북로 30길 9-22, 102동 102호 (성산동, 성산월드타운대림아파...",37.569854,126.907696,daycare
11043,11062,318,40326,로뎀나무,강서구 까치산로18나길 36 (화곡동 772-60 1층),37.545872,126.849567,daycare
11044,11063,319,40327,양지골,구로구 구로중앙로28길 62 5층 (구로동 109-3),37.499968,126.889072,daycare
11045,11064,320,40328,파란마음주간보호센터,중구 다산로22길 11 (신당동 340-180) 1층,37.557676,127.013070,daycare
11046,11065,321,40329,송파구수화통역센터,"서울시 송파구 송파1동 15-2 3층 서울시 송파구 송파대로 460, 3층",37.507644,127.105472,signinterpret
11047,11066,322,40330,TEST,서울특별시 강남구 학동로 402 TEST,37.516988,127.041807,education/job

In [21]:
df.sample()

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
4102,4678,14678,중랑구민체육센터,서울특별시 중랑구 신내로15길 189,37.615178,127.087491,other

In [31]:
df.loc[df['place_name'] == '(구)왕십리클리닉빌딩']

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
4647,0,20000,(구)왕십리클리닉빌딩,서울특별시 성동구 왕십리로 333,37.562726,127.03257,bank

In [44]:
df.loc[df['place_name'] == '힘멜에듀센터']

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
9698,10427,19288,힘멜에듀센터,서울특별시 서초구 신반포로43길 42,37.511869,127.017672,daycare center

In [83]:
# a = 20000
for i in range(4676, 9700):
    df.place_id[i]=i+15353

In [86]:
df.place_id[4676]

20029

In [80]:
df.iloc[4850:4900, :]

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
4850,275,20203,LIG빌딩,서울특별시 마포구 양화로 19,37.549139,126.911248,bank
4851,277,20204,LK 빌딩,서울특별시 마포구 와우산로18길 12,37.550704,126.923731,restaurant
4852,278,20205,LK사옥,서울특별시 영등포구 선유로 151,37.527548,126.890942,bank
4853,279,20206,LLG패션 별관,서울특별시 강남구 언주로174길 8,37.528199,127.034501,bank
4854,280,20207,LS용산타워,서울특별시 용산구 한강대로 92,37.528174,126.967522,shopping
4855,281,20208,Lexus빌딩,서울특별시 서초구 반포대로 77,37.487100,127.009493,bank
4856,282,20209,L빌딩,서울특별시 강남구 도산대로85길 45,37.527595,127.049746,beauty/hair
4857,283,20210,M-SPACE,서울특별시 강남구 강남대로158길 26,37.519185,127.020918,bank
4858,284,20211,M.BIZ호텔,서울특별시 강남구 테헤란로7길 11,37.499890,127.030389,hotel
4859,285,20212,MBC아카데미,서울특별시 송파구 백제고분로 9길 10,37.508917,127.080190,education/job
4860,287,20213,METRO구로센터,서울특별시 구로구 가마산로27길 11-1,37.497091,126.891203,bank
4861,288,20214,MGL블루핀타워,서울특별시 서초구 서초중앙로 42,37.485866,127.016259,hospital
4862,289,20215,MG빌딩,서울특별시 성동구 성수이로 8,37.535937,127.053784,bank
4863,290,20216,MH빌딩,서울특별시 강남구 언주로 707,37.516223,127.035011,hospital
4864,291,20217,MIDC,서울특별시 강동구 아리수로 421,37.564631,127.174073,education/job
4865,292,20218,MIND관광호텔,서울특별시 금천구 남부순환로 1262,37.478879,126.890958,tourist hotel
4866,293,20219,MJ빌딩,서울특별시 중구 동호로 186-7,37.554606,127.011507,shopping/mart
4867,295,20220,M TOWER,서울특별시 강남구 학동로 337,37.517072,127.039930,bank
4868,296,20221,MUG FOR RABBIT,서울특별시 강남구 논현로15길 65,37.472547,127.050325,restaurant
4869,298,20222,Moon 호텔,서울특별시 영등포구 영중로8길 13,37.518556,126.907139,hotel
4870,299,20223,M모텔,서울특별시 관악구 남부순환로181길 6,37.484860,126.931133,hotel
4871,300,20224,M빌딩,서울특별시 강남구 삼성로 334,37.501526,127.059880,education/job
4872,301,20225,M 빌딩,서울특별시 강남구 도산대로 445,37.524336,127.044789,shopping/mart
4873,302,20226,M타워,서울특별시 강남구 테헤란로87길 2,37.508447,127.058691,hospital
4874,303,20227,M호텔,서울특별시 강남구 테헤란로77길 12,37.507349,127.054768,hotel
4875,304,20228,N4 크리에이티브빌딩,서울특별시 강남구 도산대로81길 4,37.524871,127.048210,bank
4877,307,1353,NINETH 호텔,서울특별시 서초구 반포대로14길 51,37.486285,127.013623,hotel
4878,308,1355,NYX HOTEL,서울특별시 강서구 월정로24길 1,37.530923,126.838473,hotel
4879,309,1356,Noon Square,서울특별시 중구 명동길 14,37.563410,126.982886,shopping
4880,310,1358,OK목장,서울특별시 송파구 백제고분로 507,37.515671,127.115068,restaurant
4881,311,1360,OPUS 11,서울특별시 중구 을지로 54,37.565854,126.983692,bank
4882,312,1361,OREDA빌딩,서울특별시 강남구 도곡로 432,37.497530,127.057778,education/job
4883,313,1362,OTC센터빌딩,서울특별시 강남구 영동대로112길 36,37.515292,127.063117,bank
4884,314,1364,PARKSIDE,서울특별시 구로구 가마산로25길 -13,37.496549,126.890177,bank
4885,315,1365,POBA 행정공제회,서울특별시 용산구 한강대로 144,37.531941,126.970924,bank
4886,316,1366,PSA SCHOOL (상가3동),서울특별시 용산구 신흥로 14,37.539797,126.986739,education/job
4887,317,1370,R&D센타,서울특별시 성동구 자동차시장길 23,37.560428,127.056925,education/job
4888,318,1371,RAYA빌딩,서울특별시 강남구 학동로7길 34,37.514168,127.023228,education/job
4889,320,1375,ROYCO(로이코)빌딩,서울특별시 마포구 토정로 112,37.544783,126.923768,bank
4890,321,1376,Ra끌로에빌딩,서울특별시 강남구 도산대로81길 31,37.526421,127.046994,beauty/hair
4891,322,1378,Rockn Roll,서울특별시 서초구 신반포로47길 23,37.511757,127.019070,shopping/mart
4892,323,1379,R호텔,서울특별시 성북구 동소문로 14-14,37.588920,127.007754,hotel
4893,324,1380,S & W 빌딩,서울특별시 서초구 사임당로 76,37.489265,127.018155,bank
4894,325,1381,S-OIL 사옥,서울특별시 마포구 백범로 12,37.553448,126.937498,bank
4895,328,1384,S.M타워,서울특별시 강서구 강서로45길 174,37.552871,126.830613,education/job
4896,329,1385,S.O.S 어린이마을,서울특별시 양천구 가로공원로58길 32,37.531678,126.824872,daycare center
4897,331,1387,SBS 미디어센터,서울특별시 마포구 상암산로 82,37.579718,126.892772,broadcasting station
4898,333,1389,SBS아카데미(조앤리빌딩),서울특별시 강남구 논현로81길 12,37.498169,127.036934,education/job
4899,334,1390,SB타워(신축),서울특별시 강남구 도산대로 318,37.521862,127.036638,bank
4900,335,1391,SD타워II,서울특별시 서대문구 명물길 37,37.558580,126.938178,restaurant

In [66]:
a = [i for i in range(20000,24823)]

In [67]:
len(a)

4823

In [81]:
df.loc[df['place_name'] == 'Ra끌로에빌딩']

,Unnamed: 0,place_id,place_name,place_address,lat,lon,category
4890,321,1376,Ra끌로에빌딩,서울특별시 강남구 도산대로81길 31,37.526421,127.046994,beauty/hair

In [ ]:
df.place_id

In [ ]:
df.replace

In [82]:
conn = sql.connect('total.db')
cur = conn.cursor()

In [87]:
df.to_sql('total_place', conn)

/Users/hanhyejeong/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [88]:
query = "UPDATE total_place SET place_id=? WHERE index=?"
for i in range(4676, 9700):
    cur.execute(query, (i+15353, i))

OperationalError: near "index": syntax error

In [89]:
table_info(total_place)

NameError: name 'table_info' is not defined