# 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
data_place = pd.read_csv('ZZANG/ZZANG_PLACE.csv', encoding='utf-8')

In [3]:
data_place.drop(columns='Unnamed: 0', inplace=True)

In [4]:
data_facility = pd.read_csv('ZZANG/ZZANG_FACILITY.csv', encoding='utf-8')

In [5]:
data_facility.drop(columns='Unnamed: 0', inplace=True)

In [6]:
data_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112925 entries, 0 to 112924
Data columns (total 5 columns):
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
dtypes: int64(2), object(3)
memory usage: 4.3+ MB

In [7]:
data_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16847 entries, 0 to 16846
Data columns (total 6 columns):
category         16847 non-null object
lat              16847 non-null float64
lon              16847 non-null float64
place_address    16847 non-null object
place_id         16847 non-null int64
place_name       16847 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 789.8+ KB

# 중복제거

In [8]:
data_place[data_place.duplicated(subset=['place_name'], keep=False)].sort_values('place_name').info()
# 주소와 장소 명이 같을 경우 중복

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9534 entries, 5047 to 892
Data columns (total 6 columns):
category         9534 non-null object
lat              9534 non-null float64
lon              9534 non-null float64
place_address    9534 non-null object
place_id         9534 non-null int64
place_name       9534 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 521.4+ KB

In [9]:
data_place.drop_duplicates(subset=['place_name'],inplace=True)

In [10]:
data_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11732 entries, 0 to 16846
Data columns (total 6 columns):
category         11732 non-null object
lat              11732 non-null float64
lon              11732 non-null float64
place_address    11732 non-null object
place_id         11732 non-null int64
place_name       11732 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 641.6+ KB

In [11]:
data_place[data_place.duplicated(subset=['place_name','place_address'], keep=False)].sort_values('place_name') # 확인

Empty DataFrame
Columns: [category, lat, lon, place_address, place_id, place_name]
Index: []

In [12]:
data_place.drop_duplicates(subset=['lat','lon'],inplace=True) #좌표가 같은경우 같은 시설 서울대 서울대학원 서울~~~

In [13]:
data_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11182 entries, 0 to 16846
Data columns (total 6 columns):
category         11182 non-null object
lat              11182 non-null float64
lon              11182 non-null float64
place_address    11182 non-null object
place_id         11182 non-null int64
place_name       11182 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 611.5+ KB

In [14]:
data_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112925 entries, 0 to 112924
Data columns (total 5 columns):
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
dtypes: int64(2), object(3)
memory usage: 4.3+ MB

In [15]:
data_place.to_csv('main_place_for_analysis.csv')

# merge (left join)

In [16]:
merge_data = pd.merge(data_place, data_facility, sort= True,on =[ 'place_id','place_id'] ,how = 'left').sort_values(by = ['place_id'])

In [17]:
merge_data.head()

,category,lat,lon,place_address,place_id,place_name_x,facility_available_name,facility_is_available,place_name_y,facility_id
0,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,화장실,이용가능,가락시장,900000.0
1,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,엘리베이터,이용가능,가락시장,900001.0
2,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,휠체어리프트,이용가능,가락시장,900002.0
3,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,에스켈레이터,이용가능,가산디지털단지,900003.0
4,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,화장실,이용가능,가산디지털단지,900004.0

In [18]:
merge_data[merge_data.place_id.isna()]

Empty DataFrame
Columns: [category, lat, lon, place_address, place_id, place_name_x, facility_available_name, facility_is_available, place_name_y, facility_id]
Index: []

In [19]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64175 entries, 0 to 64174
Data columns (total 10 columns):
category                   64175 non-null object
lat                        64175 non-null float64
lon                        64175 non-null float64
place_address              64175 non-null object
place_id                   64175 non-null int64
place_name_x               64175 non-null object
facility_available_name    63588 non-null object
facility_is_available      59462 non-null object
place_name_y               63588 non-null object
facility_id                63588 non-null float64
dtypes: float64(3), int64(1), object(6)
memory usage: 5.4+ MB

In [20]:
merge_data.drop(columns=['place_name_y'], inplace=True)

In [21]:
merge_data.rename(columns={"place_name_x" : "place_name"}, inplace=True)

In [22]:
merge_data.sample(10)

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
31708,bank,37.523115,126.872957,서울특별시 양천구 오목로54길 23,23407,문창오피스텔,대변기,None,229990.0
15729,korean_food,37.671040,127.052987,서울특별시 노원구 수락산로 232,14891,근린생활시설(착한고기),주출입구 접근로,이용불편,116700.0
5405,publicinstitution,37.570765,126.972236,서울특별시 종로구 경희궁길 6-3,11441,신문로파출소,장애인 전용 주차구역,이용가능,105134.0
58550,toilet/open,37.475386,127.127570,서울특별시 송파구 가락동 78,30162,아이티벤처타워 화장실,비치용품,None,288536.0
6454,publicinstitution,37.510670,126.962785,서울특별시 동작구 현충로 56,11772,흑석1동파출소,주출입구 접근로,이용가능,106264.0
43851,bank,37.521365,126.884539,서울특별시 영등포구 선유서로 61,26556,양평동 월드메르디앙 오피스텔,주출입구 접근로,None,258499.0
58992,toilet/open,37.506080,127.105904,서울특별시 송파구 송파동 19-1,30196,잠실주유소(셀프) 화장실,남성용-소변기,NaN,300729.0
55111,bank,37.557882,126.847428,서울특별시 강서구 공항대로 355,29619,한국여자농구연맹,해당시설 층수,None,284180.0
3196,hospital,37.560649,127.036153,서울특별시 성동구 왕십리로 296,10791,연세병원,장애인용 화장실,이용가능,102703.0
38868,education/job,37.476985,126.900792,서울특별시 금천구 시흥대로152길 33,25098,성광교회교육관,해당시설 층수,None,245877.0

In [23]:
merge_data.category.unique()

array(['subway', 'movie/concerthall', 'shopping/mart', 'publicparking',
       'publictoilet', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'western_food', 'chinese_food', 'japanese_food', 'other_food',
       'tourist hotel', 'restaurant', 'education/job', 'shopping',
       'apartment subsidiary facility', 'exhibition center',
       'concert hall', 'movie', 'public parking', 'hotel',
       'convenience store/bakery', 'university',
       'telecommunication office', 'daycare center',
       'broadcasting station', 'government office building',
       'massage parlor', 'kindergarten', 'factory', 'welfare/senior',
       'welfare/etc', 'community service center', 'city park',
       'welfare/disabled', 'general hospital', 'health center',
       'meeting hall', 'training facility/rural', 'welfare/child',
       'church', 'stadium', 'high school', 'post office',
       'police station', 'nature park', 'toilet/public',
       'national health insurance corporation',
       'national pension service', 'junior high school',
       'driving academy', 'library', 'elementary school',
       'special-education school', 'training facility/urban',
       'public library', 'gym', 'college', 'toilet/open', 'toilet/small',
       'wellfare', 'daycare', 'sports/rehab', 'signinterpret',
       'hospital/rehab'], dtype=object)

# nan, None 정제

In [24]:
import numpy as np

In [25]:
merge_data.replace(np.nan, '', inplace=True)

In [26]:
merge_data.replace("None", '', inplace=True)

In [27]:
merge_data.facility_id.replace("", -1, inplace=True)

In [28]:
merge_data.facility_id = merge_data.facility_id.astype('int64')

In [29]:
merge_data[merge_data.facility_id == -1]

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
7,subway,37.464689,126.693408,서울특별시 남동구,2,간석,,,-1
20,subway,37.494698,126.858504,서울특별시 구로구,9,개봉,,,-1
31,subway,37.443987,127.007899,서울특별시 null,13,경마공원,,,-1
40,subway,37.316821,126.823094,서울특별시 단원구,18,고잔,,,-1
41,subway,35.892157,128.553464,서울특별시 단원구,19,공단,,,-1
48,subway,37.433205,126.996404,서울특별시 null,22,과천,,,-1
49,subway,37.419578,126.908476,서울특별시 만안구,23,관악,,,-1
66,subway,37.503178,126.882037,서울특별시 구로구,29,구로,,,-1
76,subway,37.496273,126.869599,서울특별시 구로구,33,구일,,,-1
82,subway,37.353732,126.948517,서울특별시 null,36,군포,,,-1
86,subway,37.372237,126.943489,서울특별시 null,38,금정,,,-1
112,subway,37.540597,126.971171,서울특별시 용산구,48,남영,,,-1
123,subway,37.514072,126.941670,서울특별시 동작구,52,노량진,,,-1
132,subway,37.644599,127.051406,서울특별시 도봉구,56,녹천,,,-1
147,subway,37.631957,126.810297,서울특별시 덕양구,62,대곡,,,-1
148,subway,37.435724,127.006474,서울특별시 null,63,대공원,,,-1
153,subway,37.512537,126.926392,서울특별시 영등포구,65,대방,,,-1
154,subway,37.328304,126.917160,서울특별시 null,66,대야미,,,-1
160,subway,37.675883,126.747756,서울특별시 일산서구,69,대화,,,-1
170,subway,37.679441,127.045521,서울특별시 도봉구,73,도봉,,,-1
173,subway,37.468604,126.642824,서울특별시 동구,75,도원,,,-1
181,subway,37.465994,126.889508,서울특별시 금천구,78,독산,,,-1
200,subway,37.470869,126.702884,서울특별시 부평구,85,동암,,,-1
201,subway,37.475414,126.632598,서울특별시 중구,86,동인천,,,-1
204,subway,36.833791,127.148905,서울특별시 서북구,88,두정,,,-1
213,subway,37.561918,126.826919,서울특별시 강서구,92,마곡,,,-1
214,subway,37.652185,126.777641,서울특별시 일산동구,93,마두,,,-1
222,subway,37.495020,127.152790,서울특별시 송파구,96,마천,,,-1
229,subway,37.710499,127.047360,서울특별시 마포구,100,망월산,,,-1
244,subway,37.390084,126.930507,서울특별시 만안구,106,명학,,,-1
...,...,...,...,...,...,...,...,...,...
64145,education/job,37.346450,127.734111,경기도 여주시 강천면 원양1로 907 라파엘 직업재활센터,40284,라파엘 직업재활센터,,,-1
64146,education/job,37.526375,127.030281,강남구 언주로167길 35 4층 소망제이앤피,40288,소망제이앤피,,,-1
64147,education/job,37.491699,127.087595,강남구 양재대로55길 13 지하1층 래그랜느보호작업장,40290,래그랜느보호작업장,,,-1
64148,wellfare,37.570701,126.913825,서울특별시 서대문구 수색로4가길 23 서대문농아인복지관,40291,서대문농아인복지관,,,-1
64149,wellfare,37.519900,126.869881,서울특별시 양천구 목동동로 159 양천장애인복지관,40292,양천장애인복지관,,,-1
64150,wellfare,37.514663,127.114202,서울특별시 송파구 오금로11길 68 방이장애인복지관,40294,방이장애인복지관,,,-1
64151,wellfare,37.493905,127.155198,서울특별시 송파구 마천로61길 26 인성장애인복지관,40295,인성장애인복지관,,,-1
64152,education/job,37.488784,127.103615,강남구 밤고개로1길 34 밀알그린보호작업장,40296,밀알그린보호작업장,,,-1
64153,education/job,37.491440,127.145507,송파구 양산로8길 17 (거여동) 신아보호작업장,40297,신아보호작업장,,,-1
64154,education/job,37.491475,127.146676,송파구 양산로10길 26 (거여동) 임마누엘 보호작업시설,40298,임마누엘 보호작업시설,,,-1
64155,education/job,37.489769,127.142672,송파구 양산로 5 3층 (거여동) 구립송파구 장애인보호작업장,40301,구립송파구 장애인보호작업장,,,-1
64156,education/job,37.500461,127.105889,송파구 가락로 86 (석촌동) 5층 연화직업재활원,40302,연화직업재활원,,,-1
64157,education/job,37.491384,127.157453,송파구 성내천로 333-4 (마천동) 송파위더스,40303,송파위더스,,,-1
64158,education/job,37.514418,127.100649,"송파구 올림픽로 269, 832호 (신천동, 롯데캐슬프라자) 효명장애인 보호작업시설",40304,효명장애인 보호작업시설,,,-1
64159,education/job,37.496327,127.154468,송파구 성내천로 271 (마천동) 행복보호작업장,40305,행복보호작업장,,,-1
64160,education/job,37.481135,127.127737,송파구 새말로10길 19 (문정동) 함재보호작업장,40307,함재보호작업장,,,-1
64161,education/job,37.487967,127.132597,송파구 송이로 31길 4-15(문정동) 두손장애인보호작업장,40308,두손장애인보호작업장,,,-1
64162,education/job,37.557735,127.158586,강동구 고덕로 295-45 라온클린패밀리,40309,라온클린패밀리,,,-1
64163,education/job,37.561246,127.155895,강동구 동남로 85길 15 성지보호작업장,40311,성지보호작업장,,,-1
64164,education/job,37.554311,127.136570,강동구 고덕로 100-5 강동구 장애인보호작업장,40312,강동구 장애인보호작업장,,,-1
64165,education/job,37.539149,127.146814,강동구 명일로 230 삼보프리빌 301호 아이티어빌리티센터,40313,아이티어빌리티센터,,,-1
64166,education/job,37.554317,127.128149,강동구 상암로3길 86 푸른보호작업장,40315,푸른보호작업장,,,-1
64167,education/job,37.530998,127.128193,강동구 풍성로 146 동안우리복지센터,40317,동안우리복지센터,,,-1
64168,education/job,37.535421,127.137407,강동구 진황도로 100 하이브 3층 파란마음복지센터,40318,파란마음복지센터,,,-1
64169,education/job,37.528758,127.132657,"강동구 양재대로91길 62 (성내동, 동아아파트상가4층) 선한복지센터",40319,선한복지센터,,,-1
64170,education/job,37.549899,127.126549,강동구 암사동512-4 2층 소망드림복지센터,40320,소망드림복지센터,,,-1
64171,daycare,37.545872,126.849567,강서구 까치산로18나길 36 (화곡동 772-60 1층),40326,로뎀나무,,,-1
64172,daycare,37.557676,127.013070,중구 다산로22길 11 (신당동 340-180) 1층,40328,파란마음주간보호센터,,,-1
64173,signinterpret,37.507644,127.105472,"서울시 송파구 송파1동 15-2 3층 서울시 송파구 송파대로 460, 3층",40329,송파구수화통역센터,,,-1
64174,education/job,37.516988,127.041807,서울특별시 강남구 학동로 402 TEST,40330,TEST,,,-1

In [30]:
merge_data.sample(10)

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
44490,welfare/senior,37.494539,127.041831,서울특별시 강남구 도곡로27길 27,26729,역삼 노인 복지센터,장애인전용주차구역,,259862
9112,education/Childcare,37.493580,126.834653,서울특별시 구로구 부일로17길 5,12621,샘소슬어린이집,주출입구 높이차이 제거,이용가능,109236
43923,hospital,37.504909,127.024791,서울특별시 강남구 강남대로 476,26585,어반하이브,해당시설 층수,,258721
657,subway,37.486686,126.838681,서울특별시 구로구,291,천왕,화장실,이용가능,900595
55957,bank,37.563158,126.980935,서울특별시 중구 소공로 88,29823,한진빌딩(신관),출입구(문),,285818
40025,shopping/mart,37.472058,127.039160,서울특별시 서초구 강남대로18길 5,25407,세한빌딩,주출입구 접근로,,248738
23882,bank,37.484875,126.893767,서울특별시 구로구 디지털로31길 19,21562,기업은행 구로디지털지점,주출입구 높이차이 제거,,213956
53528,hospital,37.517354,127.023379,서울특별시 강남구 도산대로 134,29255,페이토빌딩,계단 또는 승강설비,,281233
55781,bank,37.522405,126.929108,서울특별시 영등포구 국제금융로6길 7,29777,한양증권,대변기,,285473
47312,hospital,37.486764,126.982678,서울특별시 서초구 동작대로 114,27579,유문빌딩,출입구(문),,267142

In [31]:
merge_data.filter(regex="None", axis=0)

Empty DataFrame
Columns: [category, lat, lon, place_address, place_id, place_name, facility_available_name, facility_is_available, facility_id]
Index: []

In [32]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64175 entries, 0 to 64174
Data columns (total 9 columns):
category                   64175 non-null object
lat                        64175 non-null float64
lon                        64175 non-null float64
place_address              64175 non-null object
place_id                   64175 non-null int64
place_name                 64175 non-null object
facility_available_name    64175 non-null object
facility_is_available      64175 non-null object
facility_id                64175 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.9+ MB

# 편의 시설이 없는건 따로 배제

복지관시설은 나중에 지도상에 보여질 필요가 있어 나중에 복지관시설만 데이터셋에 넣는다.

In [33]:
get_nan = merge_data[merge_data.facility_available_name == '']

In [34]:
get_nan.sample(5)

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
923,movie/concerthall,37.553135,126.922221,서울특별시 마포구 어울마당로 94-8,10067,떼아뜨르 추,,,-1
16409,japanese_food,37.556411,126.920511,서울특별시 마포구 월드컵북로 14,15159,일반음식점(삿뽀로),,,-1
16331,western_food,37.656834,127.028262,서울특별시 도봉구 시루봉로 68,15077,돈까스클럽,,,-1
16369,western_food,37.564736,126.976353,서울특별시 중구 덕수궁길 7,15117,파리크라상,,,-1
386,subway,37.244102,127.013772,서울특별시 권선구,169,세류,,,-1

In [35]:
merge_data = merge_data[merge_data.facility_available_name != '']

In [36]:
merge_data.head()

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
0,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,화장실,이용가능,900000
1,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,엘리베이터,이용가능,900001
2,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,휠체어리프트,이용가능,900002
3,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,에스켈레이터,이용가능,900003
4,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,화장실,이용가능,900004

In [37]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63588 entries, 0 to 63944
Data columns (total 9 columns):
category                   63588 non-null object
lat                        63588 non-null float64
lon                        63588 non-null float64
place_address              63588 non-null object
place_id                   63588 non-null int64
place_name                 63588 non-null object
facility_available_name    63588 non-null object
facility_is_available      63588 non-null object
facility_id                63588 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.9+ MB

In [38]:
get_nan.groupby('category')[['place_name']].count()

                     place_name
category
bank                          2
chinese_food                 10
daycare                      93
education/Childcare           6
education/job                86
hospital/rehab                4
hotel                         1
japanese_food                29
korean_food                   3
movie/concerthall            51
other                         4
other_food                   96
publicinstitution             4
publicparking                 1
signinterpret                21
sports/rehab                  2
subway                       98
wellfare                     24
western_food                 52

In [39]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63588 entries, 0 to 63944
Data columns (total 9 columns):
category                   63588 non-null object
lat                        63588 non-null float64
lon                        63588 non-null float64
place_address              63588 non-null object
place_id                   63588 non-null int64
place_name                 63588 non-null object
facility_available_name    63588 non-null object
facility_is_available      63588 non-null object
facility_id                63588 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.9+ MB

# category reduce

In [40]:
def category_sum(dataframe,replace_target,replace_str):
    print("전체 category 개수")
    print(len(dataframe.category.unique()))
    print()
    print("이 전",replace_str,"해당 category 개수 : ")
    print(dataframe.loc[dataframe.category == replace_str].apply(len))
    dataframe_replace = dataframe[dataframe.loc[:, 'category'] == replace_target]
    dataframe_replace.category = replace_str
    dataframe[dataframe.loc[:, 'category'] == replace_target] = dataframe_replace
    print()
    print("이 후",replace_str,"해당 category 개수 : ")
    print(dataframe.loc[dataframe.category == replace_str].apply(len))
    print()
    print("전체 category 개수")
    print(len(dataframe.category.unique()))
    return dataframe

In [41]:
def reg_name_change(dataframe, category_str, reg, change_category):
    a = dataframe[dataframe.category == category_str]
    b = a[a.place_name.str.contains(reg)]
    b.category = change_category
    dataframe.iloc[b.index] =b
    return dataframe

In [42]:
test = merge_data

In [43]:
test.reset_index(inplace=True)

In [44]:
test.category.unique()

array(['subway', 'movie/concerthall', 'shopping/mart', 'publicparking',
       'publictoilet', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'tourist hotel', 'restaurant', 'education/job', 'shopping',
       'apartment subsidiary facility', 'exhibition center',
       'concert hall', 'movie', 'public parking', 'hotel',
       'convenience store/bakery', 'university',
       'telecommunication office', 'daycare center',
       'broadcasting station', 'government office building',
       'massage parlor', 'kindergarten', 'factory', 'welfare/senior',
       'welfare/etc', 'community service center', 'city park',
       'welfare/disabled', 'general hospital', 'health center',
       'meeting hall', 'training facility/rural', 'welfare/child',
       'church', 'stadium', 'high school', 'post office',
       'police station', 'nature park', 'toilet/public',
       'national health insurance corporation',
       'national pension service', 'junior high school',
       'driving academy', 'library', 'elementary school',
       'special-education school', 'training facility/urban',
       'public library', 'gym', 'college', 'toilet/open', 'toilet/small'],
      dtype=object)

# 1. subway 수정사항 없음

In [45]:
# test[test.category == "subway"].head()

# 2. movie/concerthall

In [46]:
# test[test.category == "movie/concerthall"].head()

concert hall -> movie/concerthall

In [47]:
test = category_sum(test,"concert hall","movie/concerthall")

전체 category 개수
61

이 전 movie/concerthall 해당 category 개수 :
index                      535
category                   535
lat                        535
lon                        535
place_address              535
place_id                   535
place_name                 535
facility_available_name    535
facility_is_available      535
facility_id                535
dtype: int64

이 후 movie/concerthall 해당 category 개수 :
index                      1692
category                   1692
lat                        1692
lon                        1692
place_address              1692
place_id                   1692
place_name                 1692
facility_available_name    1692
facility_is_available      1692
facility_id                1692
dtype: int64

전체 category 개수
60

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

movie -> movie/concerthall

In [48]:
test = category_sum(test,"movie","movie/concerthall")

전체 category 개수
60

이 전 movie/concerthall 해당 category 개수 :

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

index                      1692
category                   1692
lat                        1692
lon                        1692
place_address              1692
place_id                   1692
place_name                 1692
facility_available_name    1692
facility_is_available      1692
facility_id                1692
dtype: int64

이 후 movie/concerthall 해당 category 개수 :
index                      1712
category                   1712
lat                        1712
lon                        1712
place_address              1712
place_id                   1712
place_name                 1712
facility_available_name    1712
facility_is_available      1712
facility_id                1712
dtype: int64

전체 category 개수
59

In [49]:
# test[test.category == "movie/concerthall"].place_name.unique()

화장실 포함된 이름 -> publictoilet

In [50]:
test = reg_name_change(test, "movie/concerthall", "화장실", "publictoilet")

# 3. shopping/mart

In [51]:
# test[test.category == "shopping/mart"].head()

shopping -> shopping/mart

In [52]:
test = category_sum(test, "shopping", "shopping/mart")

전체 category 개수
59

이 전 shopping/mart 해당 category 개수 :
index                      1247
category                   1247
lat                        1247
lon                        1247
place_address              1247
place_id                   1247
place_name                 1247
facility_available_name    1247
facility_is_available      1247
facility_id                1247
dtype: int64

이 후 shopping/mart 해당 category 개수 :
index                      2063
category                   2063
lat                        2063
lon                        2063
place_address              2063
place_id                   2063
place_name                 2063
facility_available_name    2063
facility_is_available      2063
facility_id                2063
dtype: int64

전체 category 개수
58

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [53]:
# test[test.category == "shopping/mart"].place_name.unique()

화장실 포함된 이름 -> publictoilet

In [54]:
test = reg_name_change(test, "shopping/mart", "화장실", "publictoilet")

# 4. public parking

public parking -> publicparking

In [55]:
test = category_sum(test, "public parking", "publicparking")

전체 category 개수
58

이 전 publicparking 해당 category 개수 :
index                      108
category                   108
lat                        108
lon                        108
place_address              108
place_id                   108
place_name                 108
facility_available_name    108
facility_is_available      108
facility_id                108
dtype: int64

이 후 publicparking 해당 category 개수 :
index                      244
category                   244
lat                        244
lon                        244
place_address              244
place_id                   244
place_name                 244
facility_available_name    244
facility_is_available      244
facility_id                244
dtype: int64

전체 category 개수
57

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [56]:
# test[test.category == "publicparking"].place_name.unique()

화장실 포함된 이름 -> publictoilet

In [57]:
test = reg_name_change(test, "publicparking", "화장실", "publictoilet")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 5. publictoilet 수정사항 없음

In [58]:
# test[test.category == "publictoilet"].place_name.unique()

# 6. hospital

general hosplital -> hospital <br/>
hospital 구분에 종합병원도 포함됨

In [59]:
test = category_sum(test, 'general hospital', 'hospital')

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

전체 category 개수
57

이 전 hospital 해당 category 개수 :
index                      4168
category                   4168
lat                        4168
lon                        4168
place_address              4168
place_id                   4168
place_name                 4168
facility_available_name    4168
facility_is_available      4168
facility_id                4168
dtype: int64

이 후 hospital 해당 category 개수 :
index                      4291
category                   4291
lat                        4291
lon                        4291
place_address              4291
place_id                   4291
place_name                 4291
facility_available_name    4291
facility_is_available      4291
facility_id                4291
dtype: int64

전체 category 개수
56

In [60]:
# test[test.category == "hospital"].place_name.unique()

화장실 포함된 이름 -> publictoilet

In [61]:
test = reg_name_change(test, "hospital", "화장실", "publictoilet")

# 7. publicinstitution

In [62]:
# test[test.category == "publicinstitution"].place_name.unique()

포함시키지 말아야 할 것 (나중에 삭제)

In [63]:
test = reg_name_change(test, "publicinstitution", "지사", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [64]:
test = reg_name_change(test, "publicinstitution", "공단", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

보건소,  보건복지부 -> health center

In [65]:
test = reg_name_change(test, "publicinstitution", "보건소$", "health center")

In [66]:
test = reg_name_change(test, "publicinstitution", "보건", "health center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

우체국 -> post office

In [67]:
test = reg_name_change(test, "publicinstitution", "우체국", "post office")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

지구대, 경찰서, 파출소, 청사, 치안센터-> police station

In [68]:
test = reg_name_change(test, "publicinstitution", "경찰서", "police station")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [69]:
test = reg_name_change(test, "publicinstitution", "지구대", "police station")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [70]:
test = reg_name_change(test, "publicinstitution", "파출소", "police station")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [71]:
test = reg_name_change(test, "publicinstitution", "청사", "police station")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [72]:
test = reg_name_change(test, "publicinstitution", "치안센터", "police station")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

동사무소, 주민센터, 센터$, 구청 -> community service center

In [73]:
test = reg_name_change(test, "publicinstitution", "주민센터", "community service center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [74]:
test = reg_name_change(test, "publicinstitution", "동사무소", "community service center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [75]:
test = reg_name_change(test, "publicinstitution", "센터", "community service center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [76]:
test = reg_name_change(test, "publicinstitution", "구청", "community service center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [77]:
test = category_sum(test, "publicinstitution", "delete")

전체 category 개수
57

이 전 delete 해당 category 개수 :
index                      53
category                   53
lat                        53
lon                        53
place_address              53
place_id                   53
place_name                 53
facility_available_name    53
facility_is_available      53
facility_id                53
dtype: int64

이 후 delete 해당 category 개수 :
index                      199
category                   199
lat                        199
lon                        199
place_address              199
place_id                   199
place_name                 199
facility_available_name    199
facility_is_available      199
facility_id                199
dtype: int64

전체 category 개수
56

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 8. bank

In [78]:
# test[test.category == "bank"].place_name.unique()

In [79]:
# test[test.category == "bank"].head()

화장실 포함된 이름 -> publictoilet

In [80]:
test = reg_name_change(test, "bank", "화장실", "publictoilet")

호텔 -> hotel

In [81]:
test = reg_name_change(test, "bank", "호텔", "hotel")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

포함시키지 말아야 할 것 (나중에 삭제) 오피스텔

In [82]:
test = reg_name_change(test, "bank", "오피스텔", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [83]:
test = reg_name_change(test, "bank", "흥인아이젠", "delete")

In [84]:
test = reg_name_change(test, "bank", "휴브리지", "delete")

In [85]:
test = reg_name_change(test, "bank", "휴먼빌", "delete")

In [86]:
test = reg_name_change(test, "bank", "빌딩", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [87]:
test = reg_name_change(test, "bank", "타워", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [88]:
test_list=['(주)동아일보사',
       '(주)메트로신문사', '(주)서울비젼', '(주)시아인베스트', '(주)씨엔에스레지던스', '(주)툴스텍경복',
       '2차대림아크로빌', '88체육관', 'A&D 엔지니어링', 'APP㈜국제운송사무소', 'A탑', 'BR엘리텔A동',
       'BizWell성수', 'CASA BIANCO', 'CENTRAL PLACE', 'CJ드림씨티 A동 ',
       'CJ드림씨티 B동 ', 'CU 신사가로수길점', 'E테크벨리', 'FERRUM TOWER', 'FIN TOWER',
       'FNC ENTERTAINMENT', 'GREEN HILL', 'GRUBIG ', 'HANASAINT.STONE',
       'HEY NEST', 'Hizen 학원','IBTOWER', 'IP TOWER',
       'I park(상가)', ' JS TOWER', 'JS앤드F', 'K.W.E', 'KAO KAO', 'KCC파크타운',
       'KGIT한독산학협동단지(C-4Block)', 'KR-TOWER', 'KT', 'KT&G', 'KT&G 강남지사',
       'KT&G 영등포지사', 'K T F', 'KTIS', 'KT 강북지사', 'KT개봉지점', 'KT반포지사',
       'KT 업무시설(사무소)', 'KT용산지점', 'KT월곡지점', 'KT자산개발센터', 'KT청량리지점',
       'LGCNS상암IT CENTER', 'LG베스트샵(모바일서비스센터)', 'LG전자 강서서비스 센터',
       'LG전자베스트샵서비스센터', 'LG패션 서관', 'LK사옥', 'LLG패션 별관', 'M-SPACE',
       'METRO구로센터', 'M TOWER', 'OPUS 11', 'PARKSIDE', 'POBA 행정공제회',
       'S-OIL 사옥', 'SG연기 아카데미', 'SK Telecom 성수사옥', 'SK네트웍스', 'SK허브그린',
       'SR스타빌', 'SUN JIN ENG', 'THE PARK 365', 'THE REPOSE', '㈜도서출판넥서스',
       '㈜ 동호프라자1', '㈜미래세움', '㈜비츠로시스', '갈월동 업무시설', '갈월동 오피스(한진중공업)',
       '강남YMCA', '강남구 재활용센터', '강남아르누보씨티', '강남 파이낸스센터', '강님태영데시앙루브',
       '강동상떼빌', '강동성심병원3별관', '강동성심병원별관', '강북물류센터(DHL)', '강북지역전력설비관리동',
       '강서교회', '강서구시설관리공당', '강서 동도센트리움 141동', '강선환', '강일큐브', '강행성',
       '갤러리아팰리스', '거구장', '거성리젠시', '건우캐스텔', '경동엠파이어스테이트', '경동운수', '경승무역',
       '경해실업㈜', '고려한백', '골드하이츠', '골프존R&D센터', '공감대주상복합아파트', '관악맥스텔',
       '관악시티빌',  '광남제니텔', '광남캐스빌(아)', '광선유니버스텔A', '광신엔터프라이즈',
       '광진구 구의동 성현교회', '광진트라팰리스', '교보생명', '구로등기소', '구의아크로리버', '구찌(신축)',
       '국가보훈처(광복회관)', '국립산림과학원', '국민건강보험공단', '국제자산신탁(주)', '국제항운', '그랑드빌', '그레이스빌',
       '그린빌파크', '그린하이클라스빌', '극동방송', '근린생활시설', '근상프리즘', '글로벌 미디어 콘텐츠센터 ',
       '금강블루', '금산플레이버', '금융업소', '금천전화국', '기독교복음방송', '기산전자사옥','길동청광플러스원큐브1차',
       '길훈앤트런스빌', '김정덕외 4인', '까치산하우스', '꿈이가득한집', '나종자', '남산 롯데캐슬 아이리스',
       '남산센트럴 자이', '남산트라팰리스','남서울실업㈜', '남신원룸', '남양약품',
       '네오라이프', '네오레지덴텔', '네오빌', '네티션닷컴별관동', '넥서스벨리', '넥스빌I', '넥스빌II',
       '넥스빌III', '노들리안 오피스텔1', '노들리안 오피스텔2', '노블레스 빌', '노블레스빌', '노블리안',
       '노빌리안골드', '노원마블러스 오피스텔2', '농심', '농협(중계동지점)', '농협 관악신우지점',
       '농협로데오지점', '농협문화재단', '누가 베스트', '다락원사옥 ', '다빈치', '다솔미가', '다음빌',
       '당산랜드빌', '대교', '대동 피렌체리버', '대림역 와이즈플레이스', '대명랜드마크', '대선스틸',
       '대승프린스텔', '대우디오빌', '대우디오슈페리움A', '대우미래사랑2차', '대우미래사랑3차 141동',
       '대우 이안', '대우이안 1', '대우이안 2', '대우증권', '대웅제약 본관동', '대원아크로빌',
       '대원제약사옥', '대진레지던스-조사불가 시설잠김 연락처없음', '대학캠퍼스텔', '대한건축학회 건축센터',
       '대한제지㈜ 사옥', '대한치과의사협회회관', '대호아이피개발(주)', '덴탈프라자', '도로교통공단 본부',
       '도림하이츠빌', '도일산호시티빌', '독일교회', '돈암메트로빌', '동광동대문베르빌', '동광리버하임',
       '동교동 와우재', '동남드림빌주상복합', '동대문등기소', '동대문패션비즈센터', '동도센트리움', '동림오벨리스크',
       '동보흥업', '동부디아이빌', '동아일보미디어센터', '동아제약 구관 신사옥', '동아제약 본관', '동아타운21',
       '동양증권', '동양한강트레벨', '동영문화센터', '동우사우나', '동인 레반트', '동인쉐르빌',
       '동일(국민은행)', '동일하이빌', '동작새마을금고', '두산위브센티움', '두산위브파빌리온', '두성종이주식회사',
       '등촌동 업무시설', '디아뜨센트럴', '뚝섬리버빌', '라이온스톤', '락앤락본사', '레이노코리아',
       '레지던스o/p', '로얄샤르망', '로얄팰리스 스위트', '롯데마트건물', '롯데우유㈜본사', '롯데캐슬',
       '루첸티', '르네상스빌주상복합', '르노삼성자동차 도봉사업소', '리버마이다스빌', '리베로 오피스텔2차',
       '리빙프라자(주)', '리스빌', '리앤나빌리지', '리오베', '마미앤토리', '마에스트로', '마이죤', '마이홈',
       '마포공덕파크펠리', '마포로얄플라자', '마포태영데시앙', '마포현대하이엘', '메르드뱅', '메이준', '메이찬',
       '메트로', '메트로디오빌', '메트로팰리스', '멤버스뷰', '명륜프라자', '명인고시텔', '명지 페르마타',
       '명지한강빌드웰', '모투스 엔 실버불렛 사옥', '목동트라펠리스(금융업소)', '문래아카데미', '문래임광그대가',
       '문래파라곤 141동', '문래파라곤 241동', '문정', '미디어센터', '미래에셋생명', '미래에셋 센터원',
       '미래에셋증권 도곡지점', '미래지오', '미성드림투유', '민병원', '민스빌', '민족통일 대통령 리빙텔',
       '밀레니엄스텔', '밀레오레명동', '밀리오레', '바비엥-2', '바비엥3', '방배디오슈페리움1', '방배리더스빌',
       '방이동근린생활시설', '백세인터내셔널사옥', '백세주 마을(국순당)', '백운매트로엔', '백화점약국', '법률센터',
       '법조타운', '베로니스 타운', '베스트빌', '베스트 트레드빌', '보브역삼동사옥', '보육사',
       '본베스트정형외과의원', '부국증권', '부귀영전', '부띠끄모나코', '부래당', '부르다문', '부암동 업무시설', 
    '북한연구소', '뷰티플라워', '브라운스톤서초',
       '브라운스톤연희', '브라운스톤 천호', '브라운스톤 화양', '브라운힐', '브리티시아메리칸토바코', '블루밍하우스',
       '비버리캐슬', '비앤비빌리지', '비즈트위트그린', '비즈트위트 블루', '빅하이텔', '사무소',
       '사직동 새마을금고', '산들파크빌1', '산들파크빌6', '살구벽돌', '삼능스페이스향', '삼부르네상스',
       '삼부르네상스플러스', '삼성골드캐슬', '삼성디지털', '삼성본관', '삼성생명', '삼성생명장안동사옥',
       '삼성전자대리점', '삼성전자디지털센터', '삼성전자서비스 관악센터', '삼성출판사', '삼성파크빌',
       '삼성화재 본사사옥', '삼성화재 영등포사옥', '삼성화재해상보험', '삼양사', '삼영익스프레스',
       '삼익전자 공업 주식회사', '삼전솔하임 2차', '삼정스카이', '삼진제약사옥', '삼형캐슬', '새롬스타빌','생모리츠타운', '샬렛스위스', '서광프리메라주상복합', '서안이지텔', '서울E&T',
       '서울도시가스㈜', '서울도시가스사옥', '서울디지털드림타운', '서울메트로 동대문별관', '서울문화재단',
       '서울석유', '서울스퀘어', '서울 스타르호텔 별관', '서울시메트로호선', '서울시버스노조회관', '서울오토갤러리',
       '서울유니버스텔', '서울이동통신사옥', '서울지방노동청서울관악지청', '서울축협청사', '서초대우디오빌',
       '서초동145-2', '서초레몬', '서초신성미소시티', '서초타운트라팰리스', '서희스타힐스', '서희 스타힐스',
       '석원산업', '선원 오피스', '선일크라시아', '성강에코텔', '성동샤르망', '성문개발', '성현교회 선교센터',
       '세계일보', '세방글로벌시티', '세양아르비체141동', '세양아르비체142동', '세종프라자', '센트럴빌',
       '센트레빌아스테리움 용산', '솔앤시티오피스텔?주차장', '송파오라클', '송현나이스빌', '수락네스트죤',
       '수운회관', '스위트가든빌라', '스위트빌', '스쿨룩스', '스퀘어빌', '스타갤러리브릿지', '스타벅스합정역점',
       '스타비안사우나', '스페셜 라이즈드', '스페이스엠', '스포월드', '스포츠조선', '시설관리공단',
       '시설물명 미입력', '시아루비움', '시티뷰3차', '신공덕오피스텔(센타빌)', '신도림3차푸르지오',
       '신동아하이팰리스', '신라FNC(주)', '신명스카이뷰', '신성미소씨티','신원메트로빌', '신일', '신창비바패밀리', '신촌가이아', '신촌 르·메이에르타운V','신흥메트로', '써니하우스', '썬앳푸드', '씨제이제일제당센터',
       '아마넥스㈜', '아메리카 스텐다드', '아셈회관', '아스테리아', '아스트라', '아시아텍스타일', '아싸컴',
       '아우디서초센터', '아우디 전시장', '아울빌리지(두양오피스텔)', '아이스카이 네트웍스', '아이엔지 센터',
       '양재동67-2', '양재역환승주차장', '양평동 우림 비즈센터', '어위쉬예다인', '업무시설','업무시설(사무소)', '업무시설(사무실)', '에이스에어존', '에이스에이존',
       '에코넷센터', '에프투텔레콤사옥', '엘리어트하우스', '엘리지움', '엘베스트빌', '여선교회관', '여성미래센터',
       '여의도 더', '여의도의아침', '여촌', '역삼 이스타빌', '연희체스트빌', '영광교회', '영등포가 교회',
       '영등포구청환승주차장', '영우빌라텔', '예가크레시아', '예금보험공사', '예림출판문화센터', '예성라온팰리스',
       '예성라온펠리스', '예신퍼슨스', '오드리스튜디오', '오라클피부과', '오릭스증권', '오벨리스크', '오크벨리',
       '오피스텔리움', '오피스텔 에스빌', '오피앙 ', '오피앙', '오피앙2', '옥스포드하우스', '온리정보통신',
       '올레플라자 용산점', '올리브오피스텔1', '올리브오피스텔2','업무시설(사무소)', '업무시설(사무실)', '에이스에어존', '에이스에이존',
       '에코넷센터', '에프투텔레콤사옥', '엘리어트하우스', '엘리지움', '엘베스트빌', '여선교회관', '여성미래센터',
       '여의도 더', '여의도의아침', '여촌', '역삼 이스타빌', '연희체스트빌', '영광교회', '영등포가 교회',
       '영등포구청환승주차장', '영우빌라텔', '예가크레시아', '예금보험공사', '예림출판문화센터', '예성라온팰리스',
       '예성라온펠리스', '예신퍼슨스', '오드리스튜디오', '오라클피부과', '오릭스증권', '오벨리스크', '오크벨리',
       '오피스텔리움', '오피스텔 에스빌', '오피앙 ', '오피앙', '오피앙2', '옥스포드하우스', '온리정보통신',
       '올레플라자 용산점', '올리브오피스텔1', '올리브오피스텔2','용산구선거관리위원회',
       '용산시티파크1단지', '용산시티파크2단지', '용산씨제이나인파크', '용산파크자이 상가', '용성비즈텔',
       '우남네오풀리스', '우남하우징','우림보보카운투비',
       '우신하이랜드', '우원실업', '워터게이트', '원능프라자', '원룸', '원평11차', '원평빌라트 6차',
       '웰빙타운', '위너스텔', '유니베라관악대리점', '유니세프한국위원회', '유니텔전자', '유림하이빌',
       '은평구평생학습관', '을지전화국', '을지회관', '이랜드 신촌사옥 ', '이스타빌', '이스타팰리스',
       '이스트타운', '이안상암1단지 센트럴몰 한독산학협동단지', '이안용산프리미어', '이즈빌',
       '인의동 한국교직원공제회', '인택스파크뷰', '인터엠', '인텔지펠리스', '일(밀)양택배', '일반업무',
       '일신건영휴먼테크', '일조그린빌', '일진자동차', '장안현대벤처빌', '장애인기업문화센터', '장우오피스텔건물',
       '재호예양빌', '전국교수공제회 서울회관', '전국자동차노동조합', '전국자동차운전전문학원연합회관', '전자회관',
       '정도트윈빌141동', '정도트윈빌142동', '정보통신공제조합', '정암하이빌', '정연지오빌II',
       '정연지오빌 김용록외 1인', '정우금속공업', '정호빌라트', '제노비아', '제니코식품', '제이원하이텔',
       '제일니트', '제일모직건물', '제주탐라영재관', '젠틀몬스터', '종로1가 대성스카이렉스주상복합', '종로 엠스쿨',
       '종로플레이스', '종인아네스트', '좋은사람 좋은집', '좋은책 신사고', '주) Tbroad 방송',
       '주)삼성전자염창동사옥', '주식회사LG패션', '주식회사쓰리에소프트', '주식회사쿠지인터내셔널', '주양쇼핑',
       '주택.근린생활시설', '중구종합복지센터', '중림동새마을금고', '중소기업중앙회', '중앙시티빌', '중앙일보구관',
       '지산타운', '지에스 한강에클라트', '지엔코', '지오베르크', '지지무역', '진산스텔', '진양제약사옥',
       '진학회관', '참존대치사옥', '참존어페럴', '창덕에버빌', '철록헌', '청계아르테미스', '청솔펠리스',
       '청우식품사옥', '청일 베르네', '최병만 외 1인', '최신물산', '출입국관리사무소', '충정리시온',
       '칸타빌레', '캠퍼니안', '케이티앤지성동지점', '코리아리스치', '코리아씨디앤씨', '코스모그린',
       '코업레지던스', '코오롱 스타폴리스', '코지펠리스', '큐브플러스', '크라운 본관', '크레신사옥', '크로바텔',
       '클래티드', '키움건설', '킹오토', '타베루', '태림빌', '태양', '태양 21', '태영약품',
       '토마토파르코', '토방트윈빌 A', '토방트윈빌 B', '트라비하우스', '트라움빌', '티제미디어㈜',
       '파라다이스텔', '파인에비뉴', '팔레시움', '팬트라우스', '포레비떼', '풍림아이원', '풍림아이원플러스',
       '풍산개발', '프라임팰리스', '프리마리버텔', '피앤디솔로빌', '피엔폴루스(대수선)','하늘담',
       '하우스텔 숙', '하이리빙 본사 사옥', '하이마트 영등포구청점', '하이베라스', '하이프라자 ', '하임Ⅱ오피스',
       '하임오피스', '한강로 대우아이빌', '한강로벽산메가트리움', '한강시티라이프', '한강포스빌', '한강현대하이엘',
       '한강훼미리', '한국가정법률상담소', '한국겔럽조사연구소', '한국고등교육재단', '한국교직원공제회',
       '한국노총 중앙근로자 복지센타', '한국문구공업협동조합', '한국방송회관', '한국산업공단',
       '한국산업단지공단 서울지역본부(키콕스벤처센터)', '한국섬유산업 연합회', '한국소방안전협회', '한국승강기안전관리원',
       '한국아이비에스', '한국야금사옥', '한국여자농구연맹', '한국원자력문화재단', '한국음악저작권협회',
       '한국정보통신공사협회', '한국조폐공사', '한국 콘텐츠 진흥원', '한나산부인과', '한남동 업무시설',
       '한디예건㈜', '한려옥(대조동르네상스오피스텔)', '한미석유', '한밭법조타운', '한성디자인모델', '한성메르디앙',
       '한성모터스', '한성하우징', '한스빌', '한스위트', '한승아스트라2', '한아름쇼핑센터', '한양수자인',
       '한양증권', '한웰', '한일써너스빌', '한청실업(주)', '한화오벨리스크스위트', '해광', '해찬행복드림',
       '해커스 어학원', '햄 하우스', '행복나눔재단', '행복미래교육원', '허브닥터', '허브원', '현대드림밸리',
       '현대렉시온', '현대백화점인재개발원', '현대싱그런', '현대캐피탈 양재사옥', '현대토픽스',
       '현대폴라트리움주상복합', '현대 해상', '현대해상강서사옥', '현대홈시티1', '호림아트센터', '화성시장학관',
       '화인리더스', '화인벨라까샤', '화인시스템', '황금프라자', '황학동 코아루', '효성벤츠 강남전시장',
       '휴게음식점(문샤인)', '희경']

In [89]:
test= test[~test.place_name.isin(test_list)]

# 9. gym

stadium -> gym

In [90]:
test = category_sum(test, "stadium", "gym")

전체 category 개수
56

이 전 gym 해당 category 개수 :
index                      10
category                   10
lat                        10
lon                        10
place_address              10
place_id                   10
place_name                 10
facility_available_name    10
facility_is_available      10
facility_id                10
dtype: int64

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

이 후 gym 해당 category 개수 :
index                      20
category                   20
lat                        20
lon                        20
place_address              20
place_id                   20
place_name                 20
facility_available_name    20
facility_is_available      20
facility_id                20
dtype: int64

전체 category 개수
55

In [91]:
# test[test.category =="gym"].place_name.unique()

# 10. hotel

tourist hotel -> hotel

In [92]:
test = category_sum(test, 'tourist hotel', 'hotel')

전체 category 개수
55

이 전 hotel 해당 category 개수 :
index                      928
category                   928
lat                        928
lon                        928
place_address              928
place_id                   928
place_name                 928
facility_available_name    928
facility_is_available      928
facility_id                928
dtype: int64

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

이 후 hotel 해당 category 개수 :
index                      1800
category                   1800
lat                        1800
lon                        1800
place_address              1800
place_id                   1800
place_name                 1800
facility_available_name    1800
facility_is_available      1800
facility_id                1800
dtype: int64

전체 category 개수
54

In [93]:
# test[test.category =="hotel"].place_name.unique()

화장실 포함된 이름 -> publictoilet

In [94]:
test = reg_name_change(test, "hotel", "화장실", "publictoilet")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

# 11. factory drop 
factory -> 회사는 특정인만 출입하기 때문에 제외

In [95]:
test = test[test.category != 'factory']

# 12. library
public library -> library

In [96]:
test = category_sum(test, 'public library', 'library')

전체 category 개수
53

이 전 library 해당 category 개수 :
index                      38
category                   38
lat                        38
lon                        38
place_address              38
place_id                   38
place_name                 38
facility_available_name    38
facility_is_available      38
facility_id                38
dtype: int64

이 후 library 해당 category 개수 :
index                      65
category                   65
lat                        65
lon                        65
place_address              65
place_id                   65
place_name                 65
facility_available_name    65
facility_is_available      65
facility_id                65
dtype: int64

전체 category 개수
52

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 13. telecommunication office 전화국 drop 
특정인만 출입을할 수 있기 때문에

In [97]:
test = test[test.category != 'telecommunication office']

# 14. 공단 공사 drop -> 방문 빈도수가 낮음 
국민건강보험공단 및 지사 <br/>
국민연금공단 및 지사 <br/>
한국장애인고용공단 및 지사<br/> 
근로복지공단 및 지사<br/>
국가 또는 지자체 청사<br/>
국민건강보험공단 및 지사<br/>
국민연금공단 및 지사<br/>
한국장애인고용공단 및 지사<br/>

In [98]:
test = test[test.category != 'national health insurance corporation'] # 국민건강보험공단 및 지사

In [99]:
test = test[test.category != 'national pension service'] # 국민연금공단 및 지사

In [100]:
test = test[test.category != 'workers welfare service'] # 근로복지공단 및 지사

In [101]:
test = test[test.category != 'government office building'] # 국가 또는 지자체 청사

In [102]:
test = test[test.category != 'national health insurance corporation'] # 국민건강보험공단 및 지사

In [103]:
test = test[test.category != 'national pension service'] # 국민연금공단 및 지사

In [104]:
test = test[test.category != 'disabled employment agency'] # 한국장애인고용공단 및 지사

# 15. driving academy(운전 학원) -> education/job (교육원·직업훈련소·학원 등)

In [105]:
test = category_sum(test,"driving academy" ,"education/job")

전체 category 개수
48

이 전 education/job 해당 category 개수 :
index                      4423
category                   4423
lat                        4423
lon                        4423
place_address              4423
place_id                   4423
place_name                 4423
facility_available_name    4423
facility_is_available      4423
facility_id                4423
dtype: int64

이 후 education/job 해당 category 개수 :
index                      4430
category                   4430
lat                        4430
lon                        4430
place_address              4430
place_id                   4430
place_name                 4430
facility_available_name    4430
facility_is_available      4430
facility_id                4430
dtype: int64

전체 category 개수
47

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 16. 대피소 drop

In [106]:
test = test[test.category != 'shelter']

# 17. broadcasting station drop
특정인만 출입을할 수 있기 때문에

In [107]:
test = test[test.category != 'broadcasting station']

# 18. korean, western, chinese, japanese, flour_based_food, other_food -> restaurant

In [108]:
test = category_sum(test, "korean_food", "restaurant")

전체 category 개수
46

이 전 restaurant 해당 category 개수 :
index                      1213
category                   1213
lat                        1213
lon                        1213
place_address              1213
place_id                   1213
place_name                 1213
facility_available_name    1213
facility_is_available      1213
facility_id                1213
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

전체 category 개수
45

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [109]:
test = category_sum(test, "western_food", "restaurant")

전체 category 개수
45

이 전 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

전체 category 개수
45

In [110]:
test = category_sum(test, "chinese_food", "restaurant")

전체 category 개수
45

이 전 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

전체 category 개수
45

In [111]:
test = category_sum(test, "japanese_food", "restaurant")

전체 category 개수
45

이 전 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

전체 category 개수
45

In [112]:
test = category_sum(test, "other_food", "restaurant")

전체 category 개수
45

이 전 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2113
category                   2113
lat                        2113
lon                        2113
place_address              2113
place_id                   2113
place_name                 2113
facility_available_name    2113
facility_is_available      2113
facility_id                2113
dtype: int64

전체 category 개수
45

# 19. 안마시술소 drop -> 데이터가 적으며, 공공성이 낮다고 판단

In [113]:
test = test[test.category != 'massage parlor']

In [114]:
test

,index,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
0,0,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,화장실,이용가능,900000
1,1,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,엘리베이터,이용가능,900001
2,2,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,휠체어리프트,이용가능,900002
3,3,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,에스켈레이터,이용가능,900003
4,4,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,화장실,이용가능,900004
5,5,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,엘리베이터,이용가능,900005
6,6,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,휠체어리프트,이용가능,900006
7,8,subway,37.497942,127.027621,서울특별시 강남구,3,강남,화장실,이용가능,900007
8,9,subway,37.497942,127.027621,서울특별시 강남구,3,강남,엘리베이터,이용가능,900008
9,10,subway,37.497942,127.027621,서울특별시 강남구,3,강남,에스켈레이터,이용가능,900009
10,14,subway,37.535940,127.132187,서울특별시 강동구,5,강동,휠체어리프트,이용가능,900017
11,13,subway,37.535940,127.132187,서울특별시 강동구,5,강동,에스켈레이터,이용가능,900016
12,11,subway,37.535940,127.132187,서울특별시 강동구,5,강동,화장실,이용가능,900014
13,12,subway,37.535940,127.132187,서울특별시 강동구,5,강동,엘리베이터,이용가능,900015
14,15,subway,37.535144,127.094672,서울특별시 광진구,7,강변,화장실,이용가능,900021
15,16,subway,37.535144,127.094672,서울특별시 광진구,7,강변,엘리베이터,이용가능,900022
16,17,subway,37.535144,127.094672,서울특별시 광진구,7,강변,휠체어리프트,이용가능,900023
17,18,subway,37.498162,127.134660,서울특별시 광진구,8,개농,화장실,이용가능,900024
18,19,subway,37.498162,127.134660,서울특별시 광진구,8,개농,엘리베이터,이용가능,900025
19,21,subway,37.572455,126.806839,서울특별시 강서구,10,개화산,화장실,이용가능,900026
20,22,subway,37.572455,126.806839,서울특별시 강서구,10,개화산,엘리베이터,이용가능,900027
21,26,subway,37.493422,127.143597,서울특별시 송파구,11,거여,휠체어리프트,이용가능,900031
22,23,subway,37.493422,127.143597,서울특별시 송파구,11,거여,화장실,이용가능,900028
23,24,subway,37.493422,127.143597,서울특별시 송파구,11,거여,에스켈레이터,이용가능,900029
24,25,subway,37.493422,127.143597,서울특별시 송파구,11,거여,엘리베이터,이용가능,900030
25,29,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,에스켈레이터,이용가능,900034
26,30,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,휠체어리프트,이용가능,900035
27,27,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,화장실,이용가능,900032
28,28,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,엘리베이터,이용가능,900033
29,32,subway,37.555051,127.154110,서울특별시 강동구,15,고덕,화장실,이용가능,900038
...,...,...,...,...,...,...,...,...,...,...
63558,63914,toilet/open,37.479596,126.989915,서울특별시 서초구 방배동 산75-4,31091,도구머리공원 화장실,남성용-대변기,,304151
63559,63916,toilet/open,37.479596,126.989915,서울특별시 서초구 방배동 산75-4,31091,도구머리공원 화장실,여성용-대변기,,304153
63560,63921,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,여성용-장애인용대변기,,304158
63561,63920,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,여성용-대변기,,304157
63562,63919,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,남성용-장애인용대변기,,304156
63563,63918,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,남성용-소변기,,304155
63564,63917,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,남성용-대변기,,304154
63565,63922,toilet/open,37.472727,126.992462,서울특별시 서초구 방배동 599,31093,방배배수지 체육공원 화장실,남성용-대변기,,304159
63566,63923,toilet/open,37.472727,126.992462,서울특별시 서초구 방배동 599,31093,방배배수지 체육공원 화장실,남성용-소변기,,304160
63567,63924,toilet/open,37.472727,126.992462,서울특별시 서초구 방배동 599,31093,방배배수지 체육공원 화장실,여성용-대변기,,304161
63568,63925,toilet/open,37.473464,127.035751,서울특별시 서초구 양재동 126-1,31094,양재천수영장 화장실,남성용-대변기,,304162
63569,63926,toilet/open,37.473464,127.035751,서울특별시 서초구 양재동 126-1,31094,양재천수영장 화장실,남성용-소변기,,304163
63570,63927,toilet/open,37.473464,127.035751,서울특별시 서초구 양재동 126-1,31094,양재천수영장 화장실,여성용-대변기,,304164
63571,63928,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,남성용-대변기,,304165
63572,63929,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,남성용-소변기,,304166
63573,63930,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,남성용-장애인용대변기,,304167
63574,63931,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,여성용-대변기,,304168
63575,63932,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,여성용-장애인용대변기,,304169
63576,63937,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,여성용-장애인용대변기,,304174
63577,63936,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,여성용-대변기,,304173
63578,63934,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,남성용-소변기,,304171
63579,63933,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,남성용-대변기,,304170
63580,63935,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,남성용-장애인용대변기,,304172
63581,63938,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,남성용-대변기,,304178
63582,63939,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,남성용-소변기,,304179
63583,63940,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,남성용-장애인용대변기,,304180
63584,63941,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,여성용-대변기,,304181
63585,63942,toilet/open,37.553973,127.046326,서울특별시 성동구 마장동 811,31103,자전거체험장 화장실,남성용-대변기,,304191
63586,63943,toilet/open,37.553973,127.046326,서울특별시 성동구 마장동 811,31103,자전거체험장 화장실,남성용-소변기,,304192
63587,63944,toilet/open,37.553973,127.046326,서울특별시 성동구 마장동 811,31103,자전거체험장 화장실,여성용-대변기,,304193

In [115]:
test.drop(columns="index",inplace=True)

In [116]:
test.reset_index(inplace=True)

In [117]:
test

,index,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
0,0,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,화장실,이용가능,900000
1,1,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,엘리베이터,이용가능,900001
2,2,subway,37.492317,127.118104,서울특별시 송파구,0,가락시장,휠체어리프트,이용가능,900002
3,3,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,에스켈레이터,이용가능,900003
4,4,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,화장실,이용가능,900004
5,5,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,엘리베이터,이용가능,900005
6,6,subway,37.480890,126.882574,서울특별시 금천구,1,가산디지털단지,휠체어리프트,이용가능,900006
7,7,subway,37.497942,127.027621,서울특별시 강남구,3,강남,화장실,이용가능,900007
8,8,subway,37.497942,127.027621,서울특별시 강남구,3,강남,엘리베이터,이용가능,900008
9,9,subway,37.497942,127.027621,서울특별시 강남구,3,강남,에스켈레이터,이용가능,900009
10,10,subway,37.535940,127.132187,서울특별시 강동구,5,강동,휠체어리프트,이용가능,900017
11,11,subway,37.535940,127.132187,서울특별시 강동구,5,강동,에스켈레이터,이용가능,900016
12,12,subway,37.535940,127.132187,서울특별시 강동구,5,강동,화장실,이용가능,900014
13,13,subway,37.535940,127.132187,서울특별시 강동구,5,강동,엘리베이터,이용가능,900015
14,14,subway,37.535144,127.094672,서울특별시 광진구,7,강변,화장실,이용가능,900021
15,15,subway,37.535144,127.094672,서울특별시 광진구,7,강변,엘리베이터,이용가능,900022
16,16,subway,37.535144,127.094672,서울특별시 광진구,7,강변,휠체어리프트,이용가능,900023
17,17,subway,37.498162,127.134660,서울특별시 광진구,8,개농,화장실,이용가능,900024
18,18,subway,37.498162,127.134660,서울특별시 광진구,8,개농,엘리베이터,이용가능,900025
19,19,subway,37.572455,126.806839,서울특별시 강서구,10,개화산,화장실,이용가능,900026
20,20,subway,37.572455,126.806839,서울특별시 강서구,10,개화산,엘리베이터,이용가능,900027
21,21,subway,37.493422,127.143597,서울특별시 송파구,11,거여,휠체어리프트,이용가능,900031
22,22,subway,37.493422,127.143597,서울특별시 송파구,11,거여,화장실,이용가능,900028
23,23,subway,37.493422,127.143597,서울특별시 송파구,11,거여,에스켈레이터,이용가능,900029
24,24,subway,37.493422,127.143597,서울특별시 송파구,11,거여,엘리베이터,이용가능,900030
25,25,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,에스켈레이터,이용가능,900034
26,26,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,휠체어리프트,이용가능,900035
27,27,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,화장실,이용가능,900032
28,28,subway,37.540389,127.069236,서울특별시 광진구,12,건대입구,엘리베이터,이용가능,900033
29,29,subway,37.555051,127.154110,서울특별시 강동구,15,고덕,화장실,이용가능,900038
...,...,...,...,...,...,...,...,...,...,...
55552,63558,toilet/open,37.479596,126.989915,서울특별시 서초구 방배동 산75-4,31091,도구머리공원 화장실,남성용-대변기,,304151
55553,63559,toilet/open,37.479596,126.989915,서울특별시 서초구 방배동 산75-4,31091,도구머리공원 화장실,여성용-대변기,,304153
55554,63560,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,여성용-장애인용대변기,,304158
55555,63561,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,여성용-대변기,,304157
55556,63562,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,남성용-장애인용대변기,,304156
55557,63563,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,남성용-소변기,,304155
55558,63564,toilet/open,37.508194,126.995634,서울특별시 서초구 반포동 115-4,31092,간이화장실 화장실,남성용-대변기,,304154
55559,63565,toilet/open,37.472727,126.992462,서울특별시 서초구 방배동 599,31093,방배배수지 체육공원 화장실,남성용-대변기,,304159
55560,63566,toilet/open,37.472727,126.992462,서울특별시 서초구 방배동 599,31093,방배배수지 체육공원 화장실,남성용-소변기,,304160
55561,63567,toilet/open,37.472727,126.992462,서울특별시 서초구 방배동 599,31093,방배배수지 체육공원 화장실,여성용-대변기,,304161
55562,63568,toilet/open,37.473464,127.035751,서울특별시 서초구 양재동 126-1,31094,양재천수영장 화장실,남성용-대변기,,304162
55563,63569,toilet/open,37.473464,127.035751,서울특별시 서초구 양재동 126-1,31094,양재천수영장 화장실,남성용-소변기,,304163
55564,63570,toilet/open,37.473464,127.035751,서울특별시 서초구 양재동 126-1,31094,양재천수영장 화장실,여성용-대변기,,304164
55565,63571,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,남성용-대변기,,304165
55566,63572,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,남성용-소변기,,304166
55567,63573,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,남성용-장애인용대변기,,304167
55568,63574,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,여성용-대변기,,304168
55569,63575,toilet/open,37.476623,127.041509,서울특별시 서초구 양재동 261-23,31095,양재천(영동2교둑마루) 화장실,여성용-장애인용대변기,,304169
55570,63576,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,여성용-장애인용대변기,,304174
55571,63577,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,여성용-대변기,,304173
55572,63578,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,남성용-소변기,,304171
55573,63579,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,남성용-대변기,,304170
55574,63580,toilet/open,37.468269,127.028713,서울특별시 서초구 우면동 143-6,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,남성용-장애인용대변기,,304172
55575,63581,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,남성용-대변기,,304178
55576,63582,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,남성용-소변기,,304179
55577,63583,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,남성용-장애인용대변기,,304180
55578,63584,toilet/open,37.553132,127.028349,서울특별시 성동구 사근동 102-28,31098,살곶이 진출 화장실,여성용-대변기,,304181
55579,63585,toilet/open,37.553973,127.046326,서울특별시 성동구 마장동 811,31103,자전거체험장 화장실,남성용-대변기,,304191
55580,63586,toilet/open,37.553973,127.046326,서울특별시 성동구 마장동 811,31103,자전거체험장 화장실,남성용-소변기,,304192
55581,63587,toilet/open,37.553973,127.046326,서울특별시 성동구 마장동 811,31103,자전거체험장 화장실,여성용-대변기,,304193

# 20. 교육/어린이집 분리 
어린이집$ -> daycare center <br/>
어런이집 -> 어린이집으로 변경하여 -> daycare center <br/>
학원 -> 대학원이 추출 -> 대학교를 제외한 단어를 추출 -> education/job <br/>
마지막 단어가 학원 -> education/job <br/>

In [118]:
test = reg_name_change(test,"education/Childcare", "어린이집", "daycare center" )

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [119]:
a = test[test.category == 'education/Childcare']

In [120]:
b= a[a.place_name.str.contains('어런이집$')]

In [121]:
b = b.replace('이림어런이집', "이림어린이집")

In [122]:
b.category = "daycare center"

In [123]:
test.iloc[b.index] = b

In [124]:
a = test[test.category == 'education/Childcare']

In [125]:
b = a[a.place_name.str.contains('학원') & a.place_name.str.contains('[^대학교]$')]

In [126]:
b.category = "education/job"

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [127]:
test.iloc[b.index] =b

In [128]:
test = reg_name_change(test, "education/Childcare", "초등학교", "elementary school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [129]:
test = reg_name_change(test, "education/Childcare", "고교", "high school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [130]:
test = reg_name_change(test, "education/Childcare", "고$", "high school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [131]:
test = reg_name_change(test, "education/Childcare", "고등학교", "high school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [132]:
test = reg_name_change(test, "education/Childcare", "중학교$", "junior high school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [133]:
test = reg_name_change(test, "education/Childcare", "중$", "junior high school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [134]:
test = reg_name_change(test, "education/Childcare", "도서관", "library")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [135]:
test = reg_name_change(test, "education/Childcare", "어린이집", "daycare center")

In [136]:
test = reg_name_change(test, "education/Childcare", "유치원", "daycare center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [137]:
test = reg_name_change(test, "education/Childcare", "유아원", "daycare center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [138]:
test = reg_name_change(test, "education/Childcare", "초등학교", "elementary school")

In [139]:
test = reg_name_change(test, "education/Childcare", "초$", "elementary school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [140]:
test_list2 = [ "국민대", "동덕여대", "명지대", "숙명여대", "숭실대", "성신여대", "방송통신대","서경대"]

In [141]:
for row in test_list2:
    test = reg_name_change(test, "education/Childcare", row, "university")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [142]:
test = reg_name_change(test, "education/Childcare", "대학", "university")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [143]:
test = reg_name_change(test, "education/Childcare", "대학교", "university")

In [144]:
test = reg_name_change(test, "education/Childcare", "학교", "special-education school")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [145]:
# test[test.category == "education/Childcare"].place_name.unique()

In [146]:
test = category_sum(test, "education/Childcare","education/job")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

전체 category 개수
44

이 전 education/job 해당 category 개수 :
index                      5120
category                   5120
lat                        5120
lon                        5120
place_address              5120
place_id                   5120
place_name                 5120
facility_available_name    5120
facility_is_available      5120
facility_id                5120
dtype: int64

이 후 education/job 해당 category 개수 :
index                      5235
category                   5235
lat                        5235
lon                        5235
place_address              5235
place_id                   5235
place_name                 5235
facility_available_name    5235
facility_is_available      5235
facility_id                5235
dtype: int64

전체 category 개수
43

# 21. exhibition center (수정사항 없음)

In [147]:
# test[test.category == "exhibition center"].place_name.unique()

# 22. beauty/hair (수정사항 없음)

In [148]:
# test[test.category == "beauty/hair"].place_name.unique()

# 23. police station (수정사항 없음)

In [149]:
# test[test.category == "police station"].place_name.unique()

# 24. post office (수정사항 없음)

In [150]:
# test[test.category == "post office"].place_name.unique()

# 25. health center (수정사항 없음)

In [151]:
# test[test.category == "health center"].place_name.unique()

# 26. daycare center (수정사항 없음)

In [152]:
# test[test.category == "daycare center"].place_name.unique()

# 27. restaurant (수정사항 없음)

In [153]:
# test[test.category == "restaurant"].place_name.unique()

# 28. convenience store/bakery drop

스타벅스는 존재하지만, 빌딩같이 상관성 없는 데이터가 있기 때문에 (약 40개)

In [154]:
test = test[test.category != "convenience store/bakery"]

In [155]:
test.drop(columns="index", inplace=True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [156]:
test.reset_index(inplace=True)

# 29. meeting hall

In [157]:
# 데이터가 상당히 적으며, 빌딩으로 넘겨야하지만, 빌딩은 우리가 원하는 데이터가 아니라 drop

In [158]:
len(test[test.category == "meeting hall"].place_name.unique())

5

In [159]:
test= test[test.category != "meeting hall"]

In [160]:
test.drop(columns="index", inplace=True)

In [161]:
test.reset_index(inplace=True)

# 30. church (수정사항 없음)

In [162]:
# test[test.category == "church"].place_name.unique()

# 31. welfare/child (수정사항 없음)

In [163]:
# test[test.category == "welfare/child"].place_name.unique()

# 32. welfare/senior

In [164]:
# test[test.category == "welfare/senior"].place_name.unique()

아파트 drop

In [165]:
test = reg_name_change(test, "welfare/senior", "아파트", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

교회 -> church

In [166]:
test = reg_name_change(test, "welfare/senior", "교회", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 33. welfare/disabled (수정사항 없음)

In [167]:
# test[test.category == "welfare/disabled"].place_name.unique()

# 34. 이외 사회복지시설 welfare/etc (수정사항 없음)

In [168]:
# test[test.category == "welfare/etc"].place_name.unique()

# 35. training facility
통합

In [169]:
test[test.category == "training facility/urban"].place_name.unique()

array(['서울특별시립강동청소년수련관', '서울특별시립 노원청소년수련관'], dtype=object)

In [170]:
test[test.category == "training facility/rural"].place_name.unique()

array(['강북청소년수련관'], dtype=object)

In [171]:
test = category_sum(test, "training facility/urban" , "training facility/rural")

전체 category 개수
41

이 전 training facility/rural 해당 category 개수 :
index                      12
category                   12
lat                        12
lon                        12
place_address              12
place_id                   12
place_name                 12
facility_available_name    12
facility_is_available      12
facility_id                12
dtype: int64

이 후 training facility/rural 해당 category 개수 :
index                      36
category                   36
lat                        36
lon                        36
place_address              36
place_id                   36
place_name                 36
facility_available_name    36
facility_is_available      36
facility_id                36
dtype: int64

전체 category 개수
40

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [172]:
test = category_sum(test, "training facility/rural" , "training facility")

전체 category 개수
40

이 전 training facility 해당 category 개수 :
index                     NaN
category                  NaN
lat                       NaN
lon                       NaN
place_address             NaN
place_id                  NaN
place_name                NaN
facility_available_name   NaN
facility_is_available     NaN
facility_id               NaN
dtype: float64

이 후 training facility 해당 category 개수 :
index                      36
category                   36
lat                        36
lon                        36
place_address              36
place_id                   36
place_name                 36
facility_available_name    36
facility_is_available      36
facility_id                36
dtype: int64

전체 category 개수
40

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 36. special-education school

In [173]:
# test[test.category == "special-education school"].place_name.unique()

# 37. kindergarten

In [174]:
# test[test.category == "kindergarten"].place_name.unique()

In [175]:
test = reg_name_change(test, "daycare center", "유치원", "kindergarten")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 38. elementary school

In [176]:
# test[test.category == "elementary school"].place_name.unique()

# 39. junior high school

In [177]:
# test[test.category == "junior high school"].place_name.unique()

# 40. high school

In [178]:
# test[test.category == "high school"].place_name.unique()

# 41. college ->university

In [179]:
test = category_sum(test, "college", "university")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

전체 category 개수
40

이 전 university 해당 category 개수 :
index                      368
category                   368
lat                        368
lon                        368
place_address              368
place_id                   368
place_name                 368
facility_available_name    368
facility_is_available      368
facility_id                368
dtype: int64

이 후 university 해당 category 개수 :
index                      381
category                   381
lat                        381
lon                        381
place_address              381
place_id                   381
place_name                 381
facility_available_name    381
facility_is_available      381
facility_id                381
dtype: int64

전체 category 개수
39

In [180]:
# test[test.category == "university"].place_name.unique()

# 42. apartment subsidiary facility drop
빌딩과 아파트는 제외

In [181]:
test = test[test.category != "apartment subsidiary facility"]

In [182]:
test.drop(columns="index",inplace=True)

In [183]:
test.reset_index(inplace=True)

# 43. park
city park, nature park  -> park

In [184]:
test = category_sum(test, "city park", "park")

전체 category 개수
38

이 전 park 해당 category 개수 :
index                     NaN
category                  NaN
lat                       NaN
lon                       NaN
place_address             NaN
place_id                  NaN
place_name                NaN
facility_available_name   NaN
facility_is_available     NaN
facility_id               NaN
dtype: float64

이 후 park 해당 category 개수 :
index                      283
category                   283
lat                        283
lon                        283
place_address              283
place_id                   283
place_name                 283
facility_available_name    283
facility_is_available      283
facility_id                283
dtype: int64

전체 category 개수
38

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [185]:
test = category_sum(test, "nature park", "park")

전체 category 개수
38

이 전 park 해당 category 개수 :
index                      283
category                   283
lat                        283
lon                        283
place_address              283
place_id                   283
place_name                 283
facility_available_name    283
facility_is_available      283
facility_id                283
dtype: int64

이 후 park 해당 category 개수 :
index                      392
category                   392
lat                        392
lon                        392
place_address              392
place_id                   392
place_name                 392
facility_available_name    392
facility_is_available      392
facility_id                392
dtype: int64

전체 category 개수
37

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 44. toilet/open (수정사항 없음)

In [186]:
test[test.category == "toilet/open"].place_name.unique()

array(['남대문시장 화장실', '광희동 화장실', '신당 1호 화장실', ...,
       '양재천무인자동화장실(교총삼거리둑마루) 화장실', '살곶이 진출 화장실', '자전거체험장 화장실'],
      dtype=object)

# 45. toilet/small (수정사항 없음)

In [187]:
test[test.category == "toilet/small"].place_name.unique()

array(['상록(현충) 화장실', '학수(현충) 화장실', '비계(현충) 화장실', '정금(현충) 화장실',
       '달마사입구(현충) 화장실', '까치산 화장실', '장승배드민턴장(상도) 화장실', '초소앞(상도) 화장실',
       '달마(현충) 화장실'], dtype=object)

# 46. other

In [188]:
# test[test.category == "other"].place_name.unique()

수련 -> training facility

In [189]:
test = reg_name_change(test, "other", "수련", "training facility")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

노인회관 -> welfare/senior

In [190]:
test = reg_name_change(test, "other", "노인회관", "welfare/senior")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

법당, 륭사, 룡사, 정법사, 기독교, 관음사, 교회, 불교, 성당, 종교  -> church

In [191]:
test = reg_name_change(test, "other", "법당", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [192]:
test = reg_name_change(test, "other", "륭사", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [193]:
test = reg_name_change(test, "other", "룡사", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [194]:
test = reg_name_change(test, "other", "정법사", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [195]:
test = reg_name_change(test, "other", "기독교", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [196]:
test = reg_name_change(test, "other", "관음사", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [197]:
test = reg_name_change(test, "other", "교회", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [198]:
test = reg_name_change(test, "other", "불교", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [199]:
test = reg_name_change(test, "other", "성당", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [200]:
test = reg_name_change(test, "other", "종교", "church")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

수영장, 체육, 스포츠 -> gym

In [201]:
test = reg_name_change(test, "other", "수영장", "gym")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [202]:
test = reg_name_change(test, "other", "체육", "gym")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [203]:
test = reg_name_change(test, "other", "스포츠", "gym")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

도서관 -> library

In [204]:
test = reg_name_change(test, "other", "도서관", "library")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

쇼핑 -> shopping/mart

In [205]:
test = reg_name_change(test, "other", "쇼핑", "shopping/mart")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

사우나 -> beauty/hair

In [206]:
test = reg_name_change(test, "other", "사우나", "beauty/hair")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

교육, 시험, 학원 -> education/job

In [207]:
test = reg_name_change(test, "other", "학원", "education/job")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [208]:
test = reg_name_change(test, "other", "시험", "education/job")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [209]:
test = reg_name_change(test, "other", "교육", "education/job")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

운동장 -> park

In [210]:
test = reg_name_change(test, "other", "운동장", "park")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

센터 -> community service center

In [211]:
test = reg_name_change(test, "other", "센터", "community service center")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

아파트, 타워 -> delete

In [212]:
test = category_sum(test, "other", "delete")

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

전체 category 개수
37

이 전 delete 해당 category 개수 :
index                      7062
category                   7062
lat                        7062
lon                        7062
place_address              7062
place_id                   7062
place_name                 7062
facility_available_name    7062
facility_is_available      7062
facility_id                7062
dtype: int64

이 후 delete 해당 category 개수 :
index                      7976
category                   7976
lat                        7976
lon                        7976
place_address              7976
place_id                   7976
place_name                 7976
facility_available_name    7976
facility_is_available      7976
facility_id                7976
dtype: int64

전체 category 개수
36

# 47. publictoilet -> toilet/public

In [213]:
test = category_sum(test, "publictoilet" , "toilet/public" )

전체 category 개수
36

이 전 toilet/public 해당 category 개수 :
index                      104
category                   104
lat                        104
lon                        104
place_address              104
place_id                   104
place_name                 104
facility_available_name    104
facility_is_available      104
facility_id                104
dtype: int64

이 후 toilet/public 해당 category 개수 :
index                      240
category                   240
lat                        240
lon                        240
place_address              240
place_id                   240
place_name                 240
facility_available_name    240
facility_is_available      240
facility_id                240
dtype: int64

전체 category 개수
35

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# delete drop

In [214]:
test = test[test.category != "delete"]

In [215]:
test.drop(columns="index", inplace=True)

In [216]:
test.reset_index(inplace=True)

In [217]:
test.drop(columns="index", inplace=True)

In [218]:
test.category.unique()

array(['subway', 'movie/concerthall', 'shopping/mart', 'publicparking',
       'toilet/public', 'hospital', 'community service center',
       'police station', 'post office', 'health center', 'bank', 'hotel',
       'daycare center', 'education/job', 'elementary school',
       'high school', 'junior high school', 'kindergarten', 'university',
       'special-education school', 'library', 'beauty/hair', 'church',
       'gym', 'training facility', 'park', 'welfare/senior', 'restaurant',
       'exhibition center', 'welfare/etc', 'welfare/disabled',
       'welfare/child', 'toilet/open', 'toilet/small'], dtype=object)

In [219]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46525 entries, 0 to 46524
Data columns (total 9 columns):
category                   46525 non-null object
lat                        46525 non-null float64
lon                        46525 non-null float64
place_address              46525 non-null object
place_id                   46525 non-null int64
place_name                 46525 non-null object
facility_available_name    46525 non-null object
facility_is_available      46525 non-null object
facility_id                46525 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.2+ MB

In [220]:
len(test.place_name.unique())

8359

In [221]:
test.to_csv("table_dataclean.csv")