# 데이터 불러오기

In [27]:
import pandas as pd

In [28]:
data_place = pd.read_csv('ZZANG_PLACE.csv', encoding='utf-8')

In [29]:
data_place.drop(columns='Unnamed: 0', inplace=True)

In [30]:
data_facility = pd.read_csv('ZZANG_FACILITY.csv', encoding='utf-8')

In [31]:
data_facility.drop(columns='Unnamed: 0', inplace=True)

In [32]:
data_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112925 entries, 0 to 112924
Data columns (total 5 columns):
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
dtypes: int64(2), object(3)
memory usage: 4.3+ MB

In [33]:
data_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16844 entries, 0 to 16843
Data columns (total 6 columns):
category         16844 non-null object
lat              16844 non-null float64
lon              16844 non-null float64
place_address    16523 non-null object
place_id         16844 non-null int64
place_name       16844 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 789.6+ KB

# 중복제거

In [34]:
data_place[data_place.duplicated(subset=['place_name'], keep=False)].sort_values('place_name').count()
# 주소와 장소 명이 같을 경우 중복

category         9534
lat              9534
lon              9534
place_address    9526
place_id         9534
place_name       9534
dtype: int64

In [35]:
data_place.drop_duplicates(subset=['place_name'],inplace=True)

In [36]:
data_place[data_place.duplicated(subset=['place_name','place_address'], keep=False)].sort_values('place_name') # 확인

Empty DataFrame
Columns: [category, lat, lon, place_address, place_id, place_name]
Index: []

In [37]:
data_place.drop_duplicates(subset=['lat','lon'],inplace=True) #좌표가 같은경우 같은 시설 서울대 서울대학원 서울~~~

In [38]:
data_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11179 entries, 0 to 16843
Data columns (total 6 columns):
category         11179 non-null object
lat              11179 non-null float64
lon              11179 non-null float64
place_address    10867 non-null object
place_id         11179 non-null int64
place_name       11179 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 611.4+ KB

In [39]:
data_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112925 entries, 0 to 112924
Data columns (total 5 columns):
facility_available_name    112925 non-null object
facility_is_available      108680 non-null object
place_name                 112925 non-null object
place_id                   112925 non-null int64
facility_id                112925 non-null int64
dtypes: int64(2), object(3)
memory usage: 4.3+ MB

In [40]:
data_place.to_csv('main_place_for_analysis.csv')

# merge (left join)

In [41]:
merge_data = pd.merge(data_place, data_facility, sort= True,on =[ 'place_id','place_id'] ,how = 'left').sort_values(by = ['place_id'])

In [42]:
merge_data.head()

,category,lat,lon,place_address,place_id,place_name_x,facility_available_name,facility_is_available,place_name_y,facility_id
0,subway,37.492317,127.118104,NaN,0,가락시장,화장실,이용가능,가락시장,900000.0
1,subway,37.492317,127.118104,NaN,0,가락시장,엘리베이터,이용가능,가락시장,900001.0
2,subway,37.492317,127.118104,NaN,0,가락시장,휠체어리프트,이용가능,가락시장,900002.0
3,subway,37.480890,126.882574,NaN,1,가산디지털단지,에스켈레이터,이용가능,가산디지털단지,900003.0
4,subway,37.480890,126.882574,NaN,1,가산디지털단지,화장실,이용가능,가산디지털단지,900004.0

In [43]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64166 entries, 0 to 64165
Data columns (total 10 columns):
category                   64166 non-null object
lat                        64166 non-null float64
lon                        64166 non-null float64
place_address              63431 non-null object
place_id                   64166 non-null int64
place_name_x               64166 non-null object
facility_available_name    63580 non-null object
facility_is_available      59454 non-null object
place_name_y               63580 non-null object
facility_id                63580 non-null float64
dtypes: float64(3), int64(1), object(6)
memory usage: 5.4+ MB

In [44]:
merge_data.drop(columns=['place_name_y'], inplace=True)

In [45]:
merge_data.rename(columns={"place_name_x" : "place_name"}, inplace=True)

In [46]:
merge_data.sample(10)

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
54420,hospital,37.558110,126.837758,서울특별시 강서구 공항대로 272,29457,하바나빌딩,장애인전용주차구역,None,282809.0
38458,restaurant,37.485521,127.031740,서울특별시 서초구 남부순환로347길 24,24989,서초테마빌딩,출입구(문),None,244950.0
59150,toilet/open,37.517399,127.100717,서울특별시 송파구 마천2동 49-11,30209,상아주유소 화장실,장애인전용주차구역,None,288978.0
11233,education/Childcare,37.545333,126.989423,서울특별시 용산구 녹사평대로60길 39,13341,용암초등학교,장애인용 화장실,이용불편,111849.0
47498,concert hall,37.525655,127.033730,서울특별시 강남구 언주로 844,27632,윤당빌딩,계단 또는 승강설비,None,267557.0
55205,bank,37.549324,126.972062,서울특별시 용산구 한강대로 348,29636,한국정보통신공사협회,복도,None,284356.0
37897,government office building,37.574880,126.971985,서울특별시 종로구 사직로8길 31,24887,서울지방경찰청,소변기,None,243921.0
51073,police station,37.639947,126.920852,서울특별시 은평구 진관3로 38,28569,진관지구대,출입구(문),None,275788.0
51135,bank,37.566578,127.013945,서울특별시 중구 퇴계로73길,28592,진스코빌딩,대변기,None,275961.0
5274,publicinstitution,37.647510,127.025605,서울특별시 도봉구 노해로 139,11403,숭미파출소,주출입구 높이차이 제거,이용불편,104995.0

# nan, None 정제

In [47]:
import numpy as np

In [48]:
merge_data.replace(np.nan, '', inplace=True)

In [49]:
merge_data.replace("None", '', inplace=True)

In [50]:
merge_data.facility_id.replace("", -1, inplace=True)

In [51]:
merge_data.facility_id = merge_data.facility_id.astype('int64')

In [52]:
merge_data[merge_data.facility_id == -1]

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
7,subway,37.464689,126.693408,,2,간석,,,-1
20,subway,37.494698,126.858504,,9,개봉,,,-1
31,subway,37.443987,127.007899,,13,경마공원,,,-1
40,subway,37.316821,126.823094,,18,고잔,,,-1
41,subway,35.892157,128.553464,,19,공단,,,-1
48,subway,37.433205,126.996404,,22,과천,,,-1
49,subway,37.419578,126.908476,,23,관악,,,-1
66,subway,37.503178,126.882037,,29,구로,,,-1
76,subway,37.496273,126.869599,,33,구일,,,-1
82,subway,37.353732,126.948517,,36,군포,,,-1
86,subway,37.372237,126.943489,,38,금정,,,-1
112,subway,37.540597,126.971171,,48,남영,,,-1
123,subway,37.514072,126.941670,,52,노량진,,,-1
132,subway,37.644599,127.051406,,56,녹천,,,-1
147,subway,37.631957,126.810297,,62,대곡,,,-1
148,subway,37.435724,127.006474,,63,대공원,,,-1
153,subway,37.512537,126.926392,,65,대방,,,-1
154,subway,37.328304,126.917160,,66,대야미,,,-1
160,subway,37.675883,126.747756,,69,대화,,,-1
170,subway,37.679441,127.045521,,73,도봉,,,-1
173,subway,37.468604,126.642824,,75,도원,,,-1
181,subway,37.465994,126.889508,,78,독산,,,-1
196,subway,37.470869,126.702884,,85,동암,,,-1
197,subway,37.475414,126.632598,,86,동인천,,,-1
200,subway,36.833791,127.148905,,88,두정,,,-1
209,subway,37.561918,126.826919,,92,마곡,,,-1
210,subway,37.652185,126.777641,,93,마두,,,-1
218,subway,37.495020,127.152790,,96,마천,,,-1
225,subway,37.710499,127.047360,,100,망월산,,,-1
240,subway,37.390084,126.930507,,106,명학,,,-1
...,...,...,...,...,...,...,...,...,...
64136,education/job,37.346450,127.734111,경기도 여주시 강천면 원양1로 907 라파엘 직업재활센터,40284,라파엘 직업재활센터,,,-1
64137,education/job,37.526375,127.030281,강남구 언주로167길 35 4층 소망제이앤피,40288,소망제이앤피,,,-1
64138,education/job,37.491699,127.087595,강남구 양재대로55길 13 지하1층 래그랜느보호작업장,40290,래그랜느보호작업장,,,-1
64139,wellfare,37.570701,126.913825,서울특별시 서대문구 수색로4가길 23 서대문농아인복지관,40291,서대문농아인복지관,,,-1
64140,wellfare,37.519900,126.869881,서울특별시 양천구 목동동로 159 양천장애인복지관,40292,양천장애인복지관,,,-1
64141,wellfare,37.514663,127.114202,서울특별시 송파구 오금로11길 68 방이장애인복지관,40294,방이장애인복지관,,,-1
64142,wellfare,37.493905,127.155198,서울특별시 송파구 마천로61길 26 인성장애인복지관,40295,인성장애인복지관,,,-1
64143,education/job,37.488784,127.103615,강남구 밤고개로1길 34 밀알그린보호작업장,40296,밀알그린보호작업장,,,-1
64144,education/job,37.491440,127.145507,송파구 양산로8길 17 (거여동) 신아보호작업장,40297,신아보호작업장,,,-1
64145,education/job,37.491475,127.146676,송파구 양산로10길 26 (거여동) 임마누엘 보호작업시설,40298,임마누엘 보호작업시설,,,-1
64146,education/job,37.489769,127.142672,송파구 양산로 5 3층 (거여동) 구립송파구 장애인보호작업장,40301,구립송파구 장애인보호작업장,,,-1
64147,education/job,37.500461,127.105889,송파구 가락로 86 (석촌동) 5층 연화직업재활원,40302,연화직업재활원,,,-1
64148,education/job,37.491384,127.157453,송파구 성내천로 333-4 (마천동) 송파위더스,40303,송파위더스,,,-1
64149,education/job,37.514418,127.100649,"송파구 올림픽로 269, 832호 (신천동, 롯데캐슬프라자) 효명장애인 보호작업시설",40304,효명장애인 보호작업시설,,,-1
64150,education/job,37.496327,127.154468,송파구 성내천로 271 (마천동) 행복보호작업장,40305,행복보호작업장,,,-1
64151,education/job,37.481135,127.127737,송파구 새말로10길 19 (문정동) 함재보호작업장,40307,함재보호작업장,,,-1
64152,education/job,37.487967,127.132597,송파구 송이로 31길 4-15(문정동) 두손장애인보호작업장,40308,두손장애인보호작업장,,,-1
64153,education/job,37.557735,127.158586,강동구 고덕로 295-45 라온클린패밀리,40309,라온클린패밀리,,,-1
64154,education/job,37.561246,127.155895,강동구 동남로 85길 15 성지보호작업장,40311,성지보호작업장,,,-1
64155,education/job,37.554311,127.136570,강동구 고덕로 100-5 강동구 장애인보호작업장,40312,강동구 장애인보호작업장,,,-1
64156,education/job,37.539149,127.146814,강동구 명일로 230 삼보프리빌 301호 아이티어빌리티센터,40313,아이티어빌리티센터,,,-1
64157,education/job,37.554317,127.128149,강동구 상암로3길 86 푸른보호작업장,40315,푸른보호작업장,,,-1
64158,education/job,37.530998,127.128193,강동구 풍성로 146 동안우리복지센터,40317,동안우리복지센터,,,-1
64159,education/job,37.535421,127.137407,강동구 진황도로 100 하이브 3층 파란마음복지센터,40318,파란마음복지센터,,,-1
64160,education/job,37.528758,127.132657,"강동구 양재대로91길 62 (성내동, 동아아파트상가4층) 선한복지센터",40319,선한복지센터,,,-1
64161,education/job,37.549899,127.126549,강동구 암사동512-4 2층 소망드림복지센터,40320,소망드림복지센터,,,-1
64162,daycare,37.545872,126.849567,강서구 까치산로18나길 36 (화곡동 772-60 1층),40326,로뎀나무,,,-1
64163,daycare,37.557676,127.013070,중구 다산로22길 11 (신당동 340-180) 1층,40328,파란마음주간보호센터,,,-1
64164,signinterpret,37.507644,127.105472,"서울시 송파구 송파1동 15-2 3층 서울시 송파구 송파대로 460, 3층",40329,송파구수화통역센터,,,-1
64165,education/job,37.516988,127.041807,서울특별시 강남구 학동로 402 TEST,40330,TEST,,,-1

In [53]:
merge_data.sample(10)

,category,lat,lon,place_address,place_id,place_name,facility_available_name,facility_is_available,facility_id
11020,education/Childcare,37.546752,127.127136,서울특별시 강동구 천중로9길 32,13269,예원어린이집,장애인용 화장실,이용불편,111594
39778,shopping/mart,37.528631,126.849705,서울특별시 강서구 국회대로7길 201,25343,세림빌딩,주출입구 접근로,,248220
27319,welfare/senior,37.477700,126.956822,서울특별시 관악구 남부순환로234길 37,22366,덕진경로당,출입구(문),,220910
20727,bank,37.625324,127.071647,서울특별시 노원구 동일로191가길 6,20816,건양오피스텔,출입구(문),,206988
37005,community service center,37.536741,126.969247,서울특별시 용산구 백범로90길 32,24716,서울서부지방법원 용산등기소,주출입구 접근로,,241962
8201,education/Childcare,37.495764,126.897783,서울특별시 영등포구 도림로41길 20-1,12323,리틀팰리스 어린이집,주출입구 접근로,이용가능,108165
28506,hospital,37.589381,127.008782,서울특별시 성북구 동소문로24나길 47,22666,동일코아루센타시아 상가,계단 또는 승강설비,,223597
30253,bank,37.499446,127.035858,서울특별시 강남구 테헤란로26길 12,23019,리틀 스타 빌딩,대변기,,226538
24410,city park,37.480401,126.913966,서울특별시 관악구 난곡로61길 1,21701,난우어린이공원,대변기,,215137
2806,hospital,37.530634,127.148161,서울특별시 강동구 진황도로61길 53,10695,서울보훈병원,장애인 전용 주차구역,이용불편,102271

In [54]:
merge_data.filter(regex="None", axis=0)

Empty DataFrame
Columns: [category, lat, lon, place_address, place_id, place_name, facility_available_name, facility_is_available, facility_id]
Index: []

In [55]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64166 entries, 0 to 64165
Data columns (total 9 columns):
category                   64166 non-null object
lat                        64166 non-null float64
lon                        64166 non-null float64
place_address              64166 non-null object
place_id                   64166 non-null int64
place_name                 64166 non-null object
facility_available_name    64166 non-null object
facility_is_available      64166 non-null object
facility_id                64166 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.9+ MB

# 편의 시설이 없는건 따로 배제

복지관시설은 나중에 지도상에 보여질 필요가 있어 나중에 복지관시설만 데이터셋에 넣는다.

In [26]:
get_nan = merge_data[merge_data.facility_available_name == '']

In [27]:
get_nan.sample(5)

,category,lat,lon,place_address,place_id,facility_available_name,facility_is_available,place_name,facility_id
573,subway,37.56217,127.050835,,240,,,,
81298,education/job,37.4897693,127.1426724,송파구 양산로 5 3층 (거여동) 구립송파구 장애인보호작업장,40301,,,,
1235,movie/concerthall,37.5227864,127.0273924,서울특별시 강남구 신사동 566-31,10173,,,,
81237,education/job,37.60497460000001,127.0463687,성북구 화랑로134 행복플러스작업장,40209,,,,
81254,education/job,37.5831244,126.9278855,서대문구 명지2길 14 (홍은동304-1) 그린내,40238,,,,

In [28]:
merge_data = merge_data[merge_data.facility_available_name != '']

In [29]:
merge_data.head()

,category,lat,lon,place_address,place_id,facility_available_name,facility_is_available,place_name,facility_id
0,subway,37.4923175,127.118104,,0,화장실,이용가능,가락시장,900000
1,subway,37.4923175,127.118104,,0,엘리베이터,이용가능,가락시장,900001
2,subway,37.4923175,127.118104,,0,휠체어리프트,이용가능,가락시장,900002
3,subway,37.48089,126.8825735,,1,에스켈레이터,이용가능,가산디지털단지,900003
4,subway,37.48089,126.8825735,,1,화장실,이용가능,가산디지털단지,900004

In [30]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80712 entries, 0 to 81074
Data columns (total 9 columns):
category                   80712 non-null object
lat                        80712 non-null object
lon                        80712 non-null object
place_address              80712 non-null object
place_id                   80712 non-null int64
facility_available_name    80712 non-null object
facility_is_available      80712 non-null object
place_name                 80712 non-null object
facility_id                80712 non-null object
dtypes: int64(1), object(8)
memory usage: 6.2+ MB

In [31]:
get_nan.groupby('category')[['place_name']].count()

                     place_name
category
bank                          2
chinese_food                 10
daycare                      96
education/Childcare           6
education/job                86
hospital/rehab                4
hotel                         1
japanese_food                29
korean_food                   3
movie/concerthall            51
other                         4
other_food                   98
publicinstitution             4
publicparking                 1
publictoilet                  1
signinterpret                21
sports/rehab                  2
subway                       98
wellfare                     35
western_food                 55

# category reduce

In [32]:
def category_sum(dataframe,replace_target,replace_str) -> DataFrame():
    print("전체 category 개수")
    print(len(dataframe.category.unique()))
    print()
    print("이 전",replace_str,"해당 category 개수 : ")
    print(dataframe.loc[dataframe.category == replace_str].apply(len))
    dataframe_replace = dataframe[dataframe.loc[:, 'category'] == replace_target]
    dataframe_replace.category = replace_str
    dataframe[dataframe.loc[:, 'category'] == replace_target] = dataframe_replace
    print()
    print("이 후",replace_str,"해당 category 개수 : ")
    print(dataframe.loc[dataframe.category == replace_str].apply(len))
    print()
    print("전체 category 개수")
    print(len(dataframe.category.unique()))
    return dataframe

In [33]:
def reg_name_change(dataframe, category_str, reg, change_category):
    a = dataframe[dataframe.category == category_str]
    b = a[a.place_name.str.contains(reg)]
    b.category = change_category
    dataframe.iloc[b.index] =b
    return dataframe

In [34]:
test = merge_data

In [48]:
test.reset_index(inplace=True)

In [35]:
test.category.unique()

array(['subway', 'movie/concerthall', 'shopping/mart', 'publicparking',
       'publictoilet', 'hospital', 'publicinstitution', 'bank',
       'education/Childcare', 'beauty/hair', 'other', 'korean_food',
       'tourist hotel', 'restaurant', 'education/job', 'shopping',
       'apartment subsidiary facility', 'exhibition center',
       'broadcasting station', 'concert hall', 'movie', 'public parking',
       'hotel', 'factory', 'convenience store/bakery', 'stadium',
       'university', 'telecommunication office',
       'government office building', 'church', 'daycare center',
       'massage parlor', 'general hospital', 'kindergarten',
       'meeting hall', 'welfare/senior', 'welfare/etc',
       'elementary school', 'community service center', 'city park',
       'junior high school', 'training facility/urban',
       'welfare/disabled', 'gym', 'health center', 'library',
       'welfare/child', 'training facility/rural', 'high school',
       'police station', 'national health insurance corporation',
       'post office', 'national pension service', 'toilet/public',
       'community child center', 'nature park',
       'special-education school', 'driving academy', 'funeral hall',
       'public library', 'outdoor theater', 'college', 'shelter',
       'toilet/open', 'service area', 'toilet/small'], dtype=object)

# 1. subway 수정사항 없음

In [35]:
# test[test.category == "subway"].head()

,category,lat,lon,place_address,place_id,facility_available_name,facility_is_available,place_name,facility_id
0,subway,37.4923175,127.118104,,0,화장실,이용가능,가락시장,900000
1,subway,37.4923175,127.118104,,0,엘리베이터,이용가능,가락시장,900001
2,subway,37.4923175,127.118104,,0,휠체어리프트,이용가능,가락시장,900002
3,subway,37.48089,126.8825735,,1,에스켈레이터,이용가능,가산디지털단지,900003
4,subway,37.48089,126.8825735,,1,화장실,이용가능,가산디지털단지,900004

# 2. movie/concerthall

In [36]:
# test[test.category == "movie/concerthall"].head()

,category,lat,lon,place_address,place_id,facility_available_name,facility_is_available,place_name,facility_id
768,movie/concerthall,37.58326870000001,127.002443,서울특별시 종로구 동숭동 1-37,10000,주출입구 접근로,이용불편,A아트홀(구.신연아트홀),100000
769,movie/concerthall,37.58326870000001,127.002443,서울특별시 종로구 동숭동 1-37,10000,주출입구 높이차이 제거,이용가능,A아트홀(구.신연아트홀),100001
774,movie/concerthall,37.5239298,127.0251432,서울특별시 강남구 신사동 568-2,10001,장애인용 관람석,이용가능,BBC씨어터,100006
772,movie/concerthall,37.5239298,127.0251432,서울특별시 강남구 신사동 568-2,10001,주출입구 높이차이 제거,이용가능,BBC씨어터,100004
773,movie/concerthall,37.5239298,127.0251432,서울특별시 강남구 신사동 568-2,10001,장애인용 승강기,이용가능,BBC씨어터,100005

concert hall -> movie/concerthall

In [37]:
test = category_sum(test,"concert hall","movie/concerthall")

전체 category 개수
66

이 전 movie/concerthall 해당 category 개수 :
category                   535
lat                        535
lon                        535
place_address              535
place_id                   535
facility_available_name    535
facility_is_available      535
place_name                 535
facility_id                535
dtype: int64

이 후 movie/concerthall 해당 category 개수 :
category                   1922
lat                        1922
lon                        1922
place_address              1922
place_id                   1922
facility_available_name    1922
facility_is_available      1922
place_name                 1922
facility_id                1922
dtype: int64

전체 category 개수
65

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

movie -> movie/concerthall

In [38]:
test = category_sum(test,"movie","movie/concerthall")

전체 category 개수
65

이 전 movie/concerthall 해당 category 개수 :
category                   1922
lat                        1922
lon                        1922
place_address              1922
place_id                   1922
facility_available_name    1922
facility_is_available      1922
place_name                 1922
facility_id                1922
dtype: int64

이 후 movie/concerthall 해당 category 개수 :
category                   1942
lat                        1942
lon                        1942
place_address              1942
place_id                   1942
facility_available_name    1942
facility_is_available      1942
place_name                 1942
facility_id                1942
dtype: int64

전체 category 개수
64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [50]:
# test[test.category == "movie/concerthall"].place_name.unique()

array(['A아트홀(구.신연아트홀)', 'BBC씨어터', 'BREAK OUT 전용극장', 'CGV 강남', 'CGV 명동',
       'CGV 상암', 'CGV 송파', 'CGV강변', 'CGV구로', 'CGV군자', 'CGV대학로', 'CGV목동',
       'CGV불광', 'CGV신촌아트레온', 'CGV신한카드아트홀(구 CGV팝아트홀)', 'CGV압구정', 'CGV영등포',
       'CLUB mASS', 'GS타워 소극장', 'JW 메리어트호텔 그랜드볼룸', 'LG아트센터', 'LIG아트홀',
       '건국대학교 국제회의장', '국립극장', '국립중앙박물관 극장 용', '그랜드 앰배서더 서울 그랜드 볼룸',
       '그랜드하얏트서울 그랜드볼룸', '그랜드힐튼호텔 컨벤션홀', '금호아트홀', '나루아트센터', '난타전용관(명동)',
       '난타전용관(홍대)', '남산예술센터', '대학로 SH 아트홀', '대학로 웃찾사 전용관(구.Boom Box)',
       '대학로예술극장', '대한극장', '동숭아트센터', '동영아트홀 (구 계몽아트홀)', '디마떼오홀', '라트어린이극장',
       '레진코믹스 브이홀', '롯데몰 김포공항점', '롯데백화점 노원점', '롯데시네마 강동', '롯데시네마 강동관',
       '롯데시네마 건대입구관', '롯데시네마 누리꿈(상암)', '롯데시네마 브로드웨이', '롯데시네마 씨티(강남)',
       '롯데시네마 피카디리관', '롯데시네마 합정', '롯데시네마 홍대입구', '롯데시네마 황학', '루나틱전용관',
       '르네상스 서울호텔', '리츠칼튼 서울호텔 그랜드볼룸', '마포아트센터', '메가박스 강남', '메가박스 동대문',
       '메가박스 목동', '메가박스 상봉', '메가박스 수유', '메가박스 신촌', '메가박스 아트나인',
       '메가박스 코엑스', '명동예술극장', '명보아트홀', '모차르트홀', '목동아이스링크', '문예회관소극장',
       '문화일보홀', '뮤지컬 전용관 팝콘하우스', '민속극장 풍류', '백암아트홀', '삼성동 섬유센터 이벤트홀',
       '상상마당 라이브홀', '샘터파랑새극장', '샤롯데씨어터', '서강대학교 메리홀', '서울 신라호텔 다이너스티홀',
       '서울 잠실 학생체육관', '서울교육문화회관 대극장', '서울극장', '서울놀이마당', '서울바로크챔버홀(구 DS홀)',
       '서울애니시네마', '서울패션아트홀', '세라믹팔레스홀', '세익스피어 극장', '세종대학교 대양홀', '세종문화회관',
       '소공동 롯데호텔 크리스탈볼룸', '송파 청소년 수련관', '숭실대학교 한경직기념관 대강당',
       '쉐라톤그랜드워커힐호텔 워커힐씨어터', '스폰지하우스(광화문)', '시티렉스(CT-LEX)',
       '아르코(ArKo)예술극장', '아티움', '알과핵 소극장', '암사어린이극장', '압구정 예홀',
       '양재동 aT센터(농수산물유통공사)', '역삼1문화센터', '연세대학교 노천극장', '영산아트홀', '예술마당',
       '예술의 전당', '예지원', '올림픽 예술극장 (K-아트홀 태권도공연장)', '용산아트홀', '유니버설아트센터',
       '유니클로 악스(구 악스코리아)', '유시어터', '이해랑 예술극장', '이화여고 100주년 기념관',
       '이화여대 대강당', '일지아트홀(구 우림 청담 씨어터)', '임페리얼 팰리스호텔 두베홀', '잠실실내체육관',
       '장충체육관', '전쟁기념관 평화의광장', '점프 서울전용극장', '정동극장', '중앙대학교 아트센터 대극장',
       '진선여고 대강당', '충무아트홀', '프라디아(FRADIA)', '플래툰 쿤스트할레', '한국문화의 집 코우스',
       '한국불교역사문화기념관', '해치홀', '허리우드극장', '현대·기아자동차 아트홀', '호암아트홀',
       '홍대 비보이 전용극장', '홍대앞 김대범 소극장', 'CGV', 'CGV구로14', 'CGV상암14',
       'CGV용산 11', 'KBS방송국 서울별관', 'KH바텍사옥', 'VERTIGO빌딩', '㈜에니웍스',
       '가든5  (Tool관이마트)', '강북문화예술화관', '골든시네마', '광진구 공연장', '광진종합문화센터',
       '구세군144주년기념빌딩', '군자동극장', '낙산제빌딩', '노원문화예술회관', '대치동 KT&G', '대학로CGV',
       '대학로스타시티빌딩', '동해문화예술관', '롯데몰', '롯데백화점', '롯데백화점 영등포점',
       '롯데시네마(씨네 일레븐 14관)', '롯데시네마홍대관입구관', '롯데월드', '메가박스', '메가박스 상봉점',
       '메사', '메세나 폴리스', '목동 CGV', '목동 K.T', '목동청소년수련관', '불광cgv',
       '브로드웨이시네마(1-5)', '상상라이브홀', '서대문문화체육회관', '서울교육문화회관', '서울로얄호텔',
       '서울주요무형문화제전수회관', '성동문화회관', '센트럴시티', '스타시티 영존', '신촌민자역사(메가박스)',
       '씨네시티빌딩', '아트레온', '압구정CGV', '양천구민회관', '영산문화재단', '예술인센터', '올림픽공원',
       '용산문화원', '유타몰', '윤당빌딩', '튼튼영어(유니북스 사옥)', '피카다리플러스', '필름포럼(빌딩)',
       '하이해리엇', '홍익대학교대학로캠퍼스', '홍익몰'], dtype=object)

화장실 포함된 이름 -> publictoilet

In [56]:
test = reg_name_change(test, "movie/concerthall", "화장실", "publictoilet")

# 3. shopping/mart

In [51]:
# test[test.category == "shopping/mart"].head()

,index,category,lat,lon,place_address,place_id,facility_available_name,facility_is_available,place_name,facility_id
1205,1358,shopping/mart,37.6412768,127.0678895,서울특별시 노원구 동일로204가길 46,10228.0,장애인용 화장실,이용불편,2001아울렛중계점,100635
1206,1356,shopping/mart,37.6412768,127.0678895,서울특별시 노원구 동일로204가길 46,10228.0,주출입구 높이차이 제거,이용불편,2001아울렛중계점,100633
1207,1357,shopping/mart,37.6412768,127.0678895,서울특별시 노원구 동일로204가길 46,10228.0,장애인용 승강기,이용불편,2001아울렛중계점,100634
1208,1354,shopping/mart,37.6412768,127.0678895,서울특별시 노원구 동일로204가길 46,10228.0,주출입구 접근로,이용가능,2001아울렛중계점,100631
1209,1355,shopping/mart,37.6412768,127.0678895,서울특별시 노원구 동일로204가길 46,10228.0,장애인 전용 주차구역,이용불편,2001아울렛중계점,100632

shopping -> shopping/mart

In [52]:
test = category_sum(test, "shopping", "shopping/mart")

전체 category 개수
65

이 전 shopping/mart 해당 category 개수 :
index                      1523
category                   1523
lat                        1523
lon                        1523
place_address              1523
place_id                   1523
facility_available_name    1523
facility_is_available      1523
place_name                 1523
facility_id                1523
dtype: int64

이 후 shopping/mart 해당 category 개수 :
index                      2609
category                   2609
lat                        2609
lon                        2609
place_address              2609
place_id                   2609
facility_available_name    2609
facility_is_available      2609
place_name                 2609
facility_id                2609
dtype: int64

전체 category 개수
64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [55]:
# test[test.category == "shopping/mart"].place_name.unique()

array(['2001아울렛중계점', '2441아울렛천호점', 'ABC마트', 'G 마트', 'GS 슈퍼마켓', 'GS슈퍼마트',
       'GS슈퍼상계점', 'HK마트', 'LG베스트', 'LG베스트샵', 'LG전자', 'LG프라자', 'LG하이프라자',
       'NC백화점', 'SM마트창동점', 'W-MALL', '가든파이브 NC백화점(LIFE관)', '강서농수산물도매시장',
       '강서농협하나로마트', '갤러리아백화점WEST', '관악농협(금천점)', '관악프라자', '광희시장', '국민마트',
       '그랜드마트', '꿈꾸는청년가게', '농협관악농산물백화점', '농협하나로마트', '더브러마트', '도림시장',
       '독산동 하이마트', '두리마트', '디지털프라자', '럭키마트', '럭키할인마트', '로데오', '롯데마이수퍼',
       '롯데마이슈퍼', '롯데마트', '롯데마트 송파점', '롯데마트999', '롯데백화점 강남점', '롯데백화점 관악점',
       '롯데백화점 미아점', '롯데슈퍼', '롯데시네마 신림', '롯데호텔및백화점', '르네상스복합쇼핑몰',
       '마리오아울렛3', '마축일축산물시장', '마포농수산물시장', '메르체쇼핑몰', '명성마트', '모닝마트',
       '북부농협<마트>', '빅마켓(롯데마트 영등포점)', '빅마켓(롯데마트금천점)', '빅마켓(롯데마트도봉점)',
       '삼부마켓', '삼성 디지털 프라자', '삼성디지털', '삼성디지털프라자', '삼성전자디지털', '성내동 하이마트',
       '성내슈퍼마트', '세계로마트', '세계로마트(세움테크사옥)', '수유시장', '슈퍼마켓', '신도림테크노마트',
       '신세계백화점 영등포점', '썬프라자', '아웃렛마트', '아이마트', '아이파크몰', '압구정갤러리아백화점EAST',
       '엠코중앙마트', '역삼종합시장', '올슈퍼', '와우쇼핑몰', '월드할인마트', '이마트 공항점',
       '이마트 마포공덕점', '이마트 묵동점', '이마트 상봉점', '이마트 성수점', '이마트 월계점', '이마트 은평점',
       '이마트 창동점', '이마트(구로점)', '이마트에브리데이 암사동점', '이마트에브리데이 창동점', '청다담마트',
       '코스트코', '킴스마트(현:이마트 에브리데이)', '토우마트2단지', '푸른솔마트', '하나로마트', '하모니마트',
       '하이마트', '하이마트 구로점', '하이마트 독산점', '하이마트 발산점', '하이마트 상암동', '하이마트공릉점',
       '하이마트빌딩', '하이마트상계점', '하이마트서초점', '현대백화점', '현대백화점 압구정점',
       '현대백화점U-PLEX', '홈플러스 가양점', '홈플러스 강서점', '홈플러스 금천점', '홈플러스 동대문점',
       '홈플러스 목동점', '홈플러스 문래점', '홈플러스 방학점', '홈플러스 시흥점', '홈플러스 신내점',
       '홈플러스 월곡점', '홈플러스 중계점', '(재)대한불교계종유지재단', '(주)대광메디텍', '(주)보점',
       '(주)야놀자', '(주)엠씨피이앤에프', '123전자타운(3동)', '2001아울렛천호점', '2층소매점(다이소)',
       'B2M엔터테인먼트', 'CNT빌딩', 'CT퍼니처', 'DHL', 'DPSR', 'GS슈퍼마', 'H&M',
       'HOLLISER', 'K2', 'KMPLAY', 'KOON WITH A VIEW', 'LG시스템',
       'LG전자(청담점)', 'LG전자베스트샵 길동사거리점', 'LG전자베스트샵 신림점', 'LG패션아울렛',
       'LG 하이프라자', 'LS용산타워', 'MJ빌딩', 'M 빌딩', 'Noon Square', 'Rockn Roll',
       'SKM빌딩', 'SSFW', 'SUNG BLD(승원빌딩)', 'TOM N TOMS COFFEE', 'T avenue',
       'UKK fastening prdnets sales', 'VIEL RYUJIWON ', 'V uittan 빌딩',
       'W빌딩', 'ZARA', 'e-마트 everyday', '㈜부래당', '㈜스포키빌딩', '㈜인텍엔컴퍼니',
       '㈜전자랜드행당점', '가구갤러리', '가든5NC백화점(LIFE관)', '가송빌딩', '강동한신휴플러스',
       '강서뉴타워', '개봉역프라자', '갤러리상 빌딩', '갤러리아백화점WEST(용도변경 및 증축)', '고시텔',
       '공덕e마트(대우월드마크마포)', '공항이마트', '관동마운틴', '광장자이아파트', '광진두산위브파크', '광희빌딩',
       '구기동 근린생활시설', '국제빌딩 (소매점)', '군봉빌딩 ', '그린타운', '근린생활(소매)(낙희빌딩)',
       '근린생활시설', '근린생활시설<소매점>', '근생빌딩', '근생시설', '금사랑투빌딩', '금송리버텔', '기림전자',
       '기옥빌딩', '길음서희스타힐스상가', '나나빌딩', '남강빌딩', '남부그린빌', '남부중앙시장', '남서울빌딩',
       '남영빌딩', '남정빌딩', '내발산동 소매점', '네파', '노블레스빌딩', '노스페이스', '노우빌딩',
       '농협신촌복합건물', '농협창동유통센타A동', '뉴그린', '다모빌딩', '다이소 둔촌점', '대륙빌딩', '대림빌딩',
       '대림상가(통일회관)', '대방동빌딩', '대성빌딩', '대정빌딩',
       '대조동 판매시설 용도변경(대조동아트캐슬주상복합)', '대창빌딩', '대현빌딩(오렌지팩토리의류가게)', '대흥빌딩',
       '더페이스샵', '데코피아', '동서울오네뜨', '동신빌딩', '동아에코빌아파트상가', '동아파크텔', '동영빌딩',
       '동우어패럴', '동욱빌딩', '동일빌딩', '동일하이빌뉴시티상점', '동천제빌딩', '동풍상사', '동해빌딩',
       '동화반포프라자', '두성물산', '듀론빌딩', '드림프라자 A', '드림프라자 B', '디오트', '디지월드',
       '디지컴코리아엠앤엠사옥', '디지털엘지', '라푸마(lafuma)', '레이젠트리(소매점 )', '레이지보이빌딩',
       '로데오27타운(의류잡화점1층)', '롯데마', '롯데마이슈퍼 남현점', '롯데마켓', '롯데마트금천점',
       '롯데마트도봉점', '롯데마트 문정점', '롯데마트 영등포점', '롯데백화점', '루체코리아빌딩', '리더스뷰남산',
       '리첸시아용산A', '리치프라자', '마포트라팰리스아케이드', '만나그레커피', '망 고', '맥도날드 고척DT점',
       '맥스타일', '머렐', '메디스타워', '메이데이㈜', '메카플러스', '메틴빌딩', '명광빌딩', '명문빌딩',
       '명원아웃도어도봉산점', '명일그린스톤', '명진철강<소매점>', '모리나리', '목동홈플러스', '문화빌딩',
       '민속 손국시', '바우하우스', '반도사진관', '발렌타인', '방배아크로타워', '방천프라자', '배가빌딩',
       '벤처인듀', '보고빌딩', '보문하우스토리상가', '봉익동 빌딩', '부윤빌딩', '불로장생타워', '브리티시 스쿨',
       '블랙야크', '사가정문고', '사근동상가주택', '사조로하이빌딩(위너스헬스클럽)', '삼광빌딩',
       '삼성동 신도브레뉴', '삼성디지탈프라자', '삼성 디지털프라자 대치점', '삼성디지털프라자상봉점', '삼성빌딩',
       '삼성빌딩A동', '삼성쉐르빌', '삼성전자강북지점', '삼성플라자', '삼우빌딩', '삼원아트무역㈜',
       '상계아이파크-판매시설', '상암동하이마트', '상진빌딩', '샬롬빌딩', '서울시농수산물공사', '서울패션아트홀',
       '서울 홍삼문화 중국 도자기 박물관', '석전빌딩', '선우불교전시장', '선인모터스', '선인상가',
       '선일전기백화점', '성광', '성보역삼빌딩', '성보하이드로빌딩', '성수동D.S빌딩', '성우빌딩',
       '성원쌍떼빌아파트', '성파빌딩', '성화빌딩', '세림빌딩', '세한빌딩', '세현빌딩', '세화빌딩', '소매점',
       '소매점(정현)', '송파성원상떼빌', '송파주간보호시설', '수협외발산동공판장', '숨빌딩', '스타 미디어',
       '스포엔샤웨딩', '승아', '시몬느아트센터(신축)', '시설물명 미입력', '시티악기', '신구로자이',
       '신도림1차푸르지오', '신동해빌딩', '신세계백화점', '신세계이마트(구로점)', '신승지류유통㈜', '신우빌딩',
       '신일빌딩', '신초원가든', '신풍프라자', '쌍문동LG트윈빌판매시설<1층>', '씨너스서울대역점(에그옐로우)',
       '씨푸드점(오렌지팩토리 의류점)', '아경빌딩', '아리수갤러리', '아웃백스테이크 건물', '아이더', '아이라꾸',
       '아크테리스 ', '안승희헤어뉴스', '압구정갤러리아백화점EAST(증축)', '약산빌딩', '양화진빌딩',
       '에잇세컨즈', '엠에스빌딩', '여명빌딩', '연희동인사이드빌딩', '영동빌딩', '영동프라자',
       '영등포 SK 리더스뷰', '영신빌딩(근린생활시설)', '영원아웃도어', '영일프라자', '영하빌딩<소매점>',
       '영화불렌하임', '예광', '예림가구', '예성빌딩', '예신프라자', '오디바이크매장', '올가홀푸드 ',
       '올림픽선수촌상가', '와이디피㈜', '와이엠프라젠스파', '와이즈빌딩', '와이키즈', '용산 전자랜드',
       '용산토투벨리', '우림빌딩', '우림카이저펠리스', '우면동 55-11', '우영빌딩', '우진 TOOL',
       '우토프라자', '워커힐호텔 본관호텔', '원호빌딩', '월계이마트', '월계프라자', '웰섬',
       '유나이티트 문화재단 빌딩', '유림빌딩', '유성빌딩', '유신산업빌딩', '유정빌딩', '윤당제1빌딩',
       '윤준빌딩', '으뜸빌딩', '은천누리에뜰아파트', '은혜빌딩', '의용빌딩 소매점', '이마트', '이마트상봉점',
       '이마트에브리데이(중복삭제건)', '이마트에브리데이창동점', '이마트창동점', '이문동웰츠타워', '이안강동',
       '이은영모피', '이현빌딩', '인디시티', '인헌빌딩', '일룸 (신일빌딩)', '일천빌딩', '일품신토오리',
       '잉카', '재성빌딩', '전자랜드상봉점', '정가네사람들', '정곡볼링장', '정광빌딩(ELEVELV)',
       '정다운빌딩', '정암빌딩', '제니하우스(제일모직빌딩)', '제스퍼오피스텔', '제일모직아울렛', '제일빌딩',
       '조은빌딩', '주건축물제1동', '준오빌딩,고철남홍삼만들기', '중곡빌딩', '중앙빌딩', '지산리조트미술관',
       '진산빌딩', '진우빌딩', '진현빌딩', '창신동 허브클리닉 타워', '책이랑빌딩', '청담고시텔',
       '치폴라 로쏘(코디센빌딩)', '커피번', '컨벤션별관', '코너스톤 빌딩', '코스탈',
       '코업스타클래스(홈플러스월곡점)', '타래빌딩', '타워팰리스', '타이어월드', '탐라랜드 24시 ', '탑골프',
       '태광빌딩', '태기빌딩(오션파라다이스)', '태연빌딩', '태우그린푸드', '태평넥스빌(지상1,2층)',
       '통큰홍가네', '티파니', '파로스프라자A동', '파로스프라자B동', '파리바게뜨 쌍문사거리점', '파스텔시티',
       '파인힐빌딩', '파크랜드', '판매시설', '퍼스트 역삼빌딩', '평구빌딩', '포도몰(롯데시네마)',
       '프리머스시네마(르네상스복합쇼핑몰)', '하나로빌딩', '하늘빌딩', '하림서울축산물센터', '하이마트발산점',
       '하이프라자', '한국문화정품관', '한국제지', '한국타이어', '한남동 근린생활시설', '한남동 소매점',
       '한남동신성미소시티', '한빛빌딩', '한양유리', '한양특수목재', '한우만', '한원빌딩', '한인트윈빌',
       '함성', '해농빌딩', '해태아파트상가(드림마트)(이마트에브리데이)', '행복한우리교회',
       '현대백화점(증축 및 용도변경)', '현대빌딩', '현대의원,약국', '현대 칼쳐&트랜드(현대백화점 바우티 파크)',
       '현대 프라자', '현도스텐', '형지제2빌딩(카사미아)', '혜성빌딩', '호텔스토리', '홈플러스',
       '홈플러스(가양점)', '홈플러스?신내점', '홈플러스강서점', '홈플러스 영등포점', '화곡빌딩', '화성빌딩',
       '황제빌딩', '흥창빌딩', '희목빌딩'], dtype=object)

화장실 포함된 이름 -> publictoilet

In [54]:
test = reg_name_change(test, "shopping/mart", "화장실", "publictoilet")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 4. public parking

public parking -> publicparking

In [57]:
test = category_sum(test, "public parking", "publicparking")

전체 category 개수
64

이 전 publicparking 해당 category 개수 :
index                      108
category                   108
lat                        108
lon                        108
place_address              108
place_id                   108
facility_available_name    108
facility_is_available      108
place_name                 108
facility_id                108
dtype: int64

이 후 publicparking 해당 category 개수 :
index                      303
category                   303
lat                        303
lon                        303
place_address              303
place_id                   303
facility_available_name    303
facility_is_available      303
place_name                 303
facility_id                303
dtype: int64

전체 category 개수
63

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [60]:
# test[test.category == "publicparking"].place_name.unique()

array(['강서구2-1공영주차장', '공덕1-1공영주차장', '공용주차장', '까치산공영주차장', '남가좌2동 제1공영주차장',
       '대림2동 공영주차장', '대림어린이공원 지하주차장', '도깨비시장공영주차장', '도선공영주차장',
       '독산1동 공영주차장', '독산3동 공영주차장', '동산공영주차장', '등촌동공영주차장', '마천동 공영주차장1',
       '망원1-1공영주차장', '망원2-1공영주차장', '면목2동공영주차장', '면목3.8동공영주차장',
       '면목5동공영주차장', '버티공영주차장', '북아현동 제2공영주차장', '삼성 공영주차장', '상암1공영주차장',
       '서계공영주차장', '서인사마당 공영주차장', '서초3동공영주차장', '성산2-1공영주차장', '손기정체육공원 주차장',
       '송파동 공영주차장', '시흥3동 공영주차장', '시흥4동 공영주차장', '신당2동공영주차장', '신당6동공영주차장',
       '신당사거리공영주차장', '신창동 공영주차장', '암사1동공영주차장(암사4동 공영주차장)', '연희동 제4공영주차장',
       '연희동 제5공영주차장', '연희동 제6공영주차장', '용산2가동 공영주차장', '원신공영주차장',
       '은행나무공영주차장', '장충공영주차장', '조원동공영주차장', '창2동4공영주차장', '천호3동 노외 공영주차장',
       '충현동 제1공영주차장', '충현동 제2공영주차장', '충현어린이공영주차장', '필동공영주차장',
       '홍은1동 제4공영주차장', '홍은2동 제1공영주차장', '홍은2동 제2공영주차장', '홍은2동 제3공영주차장',
       '홍제1동 제2공영주차장', '화곡1-1공영주차장', '화곡7-1공영주차장', '화곡8-2주택가공영주차장',
       '화곡본-1지구공영주차장', '화곡본-2주택가(공영주차장)', 'GM대우', '가산동 공영주차장', '강동정비사업소',
       '경일주차장', '공영주차장', '구의공영주차장', '국사봉주차장', '논현동주차빌딩', '대방동생태주차장',
       '동작갯마을52대', '리츠모터스', '마천동 주차장', '마티스주차장', '명보주차장', '방음언덕형구립주차장',
       '삼성자동차 주차장', '상암공영차고지', '새서울주차장', '서래구립주차장', '서초동주차빌딩현대자동차빌딩',
       '성민주차빌딩', '소공동롯데 주차타워', '스포월드 주차장', '시온산주차장', '시흥4동 효봉 주차장',
       '시흥동주차전용빌딩', '신대방구름주차장', '신대방서광주차장', '신사동제1공영주차장', '암사동 민자 공영주차장',
       '연강원주차장', '우신주차빌딩', '정릉3동공영주차장', '주차장', '창2동 제4공영주차장',
       '천연동 제1공영주차장', '하월곡동주차장', '한누리주차장', '한서공영주차장', '해공공영주차장', '현대모터스',
       '현대자동차주차장', '화곡4-1공영주차장', '화곡본동성당부설주차장'], dtype=object)

화장실 포함된 이름 -> publictoilet

In [59]:
test = reg_name_change(test, "publicparking", "화장실", "publictoilet")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 5. publictoilet 수정사항 없음

In [61]:
# test[test.category == "publictoilet"].place_name.unique()

array(['볏골공원 지하공영주차장(볏골공원화장실에서 변경)', '갈곡리어린이공원 화장실', '개롱공원 공중화장실',
       '곰돌이공원화장실(단지내)', '공중화장실', '공중화장실 14호', '공중화장실 23호', '공중화장실(대방역)',
       '공중화장실(여의도공원)', '공중화장실24호', '공중화장실5호', '공중화장실6호', '공항동 화장실(성당옆공원)',
       '광장시장 공중화장실', '광희동1가시범공중화장실', '까치산공원화장실-(새길상세주소누락)',
       '꽃동네공원화장실(단지내)', '나들이공원화장실(단지내)', '대방동공중화장실', '도화소공원공중화장실',
       '동명근린공원 공중화장실', '동묘공원 공중화장실', '면목5동공중화장실', '목련공원화장실', '무궁화공원화장실',
       '무지개공원화장실(단지내)', '방화근린공원화장실(관리사무실)', '방화제2화장실', '백토공원화장실',
       '봉원공용화장실', '비둘기공원화장실(단지내)', '사자암공중화장실', '사직공원 공중화장실', '삼청공원 공중화장실',
       '상도1동공중화장실', '새락골어린이공원화장실', '새록어린이공원화장실', '서낭당근린공원화장실(관리사무실)',
       '시범공중화장실', '시흥4동시범공중화장실', '신원시장 공중화장실', '신흥어린이공원 공중화장실',
       '아름공원화장실(동양고옆공원)', '어린이대공원후문공중화장실', '역말공원화장실', '연서공원화장실',
       '연화공원화장실', '오금공원인라인장화장실', '을지로7가시범공중화장실', '응암어린이공원 화장실', '장미공원화장실',
       '장위3동공중화장실', '좌월어린이공원 화장실', '초안산공중화장실', '신당 1호 화장실', '동산빌라앞 화장실',
       '남구로역 공중화장실 화장실', '운동장119안전센터 화장실', '훼미리공원 화장실 화장실',
       '오금공원1(관리동) 화장실 화장실', '오금공원2(테니스장) 화장실 화장실',
       '오금공원3(스케이트장) 화장실 화장실', '건너말 공원 화장실 화장실', '개롱공원1(관리동) 화장실 화장실',
       '개롱공원2(놀이터) 화장실 화장실', '학수(현충) 화장실', '동성빌딩 화장실', '석촌레이크빌 화장실',
       '아시아선수촌B동상가 화장실', 'GS석촌주유소 화장실', '잠실주유소(셀프) 화장실', '마천시장 화장실',
       '탄천,장지천 합류지점 화장실 화장실', '인성정보빌딩 화장실', 'KH에너지㈜직영 시흥대로 주유소 화장실',
       '동광석유㈜ 구광주유소 화장실'], dtype=object)

# 6. hospital

general hosplital -> hospital <br/>
hospital 구분에 종합병원도 포함됨

In [ ]:
test = category_sum(test, 'general hospital', 'hospital')

In [63]:
# test[test.category == "hospital"].place_name.unique()

array(['21세기병원', 'A+ 치과병원', 'BMC한방병원', 'GS항외과의원', 'HL의원(선기빌딩)', 'KS병원',
       'MD병원', 'MVP성형외과', 'SMC서울메디칼센터(의원)', 'W병원', '가화정신병원', '강남경희한방병원',
       '강남성심병원', '강남성심병원별관', '강남세브란스', '강남센트럴요양병원', '강남요양병원', '강남을지병원',
       '강남자이 비뇨기과 병원', '강남중앙병원', '강남초이스병원', '강남효병원(고암빌딩)',
       '강동미즈문화센터소아청소년과', '강동미즈여성병원', '강동성모병원', '강동성모요양병원(별관)',
       '강동성모요양병원(신관)', '강동성심병원', '강동센트럴요양병원', '강동연세내과', '강동연세병원',
       '강동한방병원', '강북21세기병원', '강북삼성병원 본관', '강북성모병원', '강북예치과병원', '강북으뜸내과',
       '강북힘찬병원', '강서성모요양병원', '강서성심병원(강서사랑요양병원)', '강서솔병원', '강서연세병원',
       '강서한방병원', '강윤빌딩(윤앤송한의원)', '건강한세상앞선치과병원', '건국대학교병원', '경동요양병원',
       '경찰병원', '경희대학교 의과대학동서신의학병원', '경희의원', '경희인의한의원', '고려새한병원',
       '고려수요양병원', '고운타워(유앤유치과)', '공안과', '관악구보건소', '광동한방병원',
       '광진구 보건소(광진구청제2별관)', '광혜병원', '구로고대병원', '구로고대부속병원장례식장', '구로성심병원',
       '국립의료원', '국립재활원', '굿조인트병원', '기쁨병원(지후빌딩)', '길동노인요양병원(동화빌딩 4,5층)',
       '김&송 유나이티드 성형외과(하늘빌딩)', '김성진 정형외과', '김영수병원(구정빌딩)', '김완호정형외과의원',
       '김인권 성형외과(유덕빌딩)', '김홍일내과', '나누리병원', '낙성대클리닉센터(고려정형외과의원)', '난곡보건분소',
       '날개병원', '날아라정형외과', '네모치과의원(신도타워)', '노블요양병원', '노원보건소', '노원솔요양병원',
       '노원스마트요양병원', '노정형외과', '녹십초한방병원', '누네안과병원', '뉴강서성심병원', '뉴스타트병원',
       '뉴연세 산후조리원', '뉴타운장례식장', '다나병원', '대림성모병원', '대림성모병원 건강검진센터', '대한병원',
       '대항병원', '더 조은병원', '더본정형외과', '더와이즈황병원', '도봉병원 <건강검진센터>', '도봉병원<본관>',
       '도봉병원<신관>', '도봉보건소', '도양라비앙타워빌딩(서울수치과)', '동부요양병원', '동부제일병원',
       '동서울병원', '동서한방병원', '동신병원(구관)', '동신병원신관(동욱빌딩)', '동작경희병원', '동작보건소',
       '드림비뇨기과 피부과', '드림성형외과', '드림요양병원', '라마드레 산부인과', '라온병원(승일뷰티타워)',
       '라피 메딩앙스 정형외과', '로고스치과', '로고스치과병원', '로하스은평효병원', '루시나산부인과',
       '리더스 피부과', '린피부과', '마디병원', '마리아병원', '마리아성모병원', '맑은수병원', '맑음숲한의원',
       '메디아이여성병원', '메디켈센터', '메디파크의원', '메디힐병원별관', '메디힐병원본관', '명지성모병원',
       '명지춘혜병원', '모네여성병원', '모커리 병원(물리치료실)', '모커리한방병원', '목동라테라산후조리원',
       '목동연세병원', '문현치과의원', '문화빌딩(서울수정형외과)', '미병원', '미소진치과', '미자인 의원',
       '미즈메디병원', '밀레니엄차과 병원', '바로선병원', '바른본병원', '바비페이스 병원', '박형근정형외과',
       '반도정형외과병원', '베드로병원(증축 및 대수선)', '베스티안 병원', '베트로병원', '보문효사랑병원',
       '본앤본정형외과', '부민병원', '사랑의 병원', '삼성미래여성병원', '삼성서울병원', '삼성제일병원신관',
       '삼육의료원장례식장', '상계백병원', '상계빌딩(굳쎈정형외과)', '상계정형외과의원', '상쾌한아침외과의원',
       '새길병원', '새보람요양병원', '새빛요양병원(윤빌딩)', '새서울병원', '새움병원', '새한빛병원',
       '새희망병원', '서대문구보건소 천연분소', '서울 참병원', '서울대학교병원', '서울대효병원', '서울미래정형외과',
       '서울밝은세상 안과(한양타운)', '서울백병원', '서울베스트병원', '서울병원', '서울보훈병원', '서울복지병원',
       '서울선병원', '서울성모병원', '서울성심병원', '서울신내요양병원', '서울실버요양병원', '서울연세요양병원',
       '서울외과', '서울요양병원', '서울의료원(강남분원)', '서울장례식장', '서울재활병원',
       '서울적십자병원(장례식장)', '서울정형외과', '서울척병원', '서울팀메이트치과,리뉴미치과(오플란트치과)',
       '서울현대병원', '서울효요양병원', '서초보건소', '석플란트 치과', '선양신경외과(수의원)', '선의노인전문병원',
       '선정신과의원', '선한이웃병원', '성가치과', '성누가의원', '성동보건소', '성바오로관절센터', '성바오로병원',
       '성북보건소', '성북중앙병원', '성수보건분소', '성신병원', '성심고려병원', '성심메디컬의원',
       '성애병원 본관', '성지병원', '세란병원', '세이페병원', '소리의원@강서점', '송도병원', '송파참병원',
       '송파청병원', '수내과', '순천향대학교병원(교수연구동)', '스타병원', '시너지병원', '시립동부병원',
       '시립북부노인병원', '시립은평병원', '시립장애인구강진료센터', '시소모타워(강남물방울치과)', '신아타운(병원)',
       '신우요양병원', '신촌리더스병원', '신촌연세병원', '신촌연세이비인후과(의원)', '신화병원', '실로암안과병원',
       '심청요양병원', '아산병원', '아이디병원', '아이엠치과병원', '아이제이스엠비.산부인과의원', '아이젬산후조리원',
       '아카시아병원', '안강병원', '안세병원', '안정형외과', '양병원', '양병원제2종합검진센터', '양재 최의원',
       '양천보건소', '어린이치과', '에머럴드 빌딩(BK의원)', '에스플란트 치과병원', '에이스정형외과',
       '에이치큐브병원', '여러분병원', '연세SK병원', '연세노블병원', '연세무척나은병원', '연세바른병원',
       '연세방병원', '연세병원', '연세사랑병원', '연세사랑요양병원', '연세사랑정형외과', '연세에덴병원',
       '연세영동병원', '연세웰치과', '연세정형외과', '열린산후조리원', '영동병원', '영등포한방병원',
       '예닮요양병원', '예원요양센터', '오라클피부과', '온누리병원', '올림픽병원', '올림픽정형외과의원',
       '옵티마 성형외과 (보완수정안됨)', '우리들병원', '우이새길병원', '욱현하이브(요양병원)', '웰튼병원',
       '위담한방병원', '유광사병원', '유디 치과의원(현정빌딩)', '유디치과의원', '윤호 함춘 병원',
       '을지병원(본관동)', '을지병원(의료동)', '을지병원(행정동)', '의료시설(신애요양병원)',
       '의료시설(참좋은치과)', '이너스치과병원', '이대목동병원 병원동', '이성복치과', '이엘치과의원', '이영수의원',
       '이지애 성형외과 병원', '이지펠리스(한걸음병원)', '인애가병원', '인애가한방병원(우신향한방병원)', '인정병원',
       '인화재활병원', '자생한방병원(대경프라자)', '장스여성병원', '제일병원(본관)', '제일정형외과의원',
       '조앤조병원', '종로보건소', '주영빌딩(가족사랑정신과의원)', '중구보건분소청사', '중구보건소청사',
       '중랑프라임병원', '중앙대학교병원', '중앙병원장례식장', '차병원(별관)', '참사랑병원', '참소망의원',
       '참요양병원', '참포도나무병원', '창동제일의원', '천사병원', '첫단추조산원', '청구성심병원',
       '청박메디미의원', '청산입시학원(청산빌딩튼튼병원)G8-F2', '청솔한의원', '청플란트치과', '청하병원',
       '최수년 산부인과(의원)', '최차혜병원', '최차혜병원치과', '친구병원', '코리아병원', '퀸스메디산부인과',
       '큰누리메디컬센터', '큰사랑노인전문병원', '태릉마이크로병원', '튼튼병원', '튼튼병원(용도변경)',
       '튼튼성모정형외과의원', '파워스빌딩(린산부인과 입원동)', '편강한의원', '포근한노인전문 병원',
       '포근한맘요양병원', '하나 이비인후과 병원', '하나효요양원', '하이트 치과의원(쌍봉빌딩)',
       '학교법인 인제학원 인당관', '한강성심병원', '한강성심병원별관1', '한강성심병원별관2',
       '한국원자력의학원자력병원', '한누리치과병원', '한마음종합클리닉', '한맘 플러스 병원', '한서병원',
       '한성빌딩(규림한의원)', '한양대병원', '한일병원', '햇빛여성전문병원', '햇살가득한가정의학과의원',
       '행복한병원(삼부빌딩)', '현대프라자(의원)', '현산부인과', '혜담요양병원', '혜당한방병원', '혜민병원',
       '호산산부인과', '홍익병원본관', '화곡보건분소', '화인웰산후조리원', '황세영산부인과(더와이즈병원)',
       '효인병원', '희명병원', '힘찬병원', '(주)승산디앤아이', '1st 퍼스트 에비뉴 타워', '2431빌딩',
       '2층산후조리원', '4층의원', 'ANG클리닉', 'BK동양 성형외과 빌딩', 'BUTAYA(포도빌딩)',
       'CH빌딩(유기농 전문매장)', 'EBM 통합의학', 'FINE TOWER', 'GMF빌딩', 'H&DE 빌딩',
       'HM타워', 'K&S빌딩', 'K - TOWER', 'KBL빌딩', 'K타워(용도변경)', 'MGL블루핀타워',
       'MH빌딩', 'M타워', 'kts빌딩', '㈜교육지존(원방빌딩)', '㈜귀뚜라미보일러 사옥빌딩', '㈜연합충무',
       '가나빌딩', '가양프라자', '강남제일빌딩', '강남지웰타워2', '강동미즈문화센터', '강락빌딩',
       '강변역지너스타워', '강북우리들병원', '강서메디컬센터', '강한미크리닉빌딩', '갤러리JC', '거묵빌딩',
       '겔릭스빌딩', '경신빌딩', '고려수요양병원 금천점', '고려정형외과의원', '공무원연금공단',
       '관악농협낙성대역지점', '관악농협보라매점', '광명빌딩', '광일빌딩', '광진타워빌딩',
       '구산동 1종근생 용도변경', '구정빌딩', '국민은행쌍문북지점(4층 의원)', '굿모닝시티 쇼핑몰',
       '규림한의원?목동점', '그레이스', '그림바우', '근린생활시설', '금강제화', '금영빌딩',
       '기업은행(6층 병원)', '김밥나라(수지빌딩)', '까사아레떼', '나은빌딩', '난곡프라자', '남성프라자',
       '남전빌딩', '노벨빌딩', '노블리움오피스텔', '누네안과병원 서울병원', '누드존빌딩', '뉴연세산부인과',
       '능동빌딩', '다모아빌딩', '답비뇨기과', '당산동 대정프라자', '당산빌딩', '대덕프라자', '대동빌딩',
       '대림공인중개사사무소', '대성빌딩', '대소빌딩', '대승빌딩', '대우베네스티', '대원빌딩',
       '대조동 근린생활 신축', '대준산업주식회사', '대창빌딩', '대창빌타운', '대한미용사회중앙회', '대호아이알',
       '더퀸산후조리원', '데미안빌딩', '도봉병원<건강검진센터>', '도양빌딩', '동남빌딩', '동부센트럴요양병원',
       '동서빌딩', '동서울호텔', '동신빌딩', '동아빌딩', '동양빌딩', '동일코아루센타시아 상가', '동주빌딩',
       '두레빌딩', '등촌동 병원', '따스한봄날처럼', '라테라앤송파산후조리원', '로이어즈타워',
       '롯데시네마(구 씨티극장)', '루비나빌딩', '르메이에르강남타운1차주상복합', '리벨로빌딩', '리젠메디컬타워',
       '마스터인터내셔널', '만택빌딩', '메디칼빌딩(의원)', '메트리얼빌딩', '명덕빌딩', '명성빌딩', '명지성묘',
       '명지성묘 별관', '모창빌딩', '목동RICHSQUARE', '목동비즈타워', '목동썬텍씨티빌딩(스타벅스건물)',
       '목동자생한방병원', '미사랑빌딩', '미주메디컬 빌딩', '밀레니엄차과 병원 ', '반포자이중심상가',
       '방재예다인프라자', '배윤자요리학원', '백동빌딩', '베스티안 서울병원', '보성빌딩', '봉천동 업무시설',
       '부원빌딩', '비즈센터', '사랑의소리산후조리원', '사학연구회', '산후조리원웰빙센타', '삼보빌딩', '삼성생명',
       '삼안빌딩', '삼용빌딩', '삼전솔하임', '삼정빌딩', '삼흥빌딩', '상계빌딩(굳센정형외과)', '상록빌딩',
       '상쾌한아침외과', '샬롬빌딩', '서남프라자', '서울내과', '서울 메디칼센터 ', '서울 학동빌딩', '서전빌딩',
       '서평빌딩', '석봉빌딩', '석촌동근린생활시설', '선샤인빌딩', '선진빌딩', '선한빌딩', '성담빌딩',
       '성락빌딩', '성북성심빌딩', '성원빌딩', '세명빌딩', '세이브마트', '세종빌딩', '센트럴타워', '셈프레팜',
       '솔레드림', '송암빌딩', '송화쇼핑센터', '수영빌딩', '시계탑빌딩', '시그마팰리스(2,3층 의원)',
       '시너지정형외과병원', '시설물명 미입력', '시티월드', '신림동 근린생활시설', '신방빌딩', '신정플라자',
       '신진빌딩', '신포빌딩', '심포니타워', '쌍용플래티넘리버오피스텔', '썬프라자', '아이제이스엠비 산부인과의원',
       '안석빌딩', '안세빌딩', '안타워', '약봉빌딩', '약수JK빌딩', '어반캠프츠빌딩', '어반하이브',
       '언고신관', '에머랄드', '에벤에셀프라자', '에스메디센터(동민빌딩)', '에스에스마트', '에스엠메디칼',
       '엠에스빌딩', '엠제이빌딩', '연당빌딩', '연세에덴요양병원', '연세재단세브란스빌딩', '연한빌딩', '영남빌딩',
       '영진빌딩', '영진오피스', '영창빌딩', '예경빌딩', '예사랑교회', '오가닉스타워(광제한의원폐업)',
       '오륜빌딩', '용천빌딩', '우리들메디빌딩', '우성상가', '우장빌딩', '운산빌딩', '원빌딩', '원익빌딩',
       '월드컵파크 프라자', '웰빙메디칼빌딩', '웰빙센터', '유네스코회관', '유림빌딩', '유문빌딩', '육일빌딩',
       '윤강', '의원', '의원(세일빌딩)', '의원(수락프라자)', '의원빌딩(화곡메디칼)', '이스트만빌딩',
       '이펜하우스타워', '인앤인오피스', '일주빌딩', '장안빌딩', '정산타워빌딩', '정암빌딩', '정우 빌딩',
       '정진빌딩', '제1종근린생활시설-의원', '제성빌딩', '제이슨빌딩', '제일빌딩', '조이빌딩', '조인트 병원',
       '주류성빌딩', '주원21빌딩', '중앙빌딩 ', '진넥스베르디엠', '진성빌딩', '차병원 줄기세포 치료연구센터',
       '청수프라자', '청하빌딩', '청호빌딩', '청화빌딩', '카리스빌딩', '케이지티시빌딩', '코리아비지니스센터',
       '코스모타워', '키스톤 빌딩', '타임빌딩', '태승빌딩', '태흥빌딩', '터미널전자상가', '토림건설',
       '트라이엄프메딕스빌딩', '티타운빌딩', '파인블루빌딩', '페이토빌딩', '페트라빌딩', '포스코메디칼',
       '포에버21', '푸마', '풍전빌딩', '프린스타워', '플라망스타워', '필하우스', '하나은행빌딩', '하늘빌딩',
       '하바나빌딩', '하이원빌리지(원불교수도원)', '한국건강관리협회', '한국국제퀼트본부', '한마음빌딩',
       '한맘플러스재활의학과의원', '한미빌딩', '한상옥', '한승빌딩', '한양빌딩', '한얼메디프라자', '한일빌딩',
       '해맑은미소', '햇살요양병원', '현대크리닉빌딩', '현빌딩', '호경빌딩', '호서빌딩', '호원프라자',
       '호정빌딩', '홍빌딩(더스틴뷰티아카데미)', '홍제빌딩', '화경', '화성빌딩', '황학 아크로타워', '훈민빌딩',
       '훼미리샤르망', '휴먼타워', '힐 헤븐'], dtype=object)

화장실 포함된 이름 -> publictoilet

In [62]:
test = reg_name_change(test, "hospital", "화장실", "publictoilet")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 7. publicinstitution

In [86]:
# test[test.category == "publicinstitution"].place_name.unique()

array([], dtype=object)

포함시키지 말아야 할 것 (나중에 삭제)

In [84]:
test = reg_name_change(test, "publicinstitution", "지사", "delete")

In [67]:
test = reg_name_change(test, "publicinstitution", "공단", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

보건소,  보건복지부 -> health center

In [68]:
test = reg_name_change(test, "publicinstitution", "보건소$", "health center")

In [69]:
test = reg_name_change(test, "publicinstitution", "보건", "health center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

우체국 -> post office

In [71]:
test = reg_name_change(test, "publicinstitution", "우체국", "post office")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

지구대, 경찰서, 파출소, 청사, 치안센터-> police station

In [72]:
test = reg_name_change(test, "publicinstitution", "경찰서", "police station")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [74]:
test = reg_name_change(test, "publicinstitution", "지구대", "police station")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [76]:
test = reg_name_change(test, "publicinstitution", "파출소", "police station")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [77]:
test = reg_name_change(test, "publicinstitution", "청사", "police station")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [78]:
test = reg_name_change(test, "publicinstitution", "치안센터", "police station")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

동사무소, 주민센터, 센터$, 구청 -> community service center

In [79]:
test = reg_name_change(test, "publicinstitution", "주민센터", "community service center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [80]:
test = reg_name_change(test, "publicinstitution", "동사무소", "community service center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [81]:
test = reg_name_change(test, "publicinstitution", "센터", "community service center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [82]:
test = reg_name_change(test, "publicinstitution", "구청", "community service center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [85]:
test = category_sum(test, "publicinstitution", "delete")

전체 category 개수
64

이 전 delete 해당 category 개수 :
index                      58
category                   58
lat                        58
lon                        58
place_address              58
place_id                   58
facility_available_name    58
facility_is_available      58
place_name                 58
facility_id                58
dtype: int64

이 후 delete 해당 category 개수 :
index                      204
category                   204
lat                        204
lon                        204
place_address              204
place_id                   204
facility_available_name    204
facility_is_available      204
place_name                 204
facility_id                204
dtype: int64

전체 category 개수
63

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 8. bank

In [87]:
# test[test.category == "bank"].place_name.unique()

array(['W저축은행', '국민은행건물', '기업은행', ..., '힐튼호텔', '석수상가 화장실', '伯林빌딩'],
      dtype=object)

In [88]:
# test[test.category == "bank"].head()

,index,category,lat,lon,place_address,place_id,facility_available_name,facility_is_available,place_name,facility_id
6442,6599,bank,37.49679610000001,127.0559334,서울특별시 강남구 도곡로 414,11777.0,주출입구 높이차이 제거,이용가능,W저축은행,106283
6443,6598,bank,37.49679610000001,127.0559334,서울특별시 강남구 도곡로 414,11777.0,장애인 전용 주차구역,이용불편,W저축은행,106282
6444,6597,bank,37.49679610000001,127.0559334,서울특별시 강남구 도곡로 414,11777.0,주출입구 접근로,이용불편,W저축은행,106281
6445,6601,bank,37.5337474,126.958801,서울특별시 용산구 원효로 138,11779.0,주출입구 접근로,이용가능,국민은행건물,106284
6446,6602,bank,37.5337474,126.958801,서울특별시 용산구 원효로 138,11779.0,장애인 전용 주차구역,이용가능,국민은행건물,106285

화장실 포함된 이름 -> publictoilet

In [89]:
test = reg_name_change(test, "bank", "화장실", "publictoilet")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

호텔 -> hotel

In [90]:
test = reg_name_change(test, "bank", "호텔", "hotel")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

포함시키지 말아야 할 것 (나중에 삭제) 오피스텔

In [91]:
test = reg_name_change(test, "bank", "오피스텔", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [92]:
test = reg_name_change(test, "bank", "흥인아이젠", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [93]:
test = reg_name_change(test, "bank", "휴브리지", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [94]:
test = reg_name_change(test, "bank", "휴먼빌", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [95]:
test = reg_name_change(test, "bank", "빌딩", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [96]:
test = reg_name_change(test, "bank", "타워", "delete")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [97]:
test_list=['(주)동아일보사',
       '(주)메트로신문사', '(주)서울비젼', '(주)시아인베스트', '(주)씨엔에스레지던스', '(주)툴스텍경복',
       '2차대림아크로빌', '88체육관', 'A&D 엔지니어링', 'APP㈜국제운송사무소', 'A탑', 'BR엘리텔A동',
       'BizWell성수', 'CASA BIANCO', 'CENTRAL PLACE', 'CJ드림씨티 A동 ',
       'CJ드림씨티 B동 ', 'CU 신사가로수길점', 'E테크벨리', 'FERRUM TOWER', 'FIN TOWER',
       'FNC ENTERTAINMENT', 'GREEN HILL', 'GRUBIG ', 'HANASAINT.STONE',
       'HEY NEST', 'Hizen 학원','IBTOWER', 'IP TOWER',
       'I park(상가)', ' JS TOWER', 'JS앤드F', 'K.W.E', 'KAO KAO', 'KCC파크타운',
       'KGIT한독산학협동단지(C-4Block)', 'KR-TOWER', 'KT', 'KT&G', 'KT&G 강남지사',
       'KT&G 영등포지사', 'K T F', 'KTIS', 'KT 강북지사', 'KT개봉지점', 'KT반포지사',
       'KT 업무시설(사무소)', 'KT용산지점', 'KT월곡지점', 'KT자산개발센터', 'KT청량리지점',
       'LGCNS상암IT CENTER', 'LG베스트샵(모바일서비스센터)', 'LG전자 강서서비스 센터',
       'LG전자베스트샵서비스센터', 'LG패션 서관', 'LK사옥', 'LLG패션 별관', 'M-SPACE',
       'METRO구로센터', 'M TOWER', 'OPUS 11', 'PARKSIDE', 'POBA 행정공제회',
       'S-OIL 사옥', 'SG연기 아카데미', 'SK Telecom 성수사옥', 'SK네트웍스', 'SK허브그린',
       'SR스타빌', 'SUN JIN ENG', 'THE PARK 365', 'THE REPOSE', '㈜도서출판넥서스',
       '㈜ 동호프라자1', '㈜미래세움', '㈜비츠로시스', '갈월동 업무시설', '갈월동 오피스(한진중공업)',
       '강남YMCA', '강남구 재활용센터', '강남아르누보씨티', '강남 파이낸스센터', '강님태영데시앙루브',
       '강동상떼빌', '강동성심병원3별관', '강동성심병원별관', '강북물류센터(DHL)', '강북지역전력설비관리동',
       '강서교회', '강서구시설관리공당', '강서 동도센트리움 141동', '강선환', '강일큐브', '강행성',
       '갤러리아팰리스', '거구장', '거성리젠시', '건우캐스텔', '경동엠파이어스테이트', '경동운수', '경승무역',
       '경해실업㈜', '고려한백', '골드하이츠', '골프존R&D센터', '공감대주상복합아파트', '관악맥스텔',
       '관악시티빌',  '광남제니텔', '광남캐스빌(아)', '광선유니버스텔A', '광신엔터프라이즈',
       '광진구 구의동 성현교회', '광진트라팰리스', '교보생명', '구로등기소', '구의아크로리버', '구찌(신축)',
       '국가보훈처(광복회관)', '국립산림과학원', '국민건강보험공단', '국제자산신탁(주)', '국제항운', '그랑드빌', '그레이스빌',
       '그린빌파크', '그린하이클라스빌', '극동방송', '근린생활시설', '근상프리즘', '글로벌 미디어 콘텐츠센터 ',
       '금강블루', '금산플레이버', '금융업소', '금천전화국', '기독교복음방송', '기산전자사옥','길동청광플러스원큐브1차',
       '길훈앤트런스빌', '김정덕외 4인', '까치산하우스', '꿈이가득한집', '나종자', '남산 롯데캐슬 아이리스',
       '남산센트럴 자이', '남산트라팰리스','남서울실업㈜', '남신원룸', '남양약품',
       '네오라이프', '네오레지덴텔', '네오빌', '네티션닷컴별관동', '넥서스벨리', '넥스빌I', '넥스빌II',
       '넥스빌III', '노들리안 오피스텔1', '노들리안 오피스텔2', '노블레스 빌', '노블레스빌', '노블리안',
       '노빌리안골드', '노원마블러스 오피스텔2', '농심', '농협(중계동지점)', '농협 관악신우지점',
       '농협로데오지점', '농협문화재단', '누가 베스트', '다락원사옥 ', '다빈치', '다솔미가', '다음빌',
       '당산랜드빌', '대교', '대동 피렌체리버', '대림역 와이즈플레이스', '대명랜드마크', '대선스틸',
       '대승프린스텔', '대우디오빌', '대우디오슈페리움A', '대우미래사랑2차', '대우미래사랑3차 141동',
       '대우 이안', '대우이안 1', '대우이안 2', '대우증권', '대웅제약 본관동', '대원아크로빌',
       '대원제약사옥', '대진레지던스-조사불가 시설잠김 연락처없음', '대학캠퍼스텔', '대한건축학회 건축센터',
       '대한제지㈜ 사옥', '대한치과의사협회회관', '대호아이피개발(주)', '덴탈프라자', '도로교통공단 본부',
       '도림하이츠빌', '도일산호시티빌', '독일교회', '돈암메트로빌', '동광동대문베르빌', '동광리버하임',
       '동교동 와우재', '동남드림빌주상복합', '동대문등기소', '동대문패션비즈센터', '동도센트리움', '동림오벨리스크',
       '동보흥업', '동부디아이빌', '동아일보미디어센터', '동아제약 구관 신사옥', '동아제약 본관', '동아타운21',
       '동양증권', '동양한강트레벨', '동영문화센터', '동우사우나', '동인 레반트', '동인쉐르빌',
       '동일(국민은행)', '동일하이빌', '동작새마을금고', '두산위브센티움', '두산위브파빌리온', '두성종이주식회사',
       '등촌동 업무시설', '디아뜨센트럴', '뚝섬리버빌', '라이온스톤', '락앤락본사', '레이노코리아',
       '레지던스o/p', '로얄샤르망', '로얄팰리스 스위트', '롯데마트건물', '롯데우유㈜본사', '롯데캐슬',
       '루첸티', '르네상스빌주상복합', '르노삼성자동차 도봉사업소', '리버마이다스빌', '리베로 오피스텔2차',
       '리빙프라자(주)', '리스빌', '리앤나빌리지', '리오베', '마미앤토리', '마에스트로', '마이죤', '마이홈',
       '마포공덕파크펠리', '마포로얄플라자', '마포태영데시앙', '마포현대하이엘', '메르드뱅', '메이준', '메이찬',
       '메트로', '메트로디오빌', '메트로팰리스', '멤버스뷰', '명륜프라자', '명인고시텔', '명지 페르마타',
       '명지한강빌드웰', '모투스 엔 실버불렛 사옥', '목동트라펠리스(금융업소)', '문래아카데미', '문래임광그대가',
       '문래파라곤 141동', '문래파라곤 241동', '문정', '미디어센터', '미래에셋생명', '미래에셋 센터원',
       '미래에셋증권 도곡지점', '미래지오', '미성드림투유', '민병원', '민스빌', '민족통일 대통령 리빙텔',
       '밀레니엄스텔', '밀레오레명동', '밀리오레', '바비엥-2', '바비엥3', '방배디오슈페리움1', '방배리더스빌',
       '방이동근린생활시설', '백세인터내셔널사옥', '백세주 마을(국순당)', '백운매트로엔', '백화점약국', '법률센터',
       '법조타운', '베로니스 타운', '베스트빌', '베스트 트레드빌', '보브역삼동사옥', '보육사',
       '본베스트정형외과의원', '부국증권', '부귀영전', '부띠끄모나코', '부래당', '부르다문', '부암동 업무시설', 
    '북한연구소', '뷰티플라워', '브라운스톤서초',
       '브라운스톤연희', '브라운스톤 천호', '브라운스톤 화양', '브라운힐', '브리티시아메리칸토바코', '블루밍하우스',
       '비버리캐슬', '비앤비빌리지', '비즈트위트그린', '비즈트위트 블루', '빅하이텔', '사무소',
       '사직동 새마을금고', '산들파크빌1', '산들파크빌6', '살구벽돌', '삼능스페이스향', '삼부르네상스',
       '삼부르네상스플러스', '삼성골드캐슬', '삼성디지털', '삼성본관', '삼성생명', '삼성생명장안동사옥',
       '삼성전자대리점', '삼성전자디지털센터', '삼성전자서비스 관악센터', '삼성출판사', '삼성파크빌',
       '삼성화재 본사사옥', '삼성화재 영등포사옥', '삼성화재해상보험', '삼양사', '삼영익스프레스',
       '삼익전자 공업 주식회사', '삼전솔하임 2차', '삼정스카이', '삼진제약사옥', '삼형캐슬', '새롬스타빌','생모리츠타운', '샬렛스위스', '서광프리메라주상복합', '서안이지텔', '서울E&T',
       '서울도시가스㈜', '서울도시가스사옥', '서울디지털드림타운', '서울메트로 동대문별관', '서울문화재단',
       '서울석유', '서울스퀘어', '서울 스타르호텔 별관', '서울시메트로호선', '서울시버스노조회관', '서울오토갤러리',
       '서울유니버스텔', '서울이동통신사옥', '서울지방노동청서울관악지청', '서울축협청사', '서초대우디오빌',
       '서초동145-2', '서초레몬', '서초신성미소시티', '서초타운트라팰리스', '서희스타힐스', '서희 스타힐스',
       '석원산업', '선원 오피스', '선일크라시아', '성강에코텔', '성동샤르망', '성문개발', '성현교회 선교센터',
       '세계일보', '세방글로벌시티', '세양아르비체141동', '세양아르비체142동', '세종프라자', '센트럴빌',
       '센트레빌아스테리움 용산', '솔앤시티오피스텔?주차장', '송파오라클', '송현나이스빌', '수락네스트죤',
       '수운회관', '스위트가든빌라', '스위트빌', '스쿨룩스', '스퀘어빌', '스타갤러리브릿지', '스타벅스합정역점',
       '스타비안사우나', '스페셜 라이즈드', '스페이스엠', '스포월드', '스포츠조선', '시설관리공단',
       '시설물명 미입력', '시아루비움', '시티뷰3차', '신공덕오피스텔(센타빌)', '신도림3차푸르지오',
       '신동아하이팰리스', '신라FNC(주)', '신명스카이뷰', '신성미소씨티','신원메트로빌', '신일', '신창비바패밀리', '신촌가이아', '신촌 르·메이에르타운V','신흥메트로', '써니하우스', '썬앳푸드', '씨제이제일제당센터',
       '아마넥스㈜', '아메리카 스텐다드', '아셈회관', '아스테리아', '아스트라', '아시아텍스타일', '아싸컴',
       '아우디서초센터', '아우디 전시장', '아울빌리지(두양오피스텔)', '아이스카이 네트웍스', '아이엔지 센터',
       '양재동67-2', '양재역환승주차장', '양평동 우림 비즈센터', '어위쉬예다인', '업무시설','업무시설(사무소)', '업무시설(사무실)', '에이스에어존', '에이스에이존',
       '에코넷센터', '에프투텔레콤사옥', '엘리어트하우스', '엘리지움', '엘베스트빌', '여선교회관', '여성미래센터',
       '여의도 더', '여의도의아침', '여촌', '역삼 이스타빌', '연희체스트빌', '영광교회', '영등포가 교회',
       '영등포구청환승주차장', '영우빌라텔', '예가크레시아', '예금보험공사', '예림출판문화센터', '예성라온팰리스',
       '예성라온펠리스', '예신퍼슨스', '오드리스튜디오', '오라클피부과', '오릭스증권', '오벨리스크', '오크벨리',
       '오피스텔리움', '오피스텔 에스빌', '오피앙 ', '오피앙', '오피앙2', '옥스포드하우스', '온리정보통신',
       '올레플라자 용산점', '올리브오피스텔1', '올리브오피스텔2','업무시설(사무소)', '업무시설(사무실)', '에이스에어존', '에이스에이존',
       '에코넷센터', '에프투텔레콤사옥', '엘리어트하우스', '엘리지움', '엘베스트빌', '여선교회관', '여성미래센터',
       '여의도 더', '여의도의아침', '여촌', '역삼 이스타빌', '연희체스트빌', '영광교회', '영등포가 교회',
       '영등포구청환승주차장', '영우빌라텔', '예가크레시아', '예금보험공사', '예림출판문화센터', '예성라온팰리스',
       '예성라온펠리스', '예신퍼슨스', '오드리스튜디오', '오라클피부과', '오릭스증권', '오벨리스크', '오크벨리',
       '오피스텔리움', '오피스텔 에스빌', '오피앙 ', '오피앙', '오피앙2', '옥스포드하우스', '온리정보통신',
       '올레플라자 용산점', '올리브오피스텔1', '올리브오피스텔2','용산구선거관리위원회',
       '용산시티파크1단지', '용산시티파크2단지', '용산씨제이나인파크', '용산파크자이 상가', '용성비즈텔',
       '우남네오풀리스', '우남하우징','우림보보카운투비',
       '우신하이랜드', '우원실업', '워터게이트', '원능프라자', '원룸', '원평11차', '원평빌라트 6차',
       '웰빙타운', '위너스텔', '유니베라관악대리점', '유니세프한국위원회', '유니텔전자', '유림하이빌',
       '은평구평생학습관', '을지전화국', '을지회관', '이랜드 신촌사옥 ', '이스타빌', '이스타팰리스',
       '이스트타운', '이안상암1단지 센트럴몰 한독산학협동단지', '이안용산프리미어', '이즈빌',
       '인의동 한국교직원공제회', '인택스파크뷰', '인터엠', '인텔지펠리스', '일(밀)양택배', '일반업무',
       '일신건영휴먼테크', '일조그린빌', '일진자동차', '장안현대벤처빌', '장애인기업문화센터', '장우오피스텔건물',
       '재호예양빌', '전국교수공제회 서울회관', '전국자동차노동조합', '전국자동차운전전문학원연합회관', '전자회관',
       '정도트윈빌141동', '정도트윈빌142동', '정보통신공제조합', '정암하이빌', '정연지오빌II',
       '정연지오빌 김용록외 1인', '정우금속공업', '정호빌라트', '제노비아', '제니코식품', '제이원하이텔',
       '제일니트', '제일모직건물', '제주탐라영재관', '젠틀몬스터', '종로1가 대성스카이렉스주상복합', '종로 엠스쿨',
       '종로플레이스', '종인아네스트', '좋은사람 좋은집', '좋은책 신사고', '주) Tbroad 방송',
       '주)삼성전자염창동사옥', '주식회사LG패션', '주식회사쓰리에소프트', '주식회사쿠지인터내셔널', '주양쇼핑',
       '주택.근린생활시설', '중구종합복지센터', '중림동새마을금고', '중소기업중앙회', '중앙시티빌', '중앙일보구관',
       '지산타운', '지에스 한강에클라트', '지엔코', '지오베르크', '지지무역', '진산스텔', '진양제약사옥',
       '진학회관', '참존대치사옥', '참존어페럴', '창덕에버빌', '철록헌', '청계아르테미스', '청솔펠리스',
       '청우식품사옥', '청일 베르네', '최병만 외 1인', '최신물산', '출입국관리사무소', '충정리시온',
       '칸타빌레', '캠퍼니안', '케이티앤지성동지점', '코리아리스치', '코리아씨디앤씨', '코스모그린',
       '코업레지던스', '코오롱 스타폴리스', '코지펠리스', '큐브플러스', '크라운 본관', '크레신사옥', '크로바텔',
       '클래티드', '키움건설', '킹오토', '타베루', '태림빌', '태양', '태양 21', '태영약품',
       '토마토파르코', '토방트윈빌 A', '토방트윈빌 B', '트라비하우스', '트라움빌', '티제미디어㈜',
       '파라다이스텔', '파인에비뉴', '팔레시움', '팬트라우스', '포레비떼', '풍림아이원', '풍림아이원플러스',
       '풍산개발', '프라임팰리스', '프리마리버텔', '피앤디솔로빌', '피엔폴루스(대수선)','하늘담',
       '하우스텔 숙', '하이리빙 본사 사옥', '하이마트 영등포구청점', '하이베라스', '하이프라자 ', '하임Ⅱ오피스',
       '하임오피스', '한강로 대우아이빌', '한강로벽산메가트리움', '한강시티라이프', '한강포스빌', '한강현대하이엘',
       '한강훼미리', '한국가정법률상담소', '한국겔럽조사연구소', '한국고등교육재단', '한국교직원공제회',
       '한국노총 중앙근로자 복지센타', '한국문구공업협동조합', '한국방송회관', '한국산업공단',
       '한국산업단지공단 서울지역본부(키콕스벤처센터)', '한국섬유산업 연합회', '한국소방안전협회', '한국승강기안전관리원',
       '한국아이비에스', '한국야금사옥', '한국여자농구연맹', '한국원자력문화재단', '한국음악저작권협회',
       '한국정보통신공사협회', '한국조폐공사', '한국 콘텐츠 진흥원', '한나산부인과', '한남동 업무시설',
       '한디예건㈜', '한려옥(대조동르네상스오피스텔)', '한미석유', '한밭법조타운', '한성디자인모델', '한성메르디앙',
       '한성모터스', '한성하우징', '한스빌', '한스위트', '한승아스트라2', '한아름쇼핑센터', '한양수자인',
       '한양증권', '한웰', '한일써너스빌', '한청실업(주)', '한화오벨리스크스위트', '해광', '해찬행복드림',
       '해커스 어학원', '햄 하우스', '행복나눔재단', '행복미래교육원', '허브닥터', '허브원', '현대드림밸리',
       '현대렉시온', '현대백화점인재개발원', '현대싱그런', '현대캐피탈 양재사옥', '현대토픽스',
       '현대폴라트리움주상복합', '현대 해상', '현대해상강서사옥', '현대홈시티1', '호림아트센터', '화성시장학관',
       '화인리더스', '화인벨라까샤', '화인시스템', '황금프라자', '황학동 코아루', '효성벤츠 강남전시장',
       '휴게음식점(문샤인)', '희경']

In [98]:
for row in test_list:
    test[(test.category == "bank")] = test[(test.category == "bank") & (test.place_name != row) ]

# 9. gym

stadium -> gym

In [101]:
test = category_sum(test, "stadium", "gym")

전체 category 개수
63

이 전 gym 해당 category 개수 :
index                      45
category                   45
lat                        45
lon                        45
place_address              45
place_id                   45
facility_available_name    45
facility_is_available      45
place_name                 45
facility_id                45
dtype: int64

이 후 gym 해당 category 개수 :
index                      80
category                   80
lat                        80
lon                        80
place_address              80
place_id                   80
facility_available_name    80
facility_is_available      80
place_name                 80
facility_id                80
dtype: int64

전체 category 개수
62

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [102]:
# test[test.category =="gym"].place_name.unique()

array(['K-2타워', '강남구민체육관', '개운산 스포츠센터 성북구의회', '골프장', '관악구민종합체육센터',
       '구민회관 ', '국사봉체육관', '렉서스서비스센터(SBS등촌골프)', '밀라트빌딩', '사당문화회관',
       '시립창동운동장 및문화체육센터', '신림다목적체육센터', '염리 제2공영 주차장 내 체육시설 ',
       '용산문화체육센터(원효로1동주민센터 별도)', '은평구민체육센터', '중랑구민체육센터'], dtype=object)

# 10. hotel

tourist hotel -> hotel

In [103]:
test = category_sum(test, 'tourist hotel', 'hotel')

전체 category 개수
62

이 전 hotel 해당 category 개수 :
index                      1236
category                   1236
lat                        1236
lon                        1236
place_address              1236
place_id                   1236
facility_available_name    1236
facility_is_available      1236
place_name                 1236
facility_id                1236
dtype: int64

이 후 hotel 해당 category 개수 :
index                      2340
category                   2340
lat                        2340
lon                        2340
place_address              2340
place_id                   2340
facility_available_name    2340
facility_is_available      2340
place_name                 2340
facility_id                2340
dtype: int64

전체 category 개수
61

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [110]:
# test[test.category =="hotel"].place_name.unique()

array(['신라호텔', '(주)관전인베스트먼트', 'Ditto HOTEL', 'FIRASER SUITES', 'IMI호텔',
       'IMT호텔', 'JJ호텔', 'K.S텔', 'M.BIZ호텔', 'MIND관광호텔', 'Moon 호텔', 'M모텔',
       'M호텔', 'NINETH 호텔', 'NYX  HOTEL', 'R호텔', 'SHOW모텔', 'SM호텔',
       'The View ', 'Uni모텔', 'W호텔', 'Y모텔 ', 'cs모텔', '㈜오일관광풍전호텔', '가락관광호텔',
       '가야호텔', '갤러리모텔', '갤러리아호텔', '갤러리 호텔', '경남관광호텔', '고궁호텔',
       '공원관광호텔-조사거부', '관광숙박시설', '관광숙박시설(더엠호텔)', '관훈동 관광숙박시설', '구로호텔',
       '굿타임호텔', '그랜드힐튼호텔', '그리스(구 스카이)', '그린월드호텔', '근생및관광숙박시설', '까사',
       '까펠레호텔', '꾸띠호텔', '나이아가라관광호텔', '나인트리호텔', '남경모텔', '노니모텔',
       '노보텔 엠베스더 강남', '노블레스', '노블레스관광호텔', '노블레스모텔', '노블레스 호텔(구 베니스모텔)',
       '노블호텔', '노스탈자호텔', '녹스호텔', '누모텔', '뉴서울호텔', '뉴캐슬 모텔', '뉴티파니관광호텔',
       '뉴힐탑관광호텔', '다이나모텔', '닷컴', '더리버사이드호텔', '더블유모텔', '더캘리포니아호텔',
       '더클래식544 노유자시설동', '더홀릭호텔', '드림텔호텔', '디아망호텔', '라누이 아모르 모텔',
       '라마다 서울 호텔', '라마다호텔', '라이프스타일', '라이프스타일R호텔', '라자 호텔', '랙싱턴호텔',
       '레이크관광호텔', '레인보우호텔', '렉서스모텔', '렉스관광호텔', '렉스모텔', '렉스빌모텔', '렉시호텔',
       '로데오모텔', '로미오모텔', '로보그라드모텔', '로즈마리', '루이체', '리버파크', '리젠트호텔',
       '리츠칼튼 서울호텔', '릿츠호텔', '마리모텔', '맥스모텔', '맨하탄 호텔',
       '머큐어 서울 앰배서더 강남 쏘도베', '메르디앙', '메이관광호텔', '메이져호텔(테마모텔)', '메이필드호텔',
       '메트로21', '명동센트럴빌딩', '명작모텔', '모텔CF', '모텔 P.X', '모텔리치', '모텔케슬',
       '몰디브모텔', '몽호텔', '문모텔', '미라지', '미시간모텔', '밀라노', '바고관광호텔', '바론드파리',
       '바빌론관광호텔', '바이올린모텔', '바카스 호텔(트윈스빌딩)', '발렌타인', '백제산장', '베르사이유',
       '베스트웨스턴 호텔 강남호텔', '베스트웨스턴 호텔국도', '벤허호텔', '벨라지오 관광호텔', '보보스모텔',
       '보보호텔', '볼륨모텔', '붐관광호텔', '뷰티모텔', '뷰티크모텔', '브라운관광호텔', '블루모텔', '비발디',
       '비브호텔', '비젼호텔', '빅토리아호텔', '샹그리아 모텔', '서교동 관광호텔 ', '서림장모텔',
       '서울 스타르호텔 별관', '세검정모텔', '세인트모텔', '세종호텔', '손승환내과', '솔 모텔', '쉐르빌호텔',
       '쉴모텔', '쉴 모텔(구 페리온)', '쉴호텔', '스카이모텔', '스타빌딩', '스탠포드호텔 서울',
       '스테이세븐프리미어호텔', '시네마호텔', '시설물명 미입력', '시안모텔', '신촌모텔(D모텔)', '실론 호텔',
       '싼타페호텔', '써튼호텔', '쎄비앙', '씨에스타호텔', '씨에프모텔', '아도카모텔', '아로마모텔',
       '아마가호텔', '아마레호텔', '아모렉스 관광호텔', '아비송모텔', '아비숑', '아비숑 모텔', '아이린호텔',
       '아카시아호텔', '아테네', '아트호텔', '알리앙스', '어거스트모텔', '에스호텔(갤러리모텔)', '에펠준모텔',
       '역삼모텔', '영화호텔', '오렌지카운티', '오아시스', '올모텔', '와우호텔', '와이커키호텔(쇼호텔)',
       '와이키키모텔', '웨스틴조선호텔 서울점', '위드호텔', '윈저모텔', '윈저텔', '유양호텔', '유토피아',
       '은하장여관', '이사벨모텔', '이정옥', '이젠호텔', '이지호텔', '이태원 IP호텔', '일솔레MT(무림파크)',
       '임스하우스', '잠실관광호텔', '쟈스민', '정영하', '주)센츄렐관광호텔', '지에스호텔', '첼로가든',
       '첼로모텔', '초코렛 호텔(구 베르사유 모텔)', '초콜릿호텔', '최병만', '카라모텔', '칼튼모텔',
       '칼튼호텔', '캐피탈호텔', '캘리포니아관광호텔', '캘리포니아호텔', '코리아관광호텔', '코보스호텔',
       '큐브 호텔', '크라운관광호텔', '크로싱호텔', '클릭호텔', '타라호텔', '타임호텔', '탑텔호텔',
       '태훈빌딩', '테마모텔', '토요코인 서울동대문', '톰지호텔', '투모텔', '투비인관광호텔', '티모텔',
       '파라오모텔', '파레스호텔', '파브', '파크하얏트서울', '팰리스모텔', '팰리스호털', '퍼시픽호텔',
       '페트라호텔', '포도모텔', '폼 모텔', '프레이저플레이스센트럴서울', '프레지던트호텔', '프렌드호텔',
       '프렌치MT', '프로비스타', '프리마호텔(리치호텔)', '프린스호텔', '플라워모텔', '플러스모텔',
       '피아노모텔', '피카소 모텔', '필름모텔', '필름오스카모텔', '현대파크모텔', '호텔2해븐', '호텔 A-NA',
       '호텔 A T moom(아이엠티호텔)', '호텔 BEN', '호텔 BNN', '호텔MAC', '호텔Voll',
       '호텔 그린 그래스', '호텔꾸띠', '호텔 누누', '호텔 더 디자이너스', '호텔 더 디자이너스 예약실',
       '호텔 드어반', '호텔 라까사', '호텔론스타', '호텔리베라서울', '호텔리스', '호텔 맥스', '호텔 메이져',
       '호텔베르사유', '호텔 베리식스', '호텔선샤인', '호텔 스타', '호텔스타', '호텔시네마', '호텔써클',
       '호텔썬비', '호텔야자', '호텔엘루이', '호텔엘르인', '호텔예스', '호텔이채', '호텔캣츠',
       '호텔 퀸 21', '호텔테마', '호텔 톰지', '호텔팝', '호텔팝그린', '호텔프리마', '홀리데이인서울성북',
       '홀릭호텔', '힐튼호텔'], dtype=object)

화장실 포함된 이름 -> publictoilet

In [109]:
test = reg_name_change(test, "hotel", "화장실", "publictoilet")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 11. factory drop 
factory -> 회사는 특정인만 출입하기 때문에 제외

In [111]:
test = test[test.category != 'factory']

# 12. library
public library -> library

In [112]:
test = category_sum(test, 'public library', 'library')

전체 category 개수
60

이 전 library 해당 category 개수 :
index                      125
category                   125
lat                        125
lon                        125
place_address              125
place_id                   125
facility_available_name    125
facility_is_available      125
place_name                 125
facility_id                125
dtype: int64

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

이 후 library 해당 category 개수 :
index                      211
category                   211
lat                        211
lon                        211
place_address              211
place_id                   211
facility_available_name    211
facility_is_available      211
place_name                 211
facility_id                211
dtype: int64

전체 category 개수
59

# 13. telecommunication office 전화국 drop 
특정인만 출입을할 수 있기 때문에

In [113]:
test = test[test.category != 'telecommunication office']

# 14. 공단 공사 drop -> 방문 빈도수가 낮음 
국민건강보험공단 및 지사 <br/>
국민연금공단 및 지사 <br/>
한국장애인고용공단 및 지사<br/> 
근로복지공단 및 지사<br/>
국가 또는 지자체 청사<br/>
국민건강보험공단 및 지사<br/>
국민연금공단 및 지사<br/>
한국장애인고용공단 및 지사<br/>

In [114]:
test = test[test.category != 'national health insurance corporation'] # 국민건강보험공단 및 지사

In [115]:
test = test[test.category != 'national pension service'] # 국민연금공단 및 지사

In [116]:
test = test[test.category != 'workers welfare service'] # 근로복지공단 및 지사

In [117]:
test = test[test.category != 'government office building'] # 국가 또는 지자체 청사

In [118]:
test = test[test.category != 'national health insurance corporation'] # 국민건강보험공단 및 지사

In [119]:
test = test[test.category != 'national pension service'] # 국민연금공단 및 지사

In [120]:
test = test[test.category != 'disabled employment agency'] # 한국장애인고용공단 및 지사

# 15. driving academy(운전 학원) -> education/job (교육원·직업훈련소·학원 등)

In [121]:
test = category_sum(test,"driving academy" ,"education/job")

전체 category 개수
55

이 전 education/job 해당 category 개수 :
index                      5706
category                   5706
lat                        5706
lon                        5706
place_address              5706
place_id                   5706
facility_available_name    5706
facility_is_available      5706
place_name                 5706
facility_id                5706
dtype: int64

이 후 education/job 해당 category 개수 :
index                      5720
category                   5720
lat                        5720
lon                        5720
place_address              5720
place_id                   5720
facility_available_name    5720
facility_is_available      5720
place_name                 5720
facility_id                5720
dtype: int64

전체 category 개수
54

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

# 16. 대피소 drop

In [122]:
test = test[test.category != 'shelter']

# 17. broadcasting station drop
특정인만 출입을할 수 있기 때문에

In [123]:
test = test[test.category != 'broadcasting station']

# 18. korean, western, chinese, japanese, flour_based_food, other_food -> restaurant

In [124]:
test = category_sum(test, "korean_food", "restaurant")

전체 category 개수
52

이 전 restaurant 해당 category 개수 :
index                      1800
category                   1800
lat                        1800
lon                        1800
place_address              1800
place_id                   1800
facility_available_name    1800
facility_is_available      1800
place_name                 1800
facility_id                1800
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

전체 category 개수
51

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [125]:
test = category_sum(test, "western_food", "restaurant")

전체 category 개수
51

이 전 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

전체 category 개수
51

In [126]:
test = category_sum(test, "chinese_food", "restaurant")

전체 category 개수
51

이 전 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

전체 category 개수
51

In [127]:
test = category_sum(test, "japanese_food", "restaurant")

전체 category 개수
51

이 전 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

전체 category 개수
51

In [128]:
test = category_sum(test, "other_food", "restaurant")

전체 category 개수
51

이 전 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

이 후 restaurant 해당 category 개수 :
index                      2746
category                   2746
lat                        2746
lon                        2746
place_address              2746
place_id                   2746
facility_available_name    2746
facility_is_available      2746
place_name                 2746
facility_id                2746
dtype: int64

전체 category 개수
51

# 19. 안마시술소 drop -> 데이터가 적으며, 공공성이 낮다고 판단

In [129]:
test = test[test.category != 'massage parlor']

# 20. 교육/어린이집 분리 
어린이집$ -> daycare center <br/>
어런이집 -> 어린이집으로 변경하여 -> daycare center <br/>
학원 -> 대학원이 추출 -> 대학교를 제외한 단어를 추출 -> education/job <br/>
마지막 단어가 학원 -> education/job <br/>

In [130]:
test = reg_name_change(test,"education/Childcare", "어린이집", "daycare center" )

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [131]:
a = test[test.category == 'education/Childcare']

In [132]:
b= a[a.place_name.str.contains('어런이집$')]

In [133]:
b = b.replace('이림어런이집', "이림어린이집")

In [134]:
b.category = "daycare center"

In [135]:
test.iloc[b.index] = b

In [136]:
a = test[test.category == 'education/Childcare']

In [137]:
b = a[a.place_name.str.contains('학원') & a.place_name.str.contains('[^대학교]$')]

In [138]:
b.category = "education/job"

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [139]:
test.iloc[b.index] =b

In [140]:
test = reg_name_change(test, "education/Childcare", "초등학교", "elementary school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [141]:
test = reg_name_change(test, "education/Childcare", "고교", "high school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [142]:
test = reg_name_change(test, "education/Childcare", "고$", "high school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [162]:
test = reg_name_change(test, "education/Childcare", "고등학교", "high school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [144]:
test = reg_name_change(test, "education/Childcare", "중학교$", "junior high school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [145]:
test = reg_name_change(test, "education/Childcare", "중$", "junior high school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [146]:
test = reg_name_change(test, "education/Childcare", "도서관", "library")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [147]:
test = reg_name_change(test, "education/Childcare", "어린이집", "daycare center")

In [148]:
test = reg_name_change(test, "education/Childcare", "유치원", "daycare center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [149]:
test = reg_name_change(test, "education/Childcare", "유아원", "daycare center")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [150]:
test = reg_name_change(test, "education/Childcare", "초등학교", "elementary school")

In [151]:
test = reg_name_change(test, "education/Childcare", "초$", "elementary school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [164]:
test_list2 = [ "국민대", "동덕여대", "명지대", "숙명여대", "숭실대", "성신여대", "방송통신대","서경대"]

In [165]:
for row in test_list2:
    test = reg_name_change(test, "education/Childcare", row, "university")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [167]:
test = reg_name_change(test, "education/Childcare", "대학", "university")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [159]:
test = reg_name_change(test, "education/Childcare", "대학교", "university")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [169]:
test = reg_name_change(test, "education/Childcare", "학교", "special-education school")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [170]:
test[test.category == "education/Childcare"].place_name.unique()

array(['(주)정상에이엘에스(서림상가빌딩)', 'E-Park에듀센터', 'IBT아카데미', 'KAGE영재원',
       'RID ENGLISH ACADEMY', 'SLP강남영어학당(천보빌딩)', 'YBM강남센터',
       '㈜메가스터디(풍림빌딩)', '강남 S캠퍼스 강의실(한국벤쳐타워)', '강북메가스터디',
       '노드 잉글리아 에듀케이션 코리아', '동서울아카데미', '동화세상에듀코', '매쓰수학', '메가MD로스쿨(청합빌딩)',
       '배재고 다목적홀', '비트아카데미', '살롬의집', '서울영풍초교', '섬김의집', '송파리틀집', '시사영어사',
       '아이지에스이랭귀지센터', '원수학', '위너스스터디', '윤선생영어숲', '장앤김수학', '크레파스ARTSCHOOL',
       '하이스트', '효주아네스의집'], dtype=object)

In [171]:
test = category_sum(test, "education/Childcare","education/job")

전체 category 개수
50

이 전 education/job 해당 category 개수 :
index                      6436
category                   6436
lat                        6436
lon                        6436
place_address              6436
place_id                   6436
facility_available_name    6436
facility_is_available      6436
place_name                 6436
facility_id                6436
dtype: int64

이 후 education/job 해당 category 개수 :
index                      6551
category                   6551
lat                        6551
lon                        6551
place_address              6551
place_id                   6551
facility_available_name    6551
facility_is_available      6551
place_name                 6551
facility_id                6551
dtype: int64

전체 category 개수
49

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [172]:
test.category.unique()

array(['subway', 'movie/concerthall', 'shopping/mart', 'publicparking',
       'publictoilet', 'hospital', 'delete', 'community service center',
       'police station', 'post office', 'health center', 'bank', 'hotel',
       'daycare center', 'education/job', 'elementary school',
       'high school', 'junior high school', 'university',
       'special-education school', 'library', 'beauty/hair', 'other',
       'restaurant', nan, 'apartment subsidiary facility',
       'exhibition center', 'convenience store/bakery', 'gym', 'church',
       'general hospital', 'kindergarten', 'meeting hall',
       'welfare/senior', 'welfare/etc', 'city park',
       'training facility/urban', 'welfare/disabled', 'welfare/child',
       'training facility/rural', 'toilet/public',
       'community child center', 'nature park', 'funeral hall',
       'outdoor theater', 'college', 'toilet/open', 'service area',
       'toilet/small'], dtype=object)