In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
df1 = pd.read_csv('toilets.csv', encoding='euc-kr')

In [3]:
df1.head()

,구분,화장실명,소재지도로명주소,소재지지번주소,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,위도,경도,데이터기준일자,Unnamed: 21
0,공중화장실,남대문시장,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN
1,공중화장실,광희동,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN
2,공중화장실,신당 1호,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN
3,공중화장실,신당 2호,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN
4,공중화장실,청구역,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN

In [ ]:
df1 = df1[['화장실명','소재지지번주소', '위도', '경도', '구분']]

In [4]:
df1.head()

,구분,화장실명,소재지도로명주소,소재지지번주소,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,위도,경도,데이터기준일자,Unnamed: 21
0,공중화장실,남대문시장,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN
1,공중화장실,광희동,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN
2,공중화장실,신당 1호,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN
3,공중화장실,신당 2호,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN
4,공중화장실,청구역,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25061 entries, 0 to 25060
Data columns (total 22 columns):
구분              25061 non-null object
화장실명            25061 non-null object
소재지도로명주소        20655 non-null object
소재지지번주소         20898 non-null object
남녀공용화장실여부       25061 non-null object
남성용-대변기수        25061 non-null int64
남성용-소변기수        25061 non-null int64
남성용-장애인용대변기수    25061 non-null int64
남성용-장애인용소변기수    25061 non-null object
남성용-어린이용대변기수    25061 non-null object
남성용-어린이용소변기수    25060 non-null object
여성용-대변기수        25061 non-null int64
여성용-장애인용대변기수    25061 non-null int64
여성용-어린이용대변기수    25061 non-null object
관리기관명           25061 non-null object
전화번호            20788 non-null object
개방시간            25061 non-null object
설치년도            11469 non-null object
위도              23166 non-null float64
경도              23166 non-null float64
데이터기준일자         25061 non-null object
Unnamed: 21     0 non-null float64
dtypes: float64(3), int64(5), object(14)
memory usage: 4.2+ MB

In [7]:
df1=df1.rename(columns = {'화장실명':'place_name', '소재지지번주소':'place_address', '위도':'lat', '경도':'lon', '구분':'category'})

In [6]:
df1.head()

,구분,화장실명,소재지도로명주소,소재지지번주소,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,위도,경도,데이터기준일자,Unnamed: 21
0,공중화장실,남대문시장,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN
1,공중화장실,광희동,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN
2,공중화장실,신당 1호,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN
3,공중화장실,신당 2호,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN
4,공중화장실,청구역,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN

In [8]:
# place_name 에 + 화장실, category 영어로 바꾸고 . 그리고 새로운 테이블은 남성소변기수,이런것들
df1.place_name =df1.place_name.map(lambda x:x + ' 화장실')

In [9]:
df1.head()

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21
0,공중화장실,남대문시장 화장실,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN
1,공중화장실,광희동 화장실,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN
2,공중화장실,신당 1호 화장실,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN
3,공중화장실,신당 2호 화장실,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN
4,공중화장실,청구역 화장실,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN

In [10]:
df1.category.unique()

array(['공중화장실', '간이화장실', '개방화장실', '이동화장실', '이동화장실무계 수계공원 입구', '공중', '개방'],
      dtype=object)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25061 entries, 0 to 25060
Data columns (total 22 columns):
category         25061 non-null object
place_name       25061 non-null object
소재지도로명주소         20655 non-null object
place_address    20898 non-null object
남녀공용화장실여부        25061 non-null object
남성용-대변기수         25061 non-null int64
남성용-소변기수         25061 non-null int64
남성용-장애인용대변기수     25061 non-null int64
남성용-장애인용소변기수     25061 non-null object
남성용-어린이용대변기수     25061 non-null object
남성용-어린이용소변기수     25060 non-null object
여성용-대변기수         25061 non-null int64
여성용-장애인용대변기수     25061 non-null int64
여성용-어린이용대변기수     25061 non-null object
관리기관명            25061 non-null object
전화번호             20788 non-null object
개방시간             25061 non-null object
설치년도             11469 non-null object
lat              23166 non-null float64
lon              23166 non-null float64
데이터기준일자          25061 non-null object
Unnamed: 21      0 non-null float64
dtypes: float64(3), int64(5), object(14)
memory usage: 4.2+ MB

In [12]:
toilet_dict ={ '간이화장실':'toilet/small',
              '개방화장실':'toilet/open',
              '이동화장실':'toilet/moving',
              '이동화장실무계 수계공원 입구' :'toilet/moving',
              '공중':'toilet/open', 
              '개방':'toilet/open',
              '공중화장실':'toilet/open'
}

In [13]:
df1.category =  df1.category.map(lambda x : toilet_dict[x])

In [14]:
df1.sample(20)

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21
14693,toilet/open,사항포구 공중화장실 화장실,인천광역시 옹진군 백령면 가을리 산 185-1 인근 공유수면,NaN,N,1,2,0,0,0,...,0,0,백령면사무소,032-899-3523,24시간,2012-01,37.972653,124.649357,2017-11-27,NaN
10779,toilet/open,장호원초등학교 화장실,경기도 이천시 장호원읍 장감로 46,경기도 이천시 장호원읍 장호원리 104,N,19,34,4,0,0,...,4,0,경기도이천교육지원청,031-636-7535,(평일)0900~1800,NaN,37.115586,127.628129,2017-11-20,NaN
7511,toilet/open,nc-oil 화장실,NaN,경기도 안성시 신소현동 28번지 3호,N,1,1,0,0,0,...,0,0,경기도 안성시청,031-678-2693,00:00~24:00,NaN,37.022032,127.261385,2018-01-31,NaN
17241,toilet/open,신봉 화장실,경상남도 통영시 산양읍 산양일주로 547,경상남도 통영시 산양읍 신전리 324,N,2,4,1,0,0,...,0,0,경상남도 통영시청,055-650-6450,24시간,2003-07,34.795028,128.417052,2017-10-31,NaN
9095,toilet/open,구 마석시장(구 축협 옆) 화장실,경기도 남양주시 화도읍 마석로 27-6,경기도 남양주시 화도읍 마석우리 295-21,N,1,2,0,0,0,...,0,0,경기도 남양주시청,031-590-4269,00:00~24:00,NaN,37.653653,127.306332,2017-01-01,NaN
19478,toilet/open,"실내체육관(외부, 여성전용) 화장실",전라북도 전주시 덕진구 권삼득로 308,전라북도 전주시 덕진동 1가 664-14,N,0,0,0,0,0,...,0,0,전주시설관리공단,063-239-2558,09:00~18:00,2017-06,35.844182,127.129278,2017-08-08,NaN
3745,toilet/open,장존주유소 화장실,충청남도 아산시 순천향로 738,NaN,Y,0,0,0,0,0,...,0,0,장존주유소,041-534-5149,영업시간내,NaN,36.752980,127.004470,2018-02-13,NaN
24163,toilet/open,용강이동 화장실,서울특별시 용강동 36-1,NaN,N,1,0,0,0,0,...,0,0,서울특별시 마포구청 청소행정과,02-3153-9234,24시간,NaN,37.538811,126.942602,2017-04-24,NaN
20280,toilet/open,삼랑진초등학교 화장실,경상남도 밀양시 삼랑진읍 만어로 11,경상남도 밀양시 삼랑진읍 송지리 162번지 2호,N,7,20,2,2,4,...,2,1,밀양교육지원청,055-350-1500,09:00~18:00,Jan-85,35.401227,128.841253,2017-04-14,NaN
17701,toilet/open,용문사입구 화장실,NaN,경상남도 남해군 이동면 용소리 산80-1,N,1,2,0,0,0,...,1,0,남해군청,055-860-3261,24시간,2017-05,34.785705,127.925498,2017-11-13,NaN
21040,toilet/open,원진빌딩 화장실,대구광역시 중구 국채보상로 719,대구광역시 중구 동인동4가 55,N,9,18,0,0,0,...,0,0,개인,NaN,09:00~18:00,NaN,35.868958,128.609356,2017-01-01,NaN
4248,toilet/open,대우프라자 화장실,인천광역시 부평구 세월천로 34,NaN,N,1,4,1,0,0,...,1,0,인천광역시부평구청,032-526-7012,10:00-22:00,NaN,37.513135,126.705616,2018-02-14,NaN
16866,toilet/open,중앙동주민센터 화장실,강원도 원주시 충정길 12 (학성동),NaN,N,0,0,2,0,0,...,1,0,강원도 원주시청,033-737-3105,연중무휴,2017년 12월,37.352826,127.947476,2017-11-17,NaN
12325,toilet/open,지동관 화장실,경기도 의정부시 호국로1298번길 78 (의정부동),경기도 의정부시 의정부동 196-8,N,2,3,0,0,0,...,0,0,경기도 의정부시청,031-828-2713,09시 ~ 22시,NaN,37.740037,127.048149,2017-04-11,NaN
2957,toilet/open,지하철 배산역 화장실,부산광역시 연제구 연수로 229,부산광역시 연제구 연산동 1805-3,N,1,8,0,1,0,...,0,0,부산광역시 연제구청,051-665-4446,05:00~24:00,NaN,35.173665,129.096179,2018-02-19,NaN
2807,toilet/open,세운스퀘어(주얼리관) 화장실,서울특별시 종로구 창경궁로 109 (인의동),NaN,N,2,3,1,0,0,...,1,0,서울특별시 종로구청,02-2148-2383,09:30-20:00 +일요일폐쇄,NaN,37.572349,126.997084,2018-02-14,NaN
2823,toilet/open,맥도날드(종로3가) 화장실,서울특별시 종로구 종로 115 (종로3가),NaN,N,1,1,0,0,0,...,0,0,서울특별시 종로구청,02-2148-2383,연중무휴,NaN,37.570608,126.990464,2018-02-14,NaN
1318,toilet/open,월성공원(숲) 화장실,경상남도 거창군 북상면 월성리 241번지,NaN,N,2,2,0,0,0,...,0,0,경상남도 거창군청,055-940-3505,연중무휴,NaN,35.771688,127.747530,2018-02-20,NaN
23944,toilet/small,석송리 화장실 화장실,NaN,충청남도 공주시 정안면 석송리 33-2 (주변),N,1,1,0,0,0,...,0,0,정안면,041-840-2823,24시간,2001-01,36.561552,127.117630,2017-05-08,NaN
7460,toilet/open,율곡보건진료소 화장실,NaN,경기도 안성시 삼죽면 율곡리 586번지,Y,1,0,0,0,0,...,0,0,경기도 안성시청,031-678-2693,00:00~24:00,NaN,37.094293,127.370278,2018-01-31,NaN

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25061 entries, 0 to 25060
Data columns (total 22 columns):
category         25061 non-null object
place_name       25061 non-null object
소재지도로명주소         20655 non-null object
place_address    20898 non-null object
남녀공용화장실여부        25061 non-null object
남성용-대변기수         25061 non-null int64
남성용-소변기수         25061 non-null int64
남성용-장애인용대변기수     25061 non-null int64
남성용-장애인용소변기수     25061 non-null object
남성용-어린이용대변기수     25061 non-null object
남성용-어린이용소변기수     25060 non-null object
여성용-대변기수         25061 non-null int64
여성용-장애인용대변기수     25061 non-null int64
여성용-어린이용대변기수     25061 non-null object
관리기관명            25061 non-null object
전화번호             20788 non-null object
개방시간             25061 non-null object
설치년도             11469 non-null object
lat              23166 non-null float64
lon              23166 non-null float64
데이터기준일자          25061 non-null object
Unnamed: 21      0 non-null float64
dtypes: float64(3), int64(5), object(14)
memory usage: 4.2+ MB

In [16]:
df1[df1.place_address.isna()].head()

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21
64,toilet/open,남양버스정류장 공중화장실 화장실,경상북도 울릉군 서면 남양4길 버스승강장 옆,NaN,N,3,2,1,0,0,...,1,0,경상북도 울릉군청,054-790-6717,연중무휴,NaN,37.466553,130.837330,2018-02-26,NaN
69,toilet/open,구암터널옆 공중화장실 화장실,경상북도 울릉군 서면 울릉순환로 1350 구암터널 옆,NaN,N,2,2,1,0,0,...,0,1,경상북도 울릉군청,054-790-6717,연중무휴,NaN,37.468443,130.831172,2018-02-26,NaN
72,toilet/open,태하어판장 공중화장실 화장실,경상북도 울릉군 서면 태하2길,NaN,N,1,1,0,0,0,...,0,0,경상북도 울릉군청,054-790-6717,연중무휴,NaN,37.510266,130.797979,2018-02-26,NaN
75,toilet/open,북면사택뒤 공중화장실 화장실,경상북도 울릉군 북면 천부2길 15,NaN,N,2,2,0,0,0,...,0,0,경상북도 울릉군청,054-790-6736,연중무휴,NaN,37.544734,130.874542,2018-02-26,NaN
84,toilet/open,선창 공중화장실 화장실,경상북도 울릉군 북면 울릉순환로 3530 부근,NaN,N,2,2,0,0,0,...,0,0,경상북도 울릉군청,054-790-6736,연중무휴,NaN,37.544844,130.908532,2018-02-26,NaN

In [17]:
df1.dropna(subset={'place_address'},inplace=True) # place_address 가 없는것 모두 제거

In [18]:
df1[df1.place_address.isna()]

Empty DataFrame
Columns: [category, place_name, 소재지도로명주소, place_address, 남녀공용화장실여부, 남성용-대변기수, 남성용-소변기수, 남성용-장애인용대변기수, 남성용-장애인용소변기수, 남성용-어린이용대변기수, 남성용-어린이용소변기수, 여성용-대변기수, 여성용-장애인용대변기수, 여성용-어린이용대변기수, 관리기관명, 전화번호, 개방시간, 설치년도, lat, lon, 데이터기준일자, Unnamed: 21]
Index: []

[0 rows x 22 columns]

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20898 entries, 0 to 24994
Data columns (total 22 columns):
category         20898 non-null object
place_name       20898 non-null object
소재지도로명주소         16492 non-null object
place_address    20898 non-null object
남녀공용화장실여부        20898 non-null object
남성용-대변기수         20898 non-null int64
남성용-소변기수         20898 non-null int64
남성용-장애인용대변기수     20898 non-null int64
남성용-장애인용소변기수     20898 non-null object
남성용-어린이용대변기수     20898 non-null object
남성용-어린이용소변기수     20897 non-null object
여성용-대변기수         20898 non-null int64
여성용-장애인용대변기수     20898 non-null int64
여성용-어린이용대변기수     20898 non-null object
관리기관명            20898 non-null object
전화번호             17351 non-null object
개방시간             20898 non-null object
설치년도             10099 non-null object
lat              19570 non-null float64
lon              19570 non-null float64
데이터기준일자          20898 non-null object
Unnamed: 21      0 non-null float64
dtypes: float64(3), int64(5), object(14)
memory usage: 3.7+ MB

In [20]:
df1.isna().sum() # na 갯수 파악.

category             0
place_name           0
소재지도로명주소          4406
place_address        0
남녀공용화장실여부            0
남성용-대변기수             0
남성용-소변기수             0
남성용-장애인용대변기수         0
남성용-장애인용소변기수         0
남성용-어린이용대변기수         0
남성용-어린이용소변기수         1
여성용-대변기수             0
여성용-장애인용대변기수         0
여성용-어린이용대변기수         0
관리기관명                0
전화번호              3547
개방시간                 0
설치년도             10799
lat               1328
lon               1328
데이터기준일자              0
Unnamed: 21      20898
dtype: int64

In [65]:
seoul = df1[df1['place_address'].str.contains('서울특별시')]

KeyError: ('place_address', 'lat', 'lon')

In [22]:
seoul.head()

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21
0,toilet/open,남대문시장 화장실,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN
1,toilet/open,광희동 화장실,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN
2,toilet/open,신당 1호 화장실,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN
3,toilet/open,신당 2호 화장실,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN
4,toilet/open,청구역 화장실,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN

In [23]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 24951
Data columns (total 22 columns):
category         1195 non-null object
place_name       1195 non-null object
소재지도로명주소         1111 non-null object
place_address    1195 non-null object
남녀공용화장실여부        1195 non-null object
남성용-대변기수         1195 non-null int64
남성용-소변기수         1195 non-null int64
남성용-장애인용대변기수     1195 non-null int64
남성용-장애인용소변기수     1195 non-null object
남성용-어린이용대변기수     1195 non-null object
남성용-어린이용소변기수     1195 non-null object
여성용-대변기수         1195 non-null int64
여성용-장애인용대변기수     1195 non-null int64
여성용-어린이용대변기수     1195 non-null object
관리기관명            1195 non-null object
전화번호             1081 non-null object
개방시간             1195 non-null object
설치년도             573 non-null object
lat              1188 non-null float64
lon              1188 non-null float64
데이터기준일자          1195 non-null object
Unnamed: 21      0 non-null float64
dtypes: float64(3), int64(5), object(14)
memory usage: 214.7+ KB

In [24]:
#lat lon, 7개 없는거 지우기
seoul.isna().sum()

category            0
place_name          0
소재지도로명주소           84
place_address       0
남녀공용화장실여부           0
남성용-대변기수            0
남성용-소변기수            0
남성용-장애인용대변기수        0
남성용-장애인용소변기수        0
남성용-어린이용대변기수        0
남성용-어린이용소변기수        0
여성용-대변기수            0
여성용-장애인용대변기수        0
여성용-어린이용대변기수        0
관리기관명               0
전화번호              114
개방시간                0
설치년도              622
lat                 7
lon                 7
데이터기준일자             0
Unnamed: 21      1195
dtype: int64

In [25]:
seoul[seoul.lat.isna()] #지워질 데이터

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21
4634,toilet/open,고려빌딩 화장실,서울특별시 금천구 시흥대로 421,서울특별시 금천구 독산1동 288-1,N,1,1,0,0,0,...,0,0,서울특별시 금천구청,02-2627-1909,24시간,NaN,NaN,NaN,2018-02-20,NaN
4635,toilet/open,산호빌딩 화장실,서울특별시 금천구 벚꽃로38길 15,서울특별시 금천구 가산동 43-6,N,1,1,0,0,0,...,0,0,서울특별시 금천구청,02-2627-1909,24시간,NaN,NaN,NaN,2018-02-20,NaN
4937,toilet/open,백로 화장실,NaN,서울특별시 동작구 상도3동 362-46,N,1,2,0,0,0,...,0,0,서울특별시 동작구청,NaN,상시,NaN,NaN,NaN,2018-02-19,NaN
7552,toilet/open,신계동 화장실,NaN,서울특별시 용산구 신계동 29-3,N,2,1,0,0,0,...,0,0,용산구청,02-2199-7322,24시간,1982.01,NaN,NaN,2018-01-11,NaN
22345,toilet/open,고덕천 SK주유소 뒤 화장실,서울특별시 강동구 암사동 산274,서울특별시 강동구 둔촌동 산274,N,1,2,0,0,0,...,0,0,청소행정과,02-3425-5864,24시간,Dec-17,NaN,NaN,2017-05-16,NaN
22365,toilet/open,일자산자연공원(도시농업공원) 화장실,서울특별시 강동구 둔촌동119,서울특별시 강동구 둔촌동119,N,2,1,0,0,0,...,0,0,청소행정과,02-3425-5864,24시간,Aug-16,NaN,NaN,2017-05-16,NaN
22440,toilet/open,일자산제1체육관 뒤 화장실,서울특별시 강동구 암사동 산274,서울특별시 강동구 둔촌동 산274,N,1,3,0,0,0,...,0,0,청소행정과,02-3425-5864,24시간,May-00,NaN,NaN,2017-05-16,NaN

In [26]:
seoul.head()

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-장애인용대변기수,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21
0,toilet/open,남대문시장 화장실,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN
1,toilet/open,광희동 화장실,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,1,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN
2,toilet/open,신당 1호 화장실,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN
3,toilet/open,신당 2호 화장실,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN
4,toilet/open,청구역 화장실,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN

In [27]:
#seoul.dropna(subset={'lat'},inplace=True) #이런 워닝은 무시할수 있게 패키지 로드해서 사용하면됨.

In [66]:
seoul.dropna(subset={'place_address','lat','lon'},inplace=True)

In [67]:
seoul.place_address  = seoul.place_address.dropna()

In [68]:
seoul.head(10)

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21,place_id
0,toilet/open,남대문시장 화장실,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN,300000
1,toilet/open,광희동 화장실,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN,300001
2,toilet/open,신당 1호 화장실,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN,300002
3,toilet/open,신당 2호 화장실,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN,300003
4,toilet/open,청구역 화장실,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN,300004
5,toilet/open,황학동 화장실,서울특별시 중구 다산로48길 33,서울특별시 중구 황학동 755,N,1,2,1,1,1,...,1,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.567540,127.018139,2018-02-26,NaN,300005
2369,toilet/open,구로4동 경로당 화장실,서울특별시 구로구 구로동로8길 27,서울특별시 구로구 구로동 745-74,N,2,2,0,0,0,...,3,서울특별시 구로구시설관리공단,02-850-0946,연중무휴,1981-07,37.487057,126.886241,2018-02-19,NaN,300006
2370,toilet/open,거리공원 등기소앞 화장실,서울특별시 구로구 구로동 50,서울특별시 구로구 구로동 50,N,2,6,0,0,0,...,0,서울특별시 구로구시설관리공단,02-850-0946,연중무휴,1986-02,37.501131,126.890341,2018-02-19,NaN,300007
2371,toilet/open,삭새어린이공원 화장실,서울특별시 구로구 부일로9길 90-2,서울특별시 구로구 궁동 238-3,N,2,2,0,0,0,...,0,서울특별시 구로구시설관리공단,02-850-0946,연중무휴,1986-12,37.496343,126.824444,2018-02-19,NaN,300008
2373,toilet/open,개웅어린이공원 화장실,서울특별시 구로구 개봉로15길 58-2,서울특별시 구로구 개봉동 340-8,N,2,1,0,0,0,...,0,서울특별시 구로구시설관리공단,02-850-0946,연중무휴,1986-10,37.490107,126.853004,2018-02-19,NaN,300009

In [69]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 24946
Data columns (total 23 columns):
category         1117 non-null object
place_name       1117 non-null object
소재지도로명주소         1039 non-null object
place_address    1117 non-null object
남녀공용화장실여부        1117 non-null object
남성용-대변기수         1117 non-null int64
남성용-소변기수         1117 non-null int64
남성용-장애인용대변기수     1117 non-null int64
남성용-장애인용소변기수     1117 non-null object
남성용-어린이용대변기수     1117 non-null object
남성용-어린이용소변기수     1117 non-null object
여성용-대변기수         1117 non-null int64
여성용-장애인용대변기수     1117 non-null int64
여성용-어린이용대변기수     1117 non-null object
관리기관명            1117 non-null object
전화번호             1008 non-null object
개방시간             1117 non-null object
설치년도             525 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
데이터기준일자          1117 non-null object
Unnamed: 21      0 non-null float64
place_id         1117 non-null int64
dtypes: float64(3), int64(6), object(14)
memory usage: 209.4+ KB

In [70]:
seoul.isna().sum() #중복이없는데이터 seoul2 최종

category            0
place_name          0
소재지도로명주소           78
place_address       0
남녀공용화장실여부           0
남성용-대변기수            0
남성용-소변기수            0
남성용-장애인용대변기수        0
남성용-장애인용소변기수        0
남성용-어린이용대변기수        0
남성용-어린이용소변기수        0
여성용-대변기수            0
여성용-장애인용대변기수        0
여성용-어린이용대변기수        0
관리기관명               0
전화번호              109
개방시간                0
설치년도              592
lat                 0
lon                 0
데이터기준일자             0
Unnamed: 21      1117
place_id            0
dtype: int64

In [71]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 24946
Data columns (total 23 columns):
category         1117 non-null object
place_name       1117 non-null object
소재지도로명주소         1039 non-null object
place_address    1117 non-null object
남녀공용화장실여부        1117 non-null object
남성용-대변기수         1117 non-null int64
남성용-소변기수         1117 non-null int64
남성용-장애인용대변기수     1117 non-null int64
남성용-장애인용소변기수     1117 non-null object
남성용-어린이용대변기수     1117 non-null object
남성용-어린이용소변기수     1117 non-null object
여성용-대변기수         1117 non-null int64
여성용-장애인용대변기수     1117 non-null int64
여성용-어린이용대변기수     1117 non-null object
관리기관명            1117 non-null object
전화번호             1008 non-null object
개방시간             1117 non-null object
설치년도             525 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
데이터기준일자          1117 non-null object
Unnamed: 21      0 non-null float64
place_id         1117 non-null int64
dtypes: float64(3), int64(6), object(14)
memory usage: 209.4+ KB

In [72]:
seoul[seoul.duplicated(subset=['lat','lon'],keep=False)]

Empty DataFrame
Columns: [category, place_name, 소재지도로명주소, place_address, 남녀공용화장실여부, 남성용-대변기수, 남성용-소변기수, 남성용-장애인용대변기수, 남성용-장애인용소변기수, 남성용-어린이용대변기수, 남성용-어린이용소변기수, 여성용-대변기수, 여성용-장애인용대변기수, 여성용-어린이용대변기수, 관리기관명, 전화번호, 개방시간, 설치년도, lat, lon, 데이터기준일자, Unnamed: 21, place_id]
Index: []

[0 rows x 23 columns]

In [73]:
import warnings
warnings.filterwarnings('ignore')

In [74]:
seoul.drop_duplicates(subset=['lat','lon'],inplace=True) # 이렇게 하려했으나 안되서.

In [75]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 24946
Data columns (total 23 columns):
category         1117 non-null object
place_name       1117 non-null object
소재지도로명주소         1039 non-null object
place_address    1117 non-null object
남녀공용화장실여부        1117 non-null object
남성용-대변기수         1117 non-null int64
남성용-소변기수         1117 non-null int64
남성용-장애인용대변기수     1117 non-null int64
남성용-장애인용소변기수     1117 non-null object
남성용-어린이용대변기수     1117 non-null object
남성용-어린이용소변기수     1117 non-null object
여성용-대변기수         1117 non-null int64
여성용-장애인용대변기수     1117 non-null int64
여성용-어린이용대변기수     1117 non-null object
관리기관명            1117 non-null object
전화번호             1008 non-null object
개방시간             1117 non-null object
설치년도             525 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
데이터기준일자          1117 non-null object
Unnamed: 21      0 non-null float64
place_id         1117 non-null int64
dtypes: float64(3), int64(6), object(14)
memory usage: 209.4+ KB

In [76]:
a = [i for i in range(300000,301117)]

In [77]:
len(a)

1117

In [78]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 24946
Data columns (total 23 columns):
category         1117 non-null object
place_name       1117 non-null object
소재지도로명주소         1039 non-null object
place_address    1117 non-null object
남녀공용화장실여부        1117 non-null object
남성용-대변기수         1117 non-null int64
남성용-소변기수         1117 non-null int64
남성용-장애인용대변기수     1117 non-null int64
남성용-장애인용소변기수     1117 non-null object
남성용-어린이용대변기수     1117 non-null object
남성용-어린이용소변기수     1117 non-null object
여성용-대변기수         1117 non-null int64
여성용-장애인용대변기수     1117 non-null int64
여성용-어린이용대변기수     1117 non-null object
관리기관명            1117 non-null object
전화번호             1008 non-null object
개방시간             1117 non-null object
설치년도             525 non-null object
lat              1117 non-null float64
lon              1117 non-null float64
데이터기준일자          1117 non-null object
Unnamed: 21      0 non-null float64
place_id         1117 non-null int64
dtypes: float64(3), int64(6), object(14)
memory usage: 209.4+ KB

In [80]:
seoul.head()

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21,place_id
0,toilet/open,남대문시장 화장실,서울특별시 중구 소월로 3,서울특별시 중구 남창동 51-2,N,0,2,1,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,2017-07,37.559433,126.976225,2018-02-26,NaN,300000
1,toilet/open,광희동 화장실,서울특별시 중구 마른내로 166,서울특별시 중구 광희동1가 202-1,N,2,4,1,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,2000-11,37.564371,127.006306,2018-02-26,NaN,300001
2,toilet/open,신당 1호 화장실,서울특별시 중구 다산로 33다길 25,서울특별시 중구 신당동 236-542,Y,1,1,0,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,1982-09,37.563819,127.013347,2018-02-26,NaN,300002
3,toilet/open,신당 2호 화장실,서울특별시 중구 다산로 31길 7-5,서울특별시 중구 신당동 298-74,N,2,1,0,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,1981-06,37.561325,127.013778,2018-02-26,NaN,300003
4,toilet/open,청구역 화장실,서울특별시 중구 장충단로 228-15,서울특별시 중구 신당동 297-17,N,1,3,1,0,0,...,0,서울특별시 중구청,02-3396-5472,연중무휴,1984-09,37.561317,127.013783,2018-02-26,NaN,300004

In [81]:
seoul.tail()

,category,place_name,소재지도로명주소,place_address,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,남성용-장애인용대변기수,남성용-장애인용소변기수,남성용-어린이용대변기수,...,여성용-어린이용대변기수,관리기관명,전화번호,개방시간,설치년도,lat,lon,데이터기준일자,Unnamed: 21,place_id
24934,toilet/open,성수근린공원 화장실,서울특별시 성동구 성수동2가 302-25,서울특별시 성동구 성수동2가 302-25,N,1,2,1,0,0,...,0,서울특별시성동구도시관리공단,02-2204-7943,연중무휴,1995-06-01,37.566074,127.047049,2017-02-14,NaN,301112
24941,toilet/open,독서당공원 화장실,서울특별시 성동구 금호동1가 산37-7,서울특별시 성동구 금호동1가 산37-7,N,1,3,1,0,0,...,0,서울특별시성동구도시관리공단,02-2204-7943,연중무휴,2016-01-01,37.556445,127.019518,2017-02-14,NaN,301113
24943,toilet/open,왕십리문화공원 화장실,서울특별시 성동구 도선동 35-2,서울특별시 성동구 도선동 35-2,N,2,2,1,0,0,...,1,서울특별시성동구도시관리공단,02-2204-7943,연중무휴,2016-12-01,37.553588,127.041916,2017-02-14,NaN,301114
24945,toilet/open,한양대 앞 화장실,서울특별시 성동구 행당동 157-4,서울특별시 성동구 행당동 157-4,N,1,1,1,0,0,...,0,서울특별시성동구도시관리공단,02-2204-7943,연중무휴,2016-11-01,37.566104,127.045757,2017-02-14,NaN,301115
24946,toilet/open,행당어린이공원 화장실,서울특별시 성동구 행당동 128-417,서울특별시 성동구 행당동 128-417,N,3,2,0,0,0,...,0,서울특별시성동구도시관리공단,02-2204-7943,연중무휴,1989-01-01,37.561760,127.035263,2017-02-14,NaN,301116

In [83]:
pd.DataFrame.to_csv(seoul,'seoul_toilets.csv')