In [ ]:
import pandas as pd
import sqlite3 as sql

In [ ]:
df1 = pd.read_csv('toilets.csv', encoding='euc-kr')

In [ ]:
df1.head()

In [ ]:
df1 = df1[['화장실명','소재지지번주소', '위도', '경도', '구분']]

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
df1=df1.rename(columns = {'화장실명':'place_name', '소재지지번주소':'place_address', '위도':'lat', '경도':'lon', '구분':'category'})

In [ ]:
df1.head()

In [ ]:
# place_name 에 + 화장실, category 영어로 바꾸고 . 그리고 새로운 테이블은 남성소변기수,이런것들
df1.place_name =df1.place_name.map(lambda x:x + ' 화장실')

In [ ]:
df1.head()

In [ ]:
df1.category.unique()

In [ ]:
df1.info()

In [ ]:
toilet_dict ={ '간이화장실':'toilet/small',
              '개방화장실':'toilet/open',
              '이동화장실':'toilet/moving',
              '이동화장실무계 수계공원 입구' :'toilet/moving',
              '공중':'toilet/open', 
              '개방':'toilet/open',
              '공중화장실':'toilet/open'
}

In [ ]:
df1.category =  df1.category.map(lambda x : toilet_dict[x])

In [ ]:
df1.sample(20)

In [ ]:
df1.info()

In [ ]:
df1[df1.place_address.isna()].head()

In [ ]:
df1.dropna(subset={'place_address'},inplace=True) # place_address 가 없는것 모두 제거

In [ ]:
df1[df1.place_address.isna()]

In [ ]:
df1.info()

In [ ]:
df1.isna().sum() # na 갯수 파악.

In [ ]:
seoul = df1[df1['place_address'].str.contains('서울특별시')]

In [ ]:
seoul.head()

In [ ]:
seoul.info()

In [ ]:
#lat lon, 7개 없는거 지우기
seoul.isna().sum()

In [ ]:
seoul[seoul.lat.isna()] #지워질 데이터

In [ ]:
seoul.head()

In [ ]:
#seoul.dropna(subset={'lat'},inplace=True) #이런 워닝은 무시할수 있게 패키지 로드해서 사용하면됨.

In [ ]:
seoul.dropna(subset={'place_address','lat','lon'},inplace=True)

In [ ]:
seoul.place_address  = seoul.place_address.dropna()

In [ ]:
seoul.head(10)

In [ ]:
seoul.info()

In [ ]:
seoul.isna().sum() #중복이없는데이터 seoul2 최종

In [ ]:
seoul.info()

In [ ]:
seoul[seoul.duplicated(subset=['lat','lon'],keep=False)]

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
seoul.drop_duplicates(subset=['lat','lon'],inplace=True) # 이렇게 하려했으나 안되서.

In [ ]:
seoul.info()

In [ ]:
a = [i for i in range(30000,31117)]

In [ ]:
len(a)

In [ ]:
seoul.info()

In [ ]:
seoul['place_id']=a

In [ ]:
seoul.head()

In [ ]:
seoul.tail()

In [ ]:
pd.DataFrame.to_csv(seoul,'seoul_toilets.csv')