# Place 데이터 중 bad data 정리하기

In [95]:
import pandas as pd

In [96]:
place  = pd.read_csv('place.csv')

In [97]:
place.drop(columns=["Unnamed: 0"], inplace= True)

In [98]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8352 entries, 0 to 8351
Data columns (total 6 columns):
place_id         8352 non-null int64
place_name       8352 non-null object
lat              8352 non-null float64
lng              8352 non-null float64
place_address    8352 non-null object
category         8352 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 391.6+ KB

In [99]:
# longitude 가 왼쪽 오른쪽을 좌우한다.

In [100]:
place = place[place['lng']> 126.7737713]

In [101]:
place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8330 entries, 0 to 8351
Data columns (total 6 columns):
place_id         8330 non-null int64
place_name       8330 non-null object
lat              8330 non-null float64
lng              8330 non-null float64
place_address    8330 non-null object
category         8330 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 455.5+ KB

In [102]:
place[place['lat']< 37.434017]  # 시흥 편의점 37.434017, 126.904797

     place_id place_name        lat         lng place_address category
110       173         송정  35.137559  126.791535     서울특별시 강서구      지하철

In [103]:
place = place[place['lat']> 37.434017]

In [104]:
place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8329 entries, 0 to 8351
Data columns (total 6 columns):
place_id         8329 non-null int64
place_name       8329 non-null object
lat              8329 non-null float64
lng              8329 non-null float64
place_address    8329 non-null object
category         8329 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 455.5+ KB

In [105]:
place.tail()

,place_id,place_name,lat,lng,place_address,category
8347,31094,양재천수영장 화장실,37.473464,127.035751,서울특별시 서초구 양재동 126-1,공중화장실
8348,31095,양재천(영동2교둑마루) 화장실,37.476623,127.041509,서울특별시 서초구 양재동 261-23,공중화장실
8349,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,37.468269,127.028713,서울특별시 서초구 우면동 143-6,공중화장실
8350,31098,살곶이 진출 화장실,37.553132,127.028349,서울특별시 성동구 사근동 102-28,공중화장실
8351,31103,자전거체험장 화장실,37.553973,127.046326,서울특별시 성동구 마장동 811,공중화장실

# 지하철 이름 바꾸기

In [106]:
place[place.category.str.contains("지하철")].head()

   place_id place_name        lat         lng place_address category
0         0       가락시장  37.492317  127.118104     서울특별시 송파구      지하철
1         1    가산디지털단지  37.480890  126.882574     서울특별시 금천구      지하철
2         3         강남  37.497942  127.027621     서울특별시 강남구      지하철
3         5         강동  37.535940  127.132187     서울특별시 강동구      지하철
4         7         강변  37.535144  127.094672     서울특별시 광진구      지하철

In [107]:
dd = place[place.category.str.contains("지하철")].place_name.apply(lambda x: x +"역")

In [108]:
place.reset_index(inplace=True)

In [109]:
place.head()

   index  place_id place_name        lat         lng place_address category
0      0         0       가락시장  37.492317  127.118104     서울특별시 송파구      지하철
1      1         1    가산디지털단지  37.480890  126.882574     서울특별시 금천구      지하철
2      2         3         강남  37.497942  127.027621     서울특별시 강남구      지하철
3      3         5         강동  37.535940  127.132187     서울특별시 강동구      지하철
4      4         7         강변  37.535144  127.094672     서울특별시 광진구      지하철

In [110]:
ff = place.loc[209:,'place_name']

In [111]:
total_ = []

In [112]:
for i in dd:
    total_.append(i)

In [113]:
for i in ff:
    total_.append(i)

In [114]:
len(total_)

8329

In [115]:
len(total_)

8329

In [116]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8329 entries, 0 to 8328
Data columns (total 7 columns):
index            8329 non-null int64
place_id         8329 non-null int64
place_name       8329 non-null object
lat              8329 non-null float64
lng              8329 non-null float64
place_address    8329 non-null object
category         8329 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 455.6+ KB

In [117]:
se= pd.Series(total_)

In [118]:
place['place_name'] = se

In [119]:
place.head()

   index  place_id place_name        lat         lng place_address category
0      0         0      가락시장역  37.492317  127.118104     서울특별시 송파구      지하철
1      1         1   가산디지털단지역  37.480890  126.882574     서울특별시 금천구      지하철
2      2         3        강남역  37.497942  127.027621     서울특별시 강남구      지하철
3      3         5        강동역  37.535940  127.132187     서울특별시 강동구      지하철
4      4         7        강변역  37.535144  127.094672     서울특별시 광진구      지하철

In [120]:
place.tail()

,index,place_id,place_name,lat,lng,place_address,category
8324,8347,31094,양재천수영장 화장실,37.473464,127.035751,서울특별시 서초구 양재동 126-1,공중화장실
8325,8348,31095,양재천(영동2교둑마루) 화장실,37.476623,127.041509,서울특별시 서초구 양재동 261-23,공중화장실
8326,8349,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,37.468269,127.028713,서울특별시 서초구 우면동 143-6,공중화장실
8327,8350,31098,살곶이 진출 화장실,37.553132,127.028349,서울특별시 성동구 사근동 102-28,공중화장실
8328,8351,31103,자전거체험장 화장실,37.553973,127.046326,서울특별시 성동구 마장동 811,공중화장실

In [123]:
place.drop(columns=["index"], inplace= True)

In [124]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8329 entries, 0 to 8328
Data columns (total 6 columns):
place_id         8329 non-null int64
place_name       8329 non-null object
lat              8329 non-null float64
lng              8329 non-null float64
place_address    8329 non-null object
category         8329 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 390.5+ KB

In [125]:
place.head()

   place_id place_name        lat         lng place_address category
0         0      가락시장역  37.492317  127.118104     서울특별시 송파구      지하철
1         1   가산디지털단지역  37.480890  126.882574     서울특별시 금천구      지하철
2         3        강남역  37.497942  127.027621     서울특별시 강남구      지하철
3         5        강동역  37.535940  127.132187     서울특별시 강동구      지하철
4         7        강변역  37.535144  127.094672     서울특별시 광진구      지하철

In [127]:
place.tail()

,place_id,place_name,lat,lng,place_address,category
8324,31094,양재천수영장 화장실,37.473464,127.035751,서울특별시 서초구 양재동 126-1,공중화장실
8325,31095,양재천(영동2교둑마루) 화장실,37.476623,127.041509,서울특별시 서초구 양재동 261-23,공중화장실
8326,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,37.468269,127.028713,서울특별시 서초구 우면동 143-6,공중화장실
8327,31098,살곶이 진출 화장실,37.553132,127.028349,서울특별시 성동구 사근동 102-28,공중화장실
8328,31103,자전거체험장 화장실,37.553973,127.046326,서울특별시 성동구 마장동 811,공중화장실

In [128]:
place.to_csv('place.csv')