# Place 데이터 중 bad data 정리하기

In [1]:
import pandas as pd

In [2]:
place  = pd.read_csv('place.csv')

In [3]:
place.drop(columns=["Unnamed: 0"], inplace= True)

In [4]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8328 entries, 0 to 8327
Data columns (total 6 columns):
place_id         8328 non-null int64
place_name       8328 non-null object
lat              8328 non-null float64
lng              8328 non-null float64
place_address    8328 non-null object
category         8328 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 390.5+ KB

In [5]:
# longitude 가 왼쪽 오른쪽을 좌우한다.

In [6]:
place = place[place['lng']> 126.7737713]

In [7]:
place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8328 entries, 0 to 8327
Data columns (total 6 columns):
place_id         8328 non-null int64
place_name       8328 non-null object
lat              8328 non-null float64
lng              8328 non-null float64
place_address    8328 non-null object
category         8328 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 455.4+ KB

In [8]:
place[place['lat']< 37.434017]  # 시흥 편의점 37.434017, 126.904797

Empty DataFrame
Columns: [place_id, place_name, lat, lng, place_address, category]
Index: []

In [9]:
place = place[place['lat']> 37.434017]

In [10]:
place[place['lng']> 127.376341] # 양평역 drop 하기

Empty DataFrame
Columns: [place_id, place_name, lat, lng, place_address, category]
Index: []

In [11]:
place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8328 entries, 0 to 8327
Data columns (total 6 columns):
place_id         8328 non-null int64
place_name       8328 non-null object
lat              8328 non-null float64
lng              8328 non-null float64
place_address    8328 non-null object
category         8328 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 455.4+ KB

In [12]:
place = place[place['lng']< 127.376341]

In [13]:
place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8328 entries, 0 to 8327
Data columns (total 6 columns):
place_id         8328 non-null int64
place_name       8328 non-null object
lat              8328 non-null float64
lng              8328 non-null float64
place_address    8328 non-null object
category         8328 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 455.4+ KB

In [14]:
place.tail()

,place_id,place_name,lat,lng,place_address,category
8323,31094,양재천수영장 화장실,37.473464,127.035751,서울특별시 서초구 양재동 126-1,공중화장실
8324,31095,양재천(영동2교둑마루) 화장실,37.476623,127.041509,서울특별시 서초구 양재동 261-23,공중화장실
8325,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,37.468269,127.028713,서울특별시 서초구 우면동 143-6,공중화장실
8326,31098,살곶이 진출 화장실,37.553132,127.028349,서울특별시 성동구 사근동 102-28,공중화장실
8327,31103,자전거체험장 화장실,37.553973,127.046326,서울특별시 성동구 마장동 811,공중화장실

# 지하철 이름 바꾸기

In [15]:
place[place.category.str.contains("지하철")].head()

   place_id place_name        lat         lng place_address category
0         0     가락시장역역  37.492317  127.118104     서울특별시 송파구      지하철
1         1  가산디지털단지역역  37.480890  126.882574     서울특별시 금천구      지하철
2         3       강남역역  37.497942  127.027621     서울특별시 강남구      지하철
3         5       강동역역  37.535940  127.132187     서울특별시 강동구      지하철
4         7       강변역역  37.535144  127.094672     서울특별시 광진구      지하철

In [18]:
dd = place[place.category.str.contains("지하철")].place_name.apply(lambda x: x.replace("역역","역"))

In [19]:
place.reset_index(inplace=True)

In [20]:
place.head()

   index  place_id place_name        lat         lng place_address category
0      0         0     가락시장역역  37.492317  127.118104     서울특별시 송파구      지하철
1      1         1  가산디지털단지역역  37.480890  126.882574     서울특별시 금천구      지하철
2      2         3       강남역역  37.497942  127.027621     서울특별시 강남구      지하철
3      3         5       강동역역  37.535940  127.132187     서울특별시 강동구      지하철
4      4         7       강변역역  37.535144  127.094672     서울특별시 광진구      지하철

In [21]:
ff = place.loc[208:,'place_name']

In [22]:
total_ = []

In [23]:
for i in dd:
    total_.append(i)

In [24]:
for i in ff:
    total_.append(i)

In [25]:
len(total_)

8328

In [26]:
len(total_)

8328

In [27]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8328 entries, 0 to 8327
Data columns (total 7 columns):
index            8328 non-null int64
place_id         8328 non-null int64
place_name       8328 non-null object
lat              8328 non-null float64
lng              8328 non-null float64
place_address    8328 non-null object
category         8328 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 455.5+ KB

In [28]:
se= pd.Series(total_)

In [29]:
place['place_name'] = se

In [30]:
place.head()

   index  place_id place_name        lat         lng place_address category
0      0         0      가락시장역  37.492317  127.118104     서울특별시 송파구      지하철
1      1         1   가산디지털단지역  37.480890  126.882574     서울특별시 금천구      지하철
2      2         3        강남역  37.497942  127.027621     서울특별시 강남구      지하철
3      3         5        강동역  37.535940  127.132187     서울특별시 강동구      지하철
4      4         7        강변역  37.535144  127.094672     서울특별시 광진구      지하철

In [31]:
place.tail()

,index,place_id,place_name,lat,lng,place_address,category
8323,8323,31094,양재천수영장 화장실,37.473464,127.035751,서울특별시 서초구 양재동 126-1,공중화장실
8324,8324,31095,양재천(영동2교둑마루) 화장실,37.476623,127.041509,서울특별시 서초구 양재동 261-23,공중화장실
8325,8325,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,37.468269,127.028713,서울특별시 서초구 우면동 143-6,공중화장실
8326,8326,31098,살곶이 진출 화장실,37.553132,127.028349,서울특별시 성동구 사근동 102-28,공중화장실
8327,8327,31103,자전거체험장 화장실,37.553973,127.046326,서울특별시 성동구 마장동 811,공중화장실

In [32]:
place.drop(columns=["index"], inplace= True)

In [33]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8328 entries, 0 to 8327
Data columns (total 6 columns):
place_id         8328 non-null int64
place_name       8328 non-null object
lat              8328 non-null float64
lng              8328 non-null float64
place_address    8328 non-null object
category         8328 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 390.5+ KB

In [34]:
place.head()

   place_id place_name        lat         lng place_address category
0         0      가락시장역  37.492317  127.118104     서울특별시 송파구      지하철
1         1   가산디지털단지역  37.480890  126.882574     서울특별시 금천구      지하철
2         3        강남역  37.497942  127.027621     서울특별시 강남구      지하철
3         5        강동역  37.535940  127.132187     서울특별시 강동구      지하철
4         7        강변역  37.535144  127.094672     서울특별시 광진구      지하철

In [35]:
place.tail()

,place_id,place_name,lat,lng,place_address,category
8323,31094,양재천수영장 화장실,37.473464,127.035751,서울특별시 서초구 양재동 126-1,공중화장실
8324,31095,양재천(영동2교둑마루) 화장실,37.476623,127.041509,서울특별시 서초구 양재동 261-23,공중화장실
8325,31096,양재천무인자동화장실(교총삼거리둑마루) 화장실,37.468269,127.028713,서울특별시 서초구 우면동 143-6,공중화장실
8326,31098,살곶이 진출 화장실,37.553132,127.028349,서울특별시 성동구 사근동 102-28,공중화장실
8327,31103,자전거체험장 화장실,37.553973,127.046326,서울특별시 성동구 마장동 811,공중화장실

In [37]:
place.to_csv('place.csv')

# lat lon 이 매우 ,근접한 데이터 지우기

In [133]:
test = place[place.place_name.str.contains('보문동')]

In [137]:
test

,place_id,place_name,lat,lng,place_address,category
1229,11243,보문동주민센터,37.580380,127.022814,서울특별시 성북구 안암로3길 35,지역자치센터
7972,30715,보문동 화장실,37.584859,127.019911,서울특별시 성북구 보문동1가 147-36,공중화장실
8034,30779,보문동주민센터 화장실,37.580368,127.022787,서울특별시 성북구 보문동7가 108-1,공중화장실

In [135]:

import json
import urllib.request
import urllib.request
import datetime
import time
import json


def get_request_url(url):
    
    client_id="R63uNWNQiaTp1EeZl7bW"
    client_secret = "1Im1JohssC"
    
    req = urllib.request.Request(url)
    req.add_header("X-Naver-Client-Id", client_id)
    req.add_header("X-Naver-Client-Secret", client_secret)
    try: 
        response = urllib.request.urlopen(req)
        if response.getcode() == 200:
#             print ("[%s] Url Request Success" % datetime.datetime.now())
            return response.read().decode('utf-8')
    except Exception as e:
        print(e)
        print("[%s] Error for URL : %s" % (datetime.datetime.now(), url))
        return None
    
def getGeoData(address):
    
    base = "https://openapi.naver.com/v1/map/geocode"
    node = ""
    parameters = "?query=%s" % urllib.parse.quote(address)
    url = base + node + parameters
    
    retData = get_request_url(url)
    
    if (retData == None):
        return None
    else:
        return json.loads(retData)

In [138]:
test.place_address.values

array(['서울특별시 성북구 안암로3길  35', '서울특별시 성북구 보문동1가 147-36',
       '서울특별시 성북구 보문동7가 108-1'], dtype=object)

In [146]:

lat= []
lng = []
count = 0
for info_num,info in enumerate(test.place_address.values):
    jsonResult = getGeoData(test.place_address.values[info_num])

    try:
        for item in jsonResult['result']['items']:

            lat.append(str(item['point']['y']))
            lng.append(str(item['point']['x']))
    except Exception as e:
        count+=1 
        print("예외!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        print(test.loc[info_num,'place_address'])
    #         lat.extend(test.loc[info_num,'lat'])
    #         lng.extend(test.loc[info_num,'lng'])
        print(e)

In [147]:
# 3만번대 , 데이터이상함.

In [148]:
print(lat)

['37.5803796', '37.584868', '37.5804089']

In [150]:
print(lng)

['127.0228138', '127.0199381', '127.0228679']

In [153]:
float(lat[2]) - float(lat[0])

2.930000000134214e-05

In [ ]:
# 0.000293 만큼