In [1]:
import pandas as pd

In [3]:
facil =  pd.read_csv('facility_cleansed.csv')

In [4]:
facil.head()

,Unnamed: 0,category,place_name,place_address,lat,lon,place_id
0,0,daycare,영락,중구 수표로 33 (저동2가 69),37.563202,126.989182,40000
1,1,daycare,역삼주간보호센터,강남구 테헤란로8길 36 (역삼동 827-61) 강남문화원 2층,37.496507,127.032048,40001
2,2,wellfare,성민장애인복지관,노원구 노원로32길 30-3 (상계동 321-9),37.655624,127.069340,40002
3,3,wellfare,강서뇌성마비복지관,강서구 방화대로45길 69 (방화동 452-5),37.574198,126.812585,40003
4,4,daycare,모랫말꿈터,영등포구 도영로 37 (도림2동 205-24),37.510186,126.897488,40004

In [8]:
facil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 7 columns):
Unnamed: 0       323 non-null int64
category         323 non-null object
place_name       323 non-null object
place_address    323 non-null object
lat              323 non-null float64
lon              323 non-null float64
place_id         323 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 17.7+ KB

In [7]:
facil.duplicated(subset={'lat','lon'}).sum()

63

In [9]:
facil.drop_duplicates(subset={'lat','lon'},inplace=True)

In [10]:
facil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 322
Data columns (total 7 columns):
Unnamed: 0       260 non-null int64
category         260 non-null object
place_name       260 non-null object
place_address    260 non-null object
lat              260 non-null float64
lon              260 non-null float64
place_id         260 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.2+ KB

In [11]:
facil.to_csv('facility_cleansed.csv')

In [12]:
facil2 =  pd.read_csv('facility_cleansed.csv')

In [13]:
facil2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 8 columns):
Unnamed: 0       260 non-null int64
Unnamed: 0.1     260 non-null int64
category         260 non-null object
place_name       260 non-null object
place_address    260 non-null object
lat              260 non-null float64
lon              260 non-null float64
place_id         260 non-null int64
dtypes: float64(2), int64(3), object(3)
memory usage: 16.3+ KB