In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('disabled_facilities.db')

cur = conn.cursor()

result = cur.execute("select * from facilities")

In [3]:
hj = pd.read_sql_query("SELECT * FROM facilities", conn)  #19291

In [6]:
hj_another_tb = pd.read_sql_query("SELECT * FROM facilities_detail", conn)  #19291

In [7]:
hj_another_tb.head()

   id   facility_available_name  facility_id
0   1    계단 또는 승강설비_(구)왕십리클리닉빌딩          935
1   2           대변기_(구)왕십리클리닉빌딩          935
2   3     장애인전용주차구역_(구)왕십리클리닉빌딩          935
3   4  주출입구 높이차이 제거_(구)왕십리클리닉빌딩          935
4   5      주출입구 접근로_(구)왕십리클리닉빌딩          935

In [4]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10431 entries, 0 to 10430
Data columns (total 9 columns):
id           10431 non-null int64
faclInfId    10431 non-null int64
faclLat      10431 non-null float64
faclLng      10431 non-null float64
faclNm       10431 non-null object
faclTyCd     10431 non-null object
lcMnad       10431 non-null object
wfcltId      10431 non-null object
evalInfo     10431 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 733.5+ KB

In [5]:
hj.describe()

                 id     faclInfId       faclLat       faclLng
count  10431.000000  1.043100e+04  10431.000000  10431.000000
mean   10159.775093  2.011368e+10     37.545611    126.991178
std     5278.470019  7.374023e+08      0.051872      0.084824
min      935.000000  3.906000e+03     37.434986    126.795628
25%     5830.500000  2.014061e+10     37.502745    126.920837
50%    10222.000000  2.014075e+10     37.541449    127.008870
75%    14609.500000  2.014076e+10     37.575051    127.054494
max    19291.000000  2.014076e+10     37.694840    127.178321

In [8]:
hj.rename(columns = {'faclLat':'lat','faclLng':'lon'}, inplace = True)
hj.rename(columns = {'faclNm' : 'place_name','lcMnad':'place_address' }, inplace = True)

In [9]:
hj.columns

Index(['id', 'faclInfId', 'lat', 'lon', 'place_name', 'faclTyCd',
       'place_address', 'wfcltId', 'evalInfo'],
      dtype='object')

In [10]:
hj.drop_duplicates(subset=['lat','lon'],inplace=True)

In [12]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9548 entries, 0 to 10430
Data columns (total 9 columns):
id               9548 non-null int64
faclInfId        9548 non-null int64
lat              9548 non-null float64
lon              9548 non-null float64
place_name       9548 non-null object
faclTyCd         9548 non-null object
place_address    9548 non-null object
wfcltId          9548 non-null object
evalInfo         9548 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 745.9+ KB

In [37]:
# hj 데이터에 place_name - 이거인것들 다빼야함.

,id,faclInfId,lat,lon,place_name,faclTyCd,place_address,wfcltId,evalInfo
0,935,20140610062,37.562726,127.032570,(구)왕십리클리닉빌딩,UC0K02,서울특별시 성동구 왕십리로 333,0000073296,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
1,937,20140762484,37.573937,126.983187,(재)대한불교계종유지재단,UC0A01,서울특별시 종로구 우정국로 56,0000000002,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
2,938,20140512111,37.485282,126.931355,(주)관전인베스트먼트,UC0L02,서울특별시 관악구 신림로64길29 (신림동),0000142761,"객실 및 침실,계단 또는 승강설비,대변기,복도,세면대,소변기,일반사항,장애인전용주차..."
3,939,20140758598,37.490768,126.982048,(주)대광메디텍,UC0A01,서울특별시 동작구 동작대로35길 5,0000000229,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
4,941,20140609927,37.544932,126.910696,(주)동아일보사,UC0K02,서울특별시 마포구 토정로 1,0000073146,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
5,944,20140610623,37.572472,126.970211,(주)메트로신문사,UC0K02,서울특별시 종로구 경희궁길,0000074703,"계단 또는 승강설비,대변기,복도,일반사항,주출입구 높이차이 제거,주출입구 접근로,출..."
6,945,20140753623,37.524395,127.027960,(주)박정어학원,UC0G08,서울특별시 강남구 논현로 843,0000009868,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
7,946,20140758510,37.527233,127.146785,(주)보점,UC0A01,서울특별시 강동구 진황도로61길 76-16,0000000384,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
8,948,20140751212,37.511952,127.035353,(주)서울비젼,UC0K02,서울특별시 강남구 언주로 621,0000014768,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
9,951,20140752601,37.510119,127.113123,(주)승산디앤아이,UC0A14,서울특별시 송파구 오금로 165,0000002338,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
10,952,20140512293,37.476323,126.966224,(주)시아인베스트,UC0K02,서울특별시 관악구 남부순환로1953 (봉천동),0000142735,"계단 또는 승강설비,대변기,복도,일반사항,장애인전용주차구역,주출입구 높이차이 제거,..."
11,953,20140761040,37.507936,127.023598,(주) 씨머스,UC0B01,서울특별시 강남구 학동로2길 56,0000003706,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
12,954,27618,37.484776,126.928646,(주)씨엔에스레지던스,UC0K02,서울특별시 관악구 신림로65길15-8 (신림동),0000143300,"계단 또는 승강설비,대변기,복도,일반사항,장애인전용주차구역,주출입구 높이차이 제거,..."
13,955,20140761768,37.507362,127.040879,(주)아이 에스 케이,UC0B01,서울특별시 강남구 봉은사로44길 31,0000003589,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
14,956,20140762639,37.504031,127.031522,(주)야놀자,UC0A01,서울특별시 강남구 봉은사로24길 46,0000000330,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
15,957,20140761940,37.496715,127.031890,(주)에도긴,UC0B01,서울특별시 강남구 테헤란로8길 34,0000003432,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
16,958,20140762642,37.502579,127.031517,(주)엠씨피이앤에프,UC0A01,서울특별시 강남구 테헤란로13길 44,0000000333,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
17,960,20140754087,37.499494,127.029263,(주)옥스비 학원(유빌딩),UC0G08,서울특별시 강남구 테헤란로5길 11,0000009389,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
18,961,20140753531,37.498657,127.068119,(주)정상에이엘에스(서림상가빌딩),UC0G08,서울특별시 강남구 영동대로 221,0000009879,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
19,964,20140505098,37.445686,126.903342,(주)툴스텍경복,UC0K02,서울특별시 금천구 시흥대로129 (시흥동),0000134931,"계단 또는 승강설비,대변기,복도,일반사항,장애인전용주차구역,주출입구 높이차이 제거,..."
20,966,20140749333,37.464426,126.906836,-,UC0H01,서울특별시 금천구 독산로58가길 56,0000010739,"대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)..."
21,967,20140750527,37.453730,126.907174,-,UC0H01,서울특별시 금천구 독산로22길 15,0000011779,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
22,968,20140750993,37.539947,127.063097,.,UC0F02,서울특별시 광진구 동일로 82-1,0000006273,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
23,969,20140753906,37.490626,126.825981,123전자타운(2동),UC0G08,서울특별시 구로구 경인로 33-7,0000009662,"계단 또는 승강설비,대변기,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거..."
24,970,20140764305,37.498074,126.862677,123전자타운(3동),UC0E01,서울특별시 구로구 중앙로1길 36,0000005787,"계단 또는 승강설비,대변기,비치용품,일반사항,장애인전용주차구역,주출입구 높이차이 제..."
25,982,20140757614,37.448883,126.903230,153플레이스,UC0G08,서울특별시 금천구 시흥대로 164,0000009898,"계단 또는 승강설비,대변기,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거..."
26,983,20140505486,37.517768,127.024655,1st 퍼스트 에비뉴 타워,UC0A14,서울특별시 강남구 도산대로 144,0000134472,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
27,984,20140758386,37.641288,127.067910,2001아울렛중계점,UC0E01,서울특별시 노원구 동일로204가길 46,0000005943,"계단 또는 승강설비,대변기,복도,비치용품,일반사항,장애인전용주차구역,주출입구 높이차..."
28,985,20140758394,37.541591,127.125536,2001아울렛천호점,UC0E01,서울특별시 강동구 구천면로 189,0000005956,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
29,986,20140757626,37.482579,127.017294,21세기병원,UC0F02,서울특별시 서초구 서초중앙로 3,0000006557,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
...,...,...,...,...,...,...,...,...,...
10395,19208,20140754944,37.510048,126.963476,흑석체육센터,UC0J01,서울특별시 동작구 현충로 73,0000013513,"소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10396,19209,20140760950,37.508294,126.965133,흑석초등학교,UC0G03,서울특별시 동작구 현충로 87,0000007269,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,소변기,유도 및 안내 설..."
10397,19211,20140761089,37.509400,127.036220,흥부골 님원 추어탕(레보빌),UC0B01,서울특별시 강남구 언주로113길 14,0000003668,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10399,19215,20140753433,37.565652,127.015896,흥인동우체국,UC0A05,서울특별시 중구 다산로 253,0000001682,"경보 및 피난설비,대변기,매표소, 판매기, 음료대,복도,비치용품,일반사항,접수대 및..."
10400,19216,20140610067,37.517804,126.840768,흥인아이젠,UC0K02,서울특별시 양천구 신월로 155,0000073320,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
10401,19217,20140761377,37.560870,127.014555,흥인초등학교,UC0G03,서울특별시 중구 청구로6길 11,0000007699,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,복도,소변기,유도 및 안..."
10402,19218,20140749080,37.573352,127.023605,흥일안마,UC0B03,서울특별시 동대문구 난계로 244,0000004288,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10403,19219,20140754088,37.512041,127.126242,흥진빌딩,UC0G08,서울특별시 송파구 위례성대로 134,0000009391,"계단 또는 승강설비,대변기,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거..."
10404,19220,20140762622,37.518270,127.019986,흥창빌딩,UC0A01,서울특별시 강남구 도산대로1길 24,0000000311,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10405,19224,20140748545,37.481717,126.836151,흥황교회,UC0D01,서울특별시 구로구 천왕로1길 33,0000004939,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10406,19225,20140504719,37.466375,127.035901,희경,UC0K02,서울특별시 서초구 매헌로16길 32,0000134833,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10410,19229,20140754328,37.512103,126.931724,희래동,UC0B01,서울특별시 동작구 등용로 123,0000002939,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10411,19230,20140749693,37.625620,127.076178,희망나라어린이집,UC0H01,서울특별시 노원구 동일로186길 53-26,0000011484,"계단 또는 승강설비,대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구..."
10412,19231,20140758112,37.453920,126.901288,희명병원,UC0F01,서울특별시 금천구 시흥대로 224,0000006022,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
10413,19232,20140762783,37.529489,126.858886,희목빌딩,UC0A01,서울특별시 강서구 국회대로 215,0000000172,"주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10415,19237,20140761724,37.484147,126.931921,희전샤브샤브,UC0B01,서울특별시 관악구 남부순환로184길 6,0000003737,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10416,19238,20140757492,37.500694,127.010431,희정빌딩,UC0G08,서울특별시 서초구 서초중앙로31길 14-13,0000008978,"계단 또는 승강설비,대변기,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거..."
10417,19239,20140606429,37.480100,126.947147,희창오피스텔,UC0K02,서울특별시 관악구 청룡5길 21,0000071792,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10418,19241,20140763646,37.524195,127.134439,흰돌노인요양센터 3호점,UC0H03,서울특별시 강동구 양재대로 1319,0000012517,"대변기,소변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)..."
10420,19248,20140756033,37.492620,126.945559,힐스타워오피스텔,UC0K02,서울특별시 관악구 성현로 16,0000014588,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
10421,19252,20140607804,37.585639,126.915720,힐 오피스텔,UC0K02,서울특별시 은평구 응암로 152,0000071718,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10422,19253,20140607806,37.600819,126.921066,힐오피스텔,UC0K02,서울특별시 은평구 은평로9길 3-4,0000071721,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10423,19259,20140607190,37.524494,127.044427,힐탑빌딩,UC0K02,서울특별시 강남구 도산대로67길 1,0000072793,"계단 또는 승강설비,대변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입..."
10424,19275,20140610745,37.555455,126.975500,힐튼호텔,UC0K02,서울특별시 중구 소월로 54,0000074789,"계단 또는 승강설비,대변기,복도,일반사항,주출입구 높이차이 제거,주출입구 접근로,출..."
10425,19278,20140751120,37.448805,126.900761,힐하우스,UC0H01,서울특별시 금천구 시흥대로45길 23,0000011079,"대변기,복도,소변기,일반사항,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근..."
10426,19287,20140752882,37.504637,127.042199,힐 헤븐,UC0A14,서울특별시 강남구 언주로 514,0000002164,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."
10427,19288,20140763580,37.511869,127.017672,힘멜에듀센터,UC0H01,서울특별시 서초구 신반포로43길 42,0000011986,"장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로,출입구(문)"
10428,19289,20140750638,37.604771,126.923857,힘찬병원,UC0F02,서울특별시 은평구 서오릉로 45,0000006577,"객실 및 침실,경보 및 피난설비,계단 또는 승강설비,대변기,세면대,소변기,유도 및 ..."
10429,19290,20140757622,37.559192,126.840671,힘찬병원,UC0F02,서울특별시 강서구 강서로56길 38,0000006549,"객실 및 침실,경보 및 피난설비,대변기,세면대,소변기,유도 및 안내 설비,일반사항,..."
10430,19291,20140606906,37.463629,127.034580,伯林빌딩,UC0K02,서울특별시 서초구 매헌로 31-3,0000072493,"계단 또는 승강설비,대변기,장애인전용주차구역,주출입구 높이차이 제거,주출입구 접근로..."

In [36]:
hj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9548 entries, 0 to 10430
Data columns (total 9 columns):
id               9548 non-null int64
faclInfId        9548 non-null int64
lat              9548 non-null float64
lon              9548 non-null float64
place_name       9548 non-null object
faclTyCd         9548 non-null object
place_address    9548 non-null object
wfcltId          9548 non-null object
evalInfo         9548 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 745.9+ KB

In [13]:
hj.columns

Index(['id', 'faclInfId', 'lat', 'lon', 'place_name', 'faclTyCd',
       'place_address', 'wfcltId', 'evalInfo'],
      dtype='object')

In [14]:
hjs = hj[['id','lat','lon','place_name','place_address']]

In [16]:
hjs.head()

    id        lat         lon     place_name             place_address
0  935  37.562726  127.032570    (구)왕십리클리닉빌딩        서울특별시 성동구 왕십리로 333
1  937  37.573937  126.983187  (재)대한불교계종유지재단         서울특별시 종로구 우정국로 56
2  938  37.485282  126.931355    (주)관전인베스트먼트  서울특별시 관악구 신림로64길29 (신림동)
3  939  37.490768  126.982048       (주)대광메디텍       서울특별시 동작구 동작대로35길 5
4  941  37.544932  126.910696       (주)동아일보사           서울특별시 마포구 토정로 1

In [17]:
#df[['lat','lon','faclNm','evalInfo']][(df.lon>126.95300)&(df.lon<126.95330)]

-----

# 영준이 데이터

In [18]:
import sqlite3
import pandas as pd
import numpy as np

In [19]:
main_place =pd.read_csv("main_place.csv",dtype={'lat':str,'lon':str})
main_place[main_place.place_name.str.contains('문일')]

,Unnamed: 0,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [20]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4856 entries, 0 to 4855
Data columns (total 6 columns):
Unnamed: 0       4856 non-null int64
place_name       4856 non-null object
place_address    4856 non-null object
lat              4739 non-null object
lon              4739 non-null object
category         4856 non-null object
dtypes: int64(1), object(5)
memory usage: 227.7+ KB

In [21]:
d = main_place.lat.str.contains("37.4491498",na=False)

In [22]:
main_place[d]

,Unnamed: 0,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [23]:
main_place.columns

Index(['Unnamed: 0', 'place_name', 'place_address', 'lat', 'lon', 'category'], dtype='object')

In [24]:
main_place.rename(columns = {'Unnamed: 0': 'id'}, inplace = True) # id 컬럼으로 이름 주기

In [25]:
# tt = main_place[["lat","lon"]].duplicated(keep=False)
# yj_joongbok =main_place[tt] # 영준씨 중복된 데이터
# yj_joongbok.info()

In [26]:
#yj_joongbok[yj_joongbok.lat.isna()].head(10)

NameError: name 'yj_joongbok' is not defined

In [27]:
yj_joongbok.sort_values(["lat",'lon'],).head(10)

NameError: name 'yj_joongbok' is not defined

In [28]:
main_place[main_place.place_name.str.contains('^문일')]

,id,place_name,place_address,lat,lon,category
2391,598,문일고등학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare
2392,599,문일중학교,서울특별시 금천구 시흥대로47길 45,37.4491498,126.8990574,education/Childcare

In [38]:
main_place.dropna(inplace=True) # drop NA

##### yjs 에 있던 lat ,lon 이 Nan 이었던 데이터들 모두 사라졌다. drop NA

In [39]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
id               4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null object
lon              4446 non-null object
category         4446 non-null object
dtypes: int64(1), object(5)
memory usage: 243.1+ KB

In [40]:
main_place.drop_duplicates(subset=['lat','lon'],inplace=True) # lat , lon 의 중복제거

In [41]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
id               4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null object
lon              4446 non-null object
category         4446 non-null object
dtypes: int64(1), object(5)
memory usage: 243.1+ KB

In [42]:
#형변환
main_place['lat']=main_place['lat'].astype(float)
main_place['lon']=main_place['lon'].astype(float)

In [43]:
main_place.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 6 columns):
id               4446 non-null int64
place_name       4446 non-null object
place_address    4446 non-null object
lat              4446 non-null float64
lon              4446 non-null float64
category         4446 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 243.1+ KB

In [44]:
yj_joongbok[yj_joongbok["place_address"] == "서울특별시 금천구 시흥대로47길 45"]

NameError: name 'yj_joongbok' is not defined

In [45]:
main_place.columns

Index(['id', 'place_name', 'place_address', 'lat', 'lon', 'category'], dtype='object')

In [46]:
yjs = main_place[['id','lat','lon','place_name','place_address']]

In [47]:
yjs.head(10)

,id,lat,lon,place_name,place_address
0,0,37.583269,127.002443,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37
1,1,37.523930,127.025143,BBC씨어터,서울특별시 강남구 신사동 568-2
2,2,37.568835,126.988123,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1
3,3,37.549100,126.922860,BYRDS(버즈),서울특별시 마포구 와우산로 51
4,4,37.554833,126.923213,Between the Bars,서울특별시 마포구 어울마당로 114
5,5,37.501621,127.026391,CGV 강남,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층
6,6,37.563424,126.982920,CGV 명동,서울특별시 중구 명동2가 83-5 눈스퀘어 8층
7,7,37.569951,126.899029,CGV 상암,서울특별시 마포구 월드컵로 240
8,8,37.478738,127.121117,CGV 송파,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층
9,9,37.528452,127.125378,CGV강변,서울특별시 강동구 성내로 48

In [48]:
yjs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4446 entries, 0 to 4855
Data columns (total 5 columns):
id               4446 non-null int64
lat              4446 non-null float64
lon              4446 non-null float64
place_name       4446 non-null object
place_address    4446 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 208.4+ KB

In [49]:
hjs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9548 entries, 0 to 10430
Data columns (total 5 columns):
id               9548 non-null int64
lat              9548 non-null float64
lon              9548 non-null float64
place_name       9548 non-null object
place_address    9548 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 447.6+ KB

# 합치자ㅡ

In [50]:
zzang = yjs.append(hjs)

In [76]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9586 entries, 0 to 10430
Data columns (total 5 columns):
id               9586 non-null int64
lat              9586 non-null float64
lon              9586 non-null float64
place_name       9586 non-null object
place_address    9586 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 449.3+ KB

In [75]:
zzang.head()

   id        lat         lon        place_name         place_address
0   0  37.583269  127.002443     A아트홀(구.신연아트홀)    서울특별시 종로구 동숭동 1-37
1   1  37.523930  127.025143            BBC씨어터  서울특별시 강남구 신사동  568-2
2   2  37.568835  126.988123    BREAK OUT 전용극장    서울특별시 종로구 관철동 33-1
3   3  37.549100  126.922860         BYRDS(버즈)     서울특별시 마포구 와우산로 51
4   4  37.554833  126.923213  Between the Bars   서울특별시 마포구 어울마당로 114

----------------------

# 중복제거 로직 만들기

In [58]:
zzang[zzang.duplicated(subset=['lat','lon'],keep=False)]

Empty DataFrame
Columns: [id, lat, lon, place_name, place_address]
Index: []

In [68]:
zzang[zzang.duplicated(subset=['place_address'],keep=False)].sort_values('place_address').count()

id               6002
lat              6002
lon              6002
place_name       6002
place_address    6002
dtype: int64

In [69]:
zzang[zzang.duplicated(subset=['place_name'],keep=False)].sort_values('place_name').count()  ##<< 당첨

id               8204
lat              8204
lon              8204
place_name       8204
place_address    8204
dtype: int64

In [70]:
zzang[zzang.duplicated(subset=['place_name','place_address'],keep=False)].sort_values('place_name').count()

id               5296
lat              5296
lon              5296
place_name       5296
place_address    5296
dtype: int64

In [73]:
zzang.drop_duplicates(subset=['place_name'],inplace=True)

In [74]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9586 entries, 0 to 10430
Data columns (total 5 columns):
id               9586 non-null int64
lat              9586 non-null float64
lon              9586 non-null float64
place_name       9586 non-null object
place_address    9586 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 449.3+ KB

In [93]:
zzang[zzang.place_name == '-'] # 이거 빼야함.

     id        lat         lon place_name         place_address
20  966  37.464426  126.906836          -  서울특별시 금천구 독산로58가길 56

In [ ]:
zzang.drop[]

In [104]:
zzang[zzang.id == 966]

       id        lat         lon  place_name            place_address
2759  966  37.694797  127.042399  서울인강학교<C동>  서울특별시 도봉구 평화로15번길  9-25
20    966  37.464426  126.906836           -     서울특별시 금천구 독산로58가길 56

In [120]:
zzang[zzang.place_address == '서울특별시 금천구 독산로58가길 56']

     id        lat         lon place_name         place_address
20  966  37.464426  126.906836          -  서울특별시 금천구 독산로58가길 56

In [119]:
zzang

,id,lat,lon,place_name,place_address
0,0,37.583269,127.002443,A아트홀(구.신연아트홀),서울특별시 종로구 동숭동 1-37
1,1,37.523930,127.025143,BBC씨어터,서울특별시 강남구 신사동 568-2
2,2,37.568835,126.988123,BREAK OUT 전용극장,서울특별시 종로구 관철동 33-1
3,3,37.549100,126.922860,BYRDS(버즈),서울특별시 마포구 와우산로 51
4,4,37.554833,126.923213,Between the Bars,서울특별시 마포구 어울마당로 114
5,5,37.501621,127.026391,CGV 강남,서울특별시 강남구 역삼동 814-6 스타플렉스 4-11층
6,6,37.563424,126.982920,CGV 명동,서울특별시 중구 명동2가 83-5 눈스퀘어 8층
7,7,37.569951,126.899029,CGV 상암,서울특별시 마포구 월드컵로 240
8,8,37.478738,127.121117,CGV 송파,서울특별시 송파구 문정동 294 가든파이브 라이프 YOUNG관 10층
9,9,37.528452,127.125378,CGV강변,서울특별시 강동구 성내로 48
10,10,37.501177,126.882847,CGV구로,서울특별시 구로구 구로중앙로 152
11,11,37.555810,127.078365,CGV군자,서울특별시 광진구 능동로 289
12,12,37.570651,126.972992,CGV대학로,서울특별시 종로구 새문안로 75
13,13,37.526592,126.874452,CGV목동,서울특별시 양천구 목동동로 257
14,14,37.609740,126.928968,CGV불광,서울특별시 은평구 불광로 20
15,15,37.556540,126.940294,CGV신촌아트레온,서울특별시 서대문구 신촌로 129
16,16,37.517052,126.903333,CGV신한카드아트홀(구 CGV팝아트홀),서울특별시 영등포구 영등포동 4가 442번지 타임스퀘어내 CGV팝아트홀 7층
17,17,37.524366,127.029416,CGV압구정,서울특별시 강남구 압구정로30길 45
18,18,37.529261,126.924906,CGV영등포,서울특별시 영등포구 여의공원로 101
19,19,37.525151,127.052000,CLUB ANSWER,서울특별시 강남구 청담동 125-16
20,20,37.499552,127.026308,CLUB mASS,서울특별시 서초구 서초4동 1306-8번지 대동빌딩 B1
21,21,37.501549,127.037318,GS타워 소극장,서울특별시 강남구 역삼1동 679-1 GS타워 25층
22,22,37.504322,127.003538,JW 메리어트호텔 그랜드볼룸,서울특별시 서초구 반포동 19-3 메리어트호텔
23,23,37.501992,127.037352,LG아트센터,서울특별시 강남구 논현로 508
24,24,37.499205,127.030267,LIG아트홀,서울특별시 강남구 테헤란로 117
25,25,37.499200,127.030284,LIG아트홀(강남),서울특별시 강남구 역삼동 649-11 LIG타워 LIG아트홀
26,26,37.523893,127.039645,OTM청담아트홀 (구KS청담홀),서울특별시 강남구 청담동 86번지 I 빌딩 3층
28,28,37.516262,127.020648,강남 동양아트홀,서울특별시 강남구 논현동 1-3 렉스타워 지하 1층
29,29,37.568163,126.969971,강북 정동 난타 전용관,서울특별시 중구 정동 22번지 경향신문사 건물 1층
30,30,37.543888,127.075955,건국대학교 국제회의장,서울특별시 광진구 능동로 120 (화양동)
...,...,...,...,...,...
10381,19180,37.523368,126.923451,휴렛패커드 빌딩,서울특별시 영등포구 의사당대로 83
10382,19184,37.563600,126.852026,휴먼빌,서울특별시 강서구 양천로57길 -13
10383,19190,37.515751,127.019161,휴먼타워,서울특별시 서초구 강남대로 605
10384,19193,37.528518,126.908263,휴브리지,서울특별시 영등포구 버드나루로 116
10385,19194,37.528564,126.906869,휴브리지Ⅱ,서울특별시 영등포구 버드나루로23길 25
10386,19198,37.500494,127.024952,흑다돈,서울특별시 서초구 강남대로65길 14
10387,19199,37.495376,127.024715,흑도가,서울특별시 서초구 서운로 133
10388,19200,37.512517,127.056314,흑돈가,서울특별시 강남구 봉은사로86길 14
10391,19203,37.505645,126.966573,흑석 데이케어센터,서울특별시 동작구 흑석한강로 13
10397,19211,37.509400,127.036220,흥부골 님원 추어탕(레보빌),서울특별시 강남구 언주로113길 14
10400,19216,37.517804,126.840768,흥인아이젠,서울특별시 양천구 신월로 155
10402,19218,37.573352,127.023605,흥일안마,서울특별시 동대문구 난계로 244
10403,19219,37.512041,127.126242,흥진빌딩,서울특별시 송파구 위례성대로 134
10404,19220,37.518270,127.019986,흥창빌딩,서울특별시 강남구 도산대로1길 24
10406,19225,37.466375,127.035901,희경,서울특별시 서초구 매헌로16길 32
10410,19229,37.512103,126.931724,희래동,서울특별시 동작구 등용로 123
10413,19232,37.529489,126.858886,희목빌딩,서울특별시 강서구 국회대로 215
10415,19237,37.484147,126.931921,희전샤브샤브,서울특별시 관악구 남부순환로184길 6
10416,19238,37.500694,127.010431,희정빌딩,서울특별시 서초구 서초중앙로31길 14-13
10417,19239,37.480100,126.947147,희창오피스텔,서울특별시 관악구 청룡5길 21
10418,19241,37.524195,127.134439,흰돌노인요양센터 3호점,서울특별시 강동구 양재대로 1319
10420,19248,37.492620,126.945559,힐스타워오피스텔,서울특별시 관악구 성현로 16
10421,19252,37.585639,126.915720,힐 오피스텔,서울특별시 은평구 응암로 152
10422,19253,37.600819,126.921066,힐오피스텔,서울특별시 은평구 은평로9길 3-4
10423,19259,37.524494,127.044427,힐탑빌딩,서울특별시 강남구 도산대로67길 1
10424,19275,37.555455,126.975500,힐튼호텔,서울특별시 중구 소월로 54
10425,19278,37.448805,126.900761,힐하우스,서울특별시 금천구 시흥대로45길 23
10426,19287,37.504637,127.042199,힐 헤븐,서울특별시 강남구 언주로 514
10427,19288,37.511869,127.017672,힘멜에듀센터,서울특별시 서초구 신반포로43길 42
10430,19291,37.463629,127.034580,伯林빌딩,서울특별시 서초구 매헌로 31-3

In [113]:
zzang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9586 entries, 0 to 10430
Data columns (total 5 columns):
id               9586 non-null int64
lat              9586 non-null float64
lon              9586 non-null float64
place_name       9586 non-null object
place_address    9586 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 769.3+ KB

# toilets

# Facilities